.color-picker {
    .color-circle {
        margin-left: 0;
        display: inline-block;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        position: relative;
        cursor: pointer;
    }
    .inner-circle {
        margin-left: 0;
        position: absolute;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 50%;
        left: 11%;
        top: 11%;
        height: 24px;
        width: 24px;
        position: relative;
        cursor: pointer;
    }
}
