.color-picker {
    display: grid;
    justify-content: space-between;
    .color-circle {
        margin-left: 0;
        display: inline-block;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        position: relative;
        cursor: pointer;
    }
    .checkmark {
        position: absolute;
        transform: rotate(45deg) translate(-50%, -50%);
        left: 28%;
        top: 46%;
        height: 12px;
        width: 7px;
        border-bottom: 3px solid white;
        border-right: 3px solid white;
    }
}
