.tabs-container {
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
        color: var(--purple) !important;
    }
    .ant-tabs-ink-bar{
        background: var(--purple);
        border-radius: 10px;
        border-radius: 2px 2px 0px 0px;
    }
    .ant-tabs-tab .tabs-name {
        cursor: pointer;
    }
    .ant-tabs-tab-disabled {
        .tabs-name {
            cursor:not-allowed
        }
    }
    .tabs-name{
        display: flex;
        .badge {
            background-color: #f7685b;
            color: #ffffff;
            font-size: 12px;
            align-items: center;
            border-radius: 50px;
            margin: 0 5px;
            padding: 0px 5px 0px 3px;
            line-height: 12px;
            display: flex;

        }
    }

}

.hover .ant-tabs-tab:hover{
    color: var(--purple) !important;
}

