.tabs-container {
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
        color: var(--purple) !important;
    }
    .ant-tabs-ink-bar{
        background: transparent !important;
        border: 1px solid  var(--purple);;
        border-radius: 2px 2px 0px 0px;
    }
    .ant-tabs-tab .tabs-name {
        cursor: pointer;
        font-family: 'InterMedium';

    }
    .ant-tabs-tab-disabled {
        .tabs-name {
            cursor:not-allowed
        }
    }
    .tabs-name{
        display: flex;
        align-items:center;
        .error-icon img{
            width: 20px;
            margin-left: 3px;
        }
    }

}

.hover .ant-tabs-tab:hover{
    color: var(--purple) !important;
}

