.tabs-container {
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
        color: var(--purple) !important;
    }
    .ant-tabs-ink-bar{
        background: var(--purple);
        border-radius: 10px;
    }

}
.hover .ant-tabs-tab:hover{
    color: var(--purple) !important;
}