.ant-popover {
    padding-top: 0;
}

.ant-popover-inner {
    border-radius: 8px;
}
.tasks-container {
    max-height: 300px;
    overflow-y: auto;
    .ant-divider {
        margin: 0;
    }
}
.async-number {
    font-family: 'InterSemiBold';
    color: #2e2c34;
    font-size: 12px;
    background-color: #ffc633;
    padding: 2px 5px;
    border-radius: 50%;
}
.async-btn-container {
    border-radius: 46px 0px 0px 46px;
    background: linear-gradient(254deg, #ffc633 -44.11%, #61dfc6 17.78%, #6557ff 83.93%);
    box-shadow: 0px 1.438px 2.875px 0px rgba(16, 24, 40, 0.05), 0px 2.875px 17.25px 0px rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 120px;
    z-index: 9999 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px 10px 15px;
    cursor: pointer;
}
.overview-tasks {
    cursor: pointer;
}

.async-title {
    color: #737373;
    margin-right: 5px;
    font-size: 13px;
    font-family: 'Inter';
    span {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        p {
            margin-bottom: 0px;
            font-size: 16px;
            font-family: 'InterSemiBold';
            color: #2e2c34;
        }
    }

    .ant-divider {
        margin: 0;
    }
}
.task-item {
    cursor: pointer;
    width: 350px;
    height: 60px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    position: relative;
    .task-status {
        position: absolute;
        left: 8px;
        top: 18px;
    }
    p {
        margin-bottom: 0;
    }
    img {
        padding-left: 15px;
        padding-right: 10px;
    }
    .task-title {
        color: #101828;
        font-weight: 500;
    }
    .created {
        color: #7f7d83;
        font-weight: 400;
        font-size: 12px;
    }
}

.show-more-less-tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6557ff;
    font-family: 'InterSemiBold';
    padding: 10px;
    cursor: pointer;
    label {
        cursor: pointer;
    }
}
.ant-badge-status-processing {
    background-color: var(--purple);
}
