.ant-popover {
    padding-top: 0;
}

.ant-popover-inner {
    border-radius: 8px;
}
.tasks-container {
    max-height: 300px;
    overflow-y: auto;
    .ant-divider {
        margin: 0;
    }
}
.async-number {
    font-family: 'InterSemiBold';
    color: #2e2c34;
    font-size: 12px;
    background-color: #ffc633;
    padding: 2px 5px;
    border-radius: 50%;
}

.async-btn-container {
    border-radius: 50px;
    color: rgb(29, 29, 29);
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 34px;
    border-color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    font-family: Inter;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.21) 0px 1px 2px 0px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .async-btn {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            padding: 0px 10px;
        }
    }
}
.async-title {
    color: #737373;
    margin-right: 5px;
    span {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        p {
            margin-bottom: 0px;
            font-size: 16px;
            font-family: 'InterSemiBold';
            color: #2e2c34;
        }
    }

    .ant-divider {
        margin: 0;
    }
}
.task-item {
    cursor: pointer;
    width: 350px;
    height: 60px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    p {
        margin-bottom: 0;
    }
    img {
        padding-left: 15px;
        padding-right: 10px;
    }
    .task-title {
        color: #101828;
        font-weight: 500;
    }
    .created {
        color: #7f7d83;
        font-weight: 400;
        font-size: 12px;
    }
}

.show-more-less-tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6557ff;
    font-family: 'InterSemiBold';
    padding: 10px;
    cursor: pointer;
    label {
        cursor: pointer;
    }
}
