.messages-container {
    min-width: 400px;
    width: 40vw;
    height: 73vh;
    min-height: 550px;
    box-shadow: 0px 0px 4px 3px rgba(204, 204, 204, 0.19);
    border-radius: 8px;
    background: white;
    position: relative;
    .header {
        padding: 15px 15px 0px 15px;
        display: flex;
        line-height: 40px;
        justify-content:space-between;
        .left-side{
            display: flex;
            .title {
                font-weight: 600;
                font-size: 14px;
                margin: 0;
            }
            .messages-amount{
                display: flex;
                margin-left: 16px;
                color: #737373;
                svg {
                    width: 11px;
                    margin-right: 5px;
                    height: 100%;
                }
                p{
                    margin: 0;
                    font-size: 10px;
                    font-weight: 500;
                }
            }
        }
        .right-side{
            position: relative;
            display: flex;
            width: 190px;
            justify-content: space-between;
            top: 10px;
        }
        .add-functions-button {
            cursor: pointer;
            color: var(--purple);
            font-weight: 600;
            font-size: 12px;
        }
    }
    .tabs{
        .ant-tabs-tab{
            color: rgba(28, 46, 69, 0.6);
            font-size: 12px;
            font-weight: 500;
        }
        .ant-tabs-nav-wrap{
            padding-left: 15px !important;
        }
        .ant-tabs-top > .ant-tabs-nav{
            margin: 0;
        }
    }
    .list-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        height: calc(100% - 100px);
        .coulmns-table {
            border-bottom: 1px solid #e9e9e9;
            display: flex;
            color: #737373;
            font-size: 12px;
            font-weight: 500;
            line-height: 40px;
            p {
                margin: 0;
            }
            .left-coulmn{
                display: flex;
                width: 50%;
                padding-left: 15px;
                p{
                    padding-left: 15px;
                }
            }
            .right-coulmn {
                width: 50%;
                display: flex;
                justify-content: center;
            }
            .all p{
                padding-left: 0px !important;
            }
        }
        .list {
            position: relative;
            height: calc(100% - 40px);
            min-width: 225px;
           display: flex;
         
            .rows-wrapper {
                position: relative;
                height: calc(100%);
                width: 50%;
                overflow: auto;
                border-right: 1px solid #E9E9E9;
                .message-row {
                    width: 100%;
                    height: 35px;
                    display: flex;
                    color: #1d1d1d;
                    align-items: center;
                    font-weight: 400;
                    font-size: 12px;
                    padding-left: 8px;
                    display: flex;
                    width: 96%;
                    margin-left: 2%;
                    margin-top: 1%;
                    border-radius: 5px;
                    cursor: pointer;
                    div {
                        margin-left: 15px;
                        cursor: pointer !important;
                    }
                }
                .selected {
                    padding-left: 5px;            
                    border-left: 3px solid var(--purple);
                    background: #EFEEFD !important;
                }
                .empty-messages{
                    display: flex;
                    width: 95%;
                    height: 100%;
                    position: relative;
                    align-items: center;
                    justify-content: center;
                    p{
                        margin: 0;
                        color: var(--gray);
                        font-weight: 600;
                        font-size: 16px;
                    }
                }
            }
            
           
            
            .all .message-row div {
                margin-left: 0px !important;
            }
            .message-row:nth-child(even) {
                background-color: #f8f8f8;
                border-radius: 5px;
            }
        }
        .message-wrapper{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: calc(100% - 5px);
            .row-data{
                overflow-wrap: anywhere;
                overflow: auto;
                height: calc(100% - 10px);
                padding-top:10px;
                position: relative;
                .ant-space{
                    width: 100%;
                    .ant-collapse-content-box {
                        max-height: 325px;
                        overflow: auto;
                        overflow-wrap:break-word;
                    }
                }
               
            }
            .button-container{
                padding-top: 5px !important;
                margin-left: 3%;
                .botton-title{
                    display: flex;
                    img {
                        margin-right:5px;
                    }
                    p{
                        margin: 0;
                    }
                }
            }
        }
       
        
    }
    .empty-messages{
        display: flex;
        width: 95%;
        height: calc(100% - 100px);
        position: relative;
        align-items: center;
        justify-content: center;
        p{
            margin: 0;
            color: var(--gray);
            font-weight: 600;
            font-size: 16px;
        }
    }
}

