.select-schema-container {
    .select {
        border: 1px solid #d8d8d8;
        border-radius: 4px;
        height: 40px;
        width: 450px;
        display: flex;
        align-items: center;
        .ant-select-selector .scheme-details {
            display: none;
        }
        .ant-select-selector .schema-name {
            margin-right: 10px;
            font-family: 'InterMedium';
            font-size: 14px !important;
            color: #2e2c34;
        }
        .drop-down-icon {
            color: black;
            margin-left: 10px;
        }
    }
}
.select-schema-options {
    p {
        margin: 0;
    }
    .schema-details {
        display: flex;
        align-items: center;
    }
    .schema-name {
        font-family: 'InterMedium';
        font-size: 16px;
        margin: 0;
        margin-left: 10px;
    }
    .created-by {
        font-family: 'InterMedium';
        font-size: 12px;
        color: rgba(28, 46, 69, 0.6);
    }
    .ant-select-item-option {
        margin: 3px 8px;
        border-radius: 8px;
    }
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        background: rgba(101, 87, 255, 0.1);
        border-radius: 8px;
        margin: 3px 8px;
        font-weight: unset !important;
    }
}
.ant-select-selection-item {
    .schema-details {
        img {
            display: none;
        }
    }
}
