.logs-container {
    width: calc(100% - 70px);
    position: absolute;
    padding: 1vw;
    min-width: 700px;
    height: 100%;
    p {
        margin: 0;
    }
<<<<<<< HEAD
    header {
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
        .filter-btn-container {
            display: flex;
            .sep {
                width: 10px;
            }
        }
    }
=======
>>>>>>> e06aca59fcb29e3955bf655331bab005d941f9ab
}
