.logs-container {
    width: calc(100% - var(--main-container-sidebar-width));
    transition: .3s ease-in-out;
    position: absolute;
    padding: 1vw;
    min-width: 700px;
    height: 100%;
    p {
        margin: 0;
    }
}
