.logs-container {
    width: calc(100% - 90px);
    position: absolute;
    padding: 1vw;
    min-width: 700px;
    height: 100%;
    p {
        margin: 0;
    }
    .filter-section {
        display: flex;
        justify-content: space-between;
        width: 280px;
    }
}
