.attach-station-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p{
        margin: 0;
    }
   .title{
    font-size: 18px;
    font-family: "InterSemiBold";
   } 
   .desc{
    font-size: 14px;
    color: #667085;
   }
   .stations-list{
    height: calc(100% - 150px);
    border: 1px solid #ECECEC;
    border-radius: 4px;
    .ovel-label{
        margin-left: 10px;
        font-family: 'InterMedium';
        line-height:16px;
    }
    .header{
        display: flex;
        background: #fbfbfb;
        border-bottom: 1px solid #F5F5F5;
        padding: 10px;
        font-size: 12px;
        color: #84818A;
        margin-bottom: 5px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        align-items:center;
    }
    .placeholder{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        p{
            font-family: 'InterSemiBold';
            font-size: 16px;
            color: rgba(74, 73, 92, 0.8);
        }
    }
    .station-wraper{
        width: 100%;
        height: calc(100% - 50px);
        overflow: auto;
        .station-row {
            display: flex;
            padding: 8px;
            margin: 3px 10px;
            font-size: 14px;
            cursor: pointer;
            align-items:center;

            border-radius: 4px;
        }
        .station-row:nth-child(even) {
            background: #F9F9FA;
        }
        .station-row:hover{
            background: #EFEEFD;
        }
    }

   }
   .buttons {
    display: flex;
    width: 100%;
   }
}