    .video {
        display: flex;
        padding: 10px;
        height: 250px;
        width: 350px;
        background-color: #F5F6F7;
        border-radius: 20px;
        justify-content: center;
    }