$animation-time: 2s;
$animation-type: ease-in-out;

.overview-usage-container {
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    padding-bottom: 35px;
    min-height: 150px;
    .usage-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .upgrade-plans-container {
            .upgrade-button-wrapper {
                background: var(--yellow);
                width: fit-content;
                padding: 0px 5px;
                border-radius: 32px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
                cursor: pointer;
                p {
                    margin: 0;
                    font-family: 'InterSemiBold';
                    font-size: 12px;
                }
            }
            .upgrade-button-wrapper:hover{
                opacity: 0.9;
            }
        }
    }
    .usage-body {
        display: flex;
        flex-grow: 1;
        width: 100%;
        flex-direction: row;
        gap: 8px;
        .usageLeft-side {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            justify-content: flex-end;
            .usageLeft-label {
                margin-bottom: -5px;
                transition: padding-left $animation-time $animation-type;

                .dividerContainer {
                    display: flex;
                    flex-direction: column;
                    border-left: 1px solid #d2d2d2;
                    padding-left: 8px;
                    padding-bottom: 19px;

                    .labelMain {
                        display: inline;
                        color: #2e2c34;
                        font-family: 'Inter';
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 20px;
                    }
                    .labelSecondary {
                        display: inline;
                        color: #808191;
                        font-family: 'Inter';
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 6.298px;
                        white-space: nowrap;
                    }
                }
            }
            .totalContainer {
                flex-direction: row;
                align-self: stretch;
                display: flex;
                height: 29px;
                border-radius: 4px;
                background: #ececec;
                .dataContainer {
                    border-radius: inherit;
                    height: 100%;
                    background: #6557ff;
                    transition: width $animation-time $animation-type;
                }
            }
        }
        .usageRight-side {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 3px;
            .mainText {
                color: #2e2c34;
                font-family: 'Inter';
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: -1px;
                margin-bottom: 0px;
            }
            .secondaryText {
                color: #808191;
                text-align: center;
                font-family: 'Inter';
                font-size: 8px;
                font-style: normal;
                font-weight: 500;
                line-height: 6.298px;
                margin-bottom: 0px;
            }
        }
    }
}
