.loginContainers {
    width: 100%;
    height: 100%;
    position: absolute;
    background: white;
    min-width: 800px;
    overflow: auto;
    .desktop-container {
        position: absolute;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        min-height: 600px;
        .desktop-content {
            position: relative;
            display: grid;
            grid-template-rows: 25% 25% 50%;
            .logoImg {
                padding: 50px;
                img {
                    width: 175px;
                    height: auto;
                }
            }
            .title {
                font-size: 48px;
                color: var(--blue);
                font-weight: 600;
                margin-bottom: 20px;
                p {
                    display: flex;
                    margin: 5px;
                    justify-content: center;
                }
            }
            .login-form {
                justify-self: center;
                .field {
                    p {
                        font-size: 12px;
                        font-weight: 400;
                        color: var(--blue);
                        margin-bottom: 8px;
                    }
                }
                .button-container {
                    padding-top: 20px;
                }
                .ant-form-item-control {
                    margin: 0;
                }
                .ant-form-item-explain-error{
                    min-width: 195px;
                }
            }
        }
        .brand-shapes {
            overflow: hidden;
        }
    }
}

.error-message {
    position: absolute;
    width: 21vw;
    p {
        color: #ff4d4f;
    }
}

.mobile-login {
    display: grid;
    overflow: auto;
    grid-template-rows: 30% 70%;
    height: 100%;
    .logo-mobile {
        position: relative;
        top: 10%;
    }
    .mobile-form {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        .ant-form {
            position: relative;
            justify-items: center;
            .ant-form-item {
                min-width: 230px;
                height: 70px;
                margin-bottom: 0px;
            }
            .ant-form-item-explain.ant-form-item-explain-error {
                float: left;
                display: flex;
                padding-left: 16px;
                width: 60vw;
                text-align: left;
            }
        }

        .ant-input-affix-wrapper {
            background-color: #f9f9f9 !important;
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.21);
        }
        .checkbox-container {
            justify-content: center;
        }
        .ant-checkbox-checked .ant-checkbox-inner {
            background-color: #8277d9;
            border-color: #8277d9;
        }
        .ant-checkbox-checked::after {
            border-color: #8277d9;
        }
        .ant-checkbox-inner {
            border-color: #8277d9;
            background-color: transparent;
        }
        .ant-checkbox + span {
            color: var(--blue);
        }
        .error-message {
            position: relative;
        }
    }
}

.styles_loading__Z65VQ {
    height: 40px !important;
    padding-top: 10px;
}
