.selecte-check-box-wrapper {
    .option-wrapper {
        display: flex;
        flex-direction: row;
        padding: 16px;
        gap: 4px;
        background: #ffffff;
        border: 1px solid #eaecf0;
        border-radius: 8px;
        font-family: 'InterMedium';
        font-size: 16px;
        margin-bottom: 12px;
        justify-content: space-between;
        svg {
            width: 18px;
            height: 18px;
        }
        .uncheck-icon {
            width: 16px;
            height: 16px;
            border: 1px solid #d0d5dd;
            border-radius: 8px;
            margin-right: 2px;
        }
        .option-content {
            display: flex;
            flex-direction: column;
            max-width: 95%;
            p {
                color: #101828;
                line-height: 16px;
                font-family: 'InterMedium';
                font-weight: 500;
                margin-bottom: 5px;
            }
            span {
                font-family: 'Inter';
                font-weight: 400;
                font-size: 14px;
                color: #475467;
            }
        }
    }
    .check-and-content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .check-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
    }
    .allowed:hover {
        cursor: pointer;
        border-color: var(--purple) !important;
    }
    .not-allowed {
        cursor: not-allowed !important;
        background-color: #f5f5f5;
    }
    .selected {
        background: rgba(101, 87, 255, 0.1);
        border-color: var(--purple);
        svg {
            color: var(--purple);
        }
        .option-content {
            p {
                color: var(--purple);
            }
        }
    }
}
