.station-box-container {
    width: calc(100%);
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    min-height: 60px;
    margin-bottom: 17px;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    min-width: 1370px;
    flex-direction: column;
    .data-labels {
        color: #84818a;
        font-size: 12px;
        font-family: 'InterSemiBold';
        cursor: pointer;
    }
    .poison {
        text-align: -webkit-center;
        text-align: -moz-center;
        .health-icon {
            width: 90px;
            margin-top: 10px;
        }
    }
    .attached {
        min-width: 110px;
    }
    .station-meta {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .header {
            display: flex;
            align-items: center;
            gap: 6px;
        }
    }
    .data-info {
        color: #2e2c34;
        font-size: 14px;
        margin-bottom: 0px;
        text-transform: capitalize;
        margin-left: 1px;
        font-family: 'InterSemiBold';
        cursor: pointer !important;
        .anticon svg {
            color: #2e2c34;
            width: 7px;
            height: 20px;
        }

        .station-box-container .data-info .anticon svg {
            width: 7px;
            height: 20px;
        }
    }
    .no-text-transform {
        text-transform: none;
    }
    .retention-info {
        text-transform: none;
        width: fit-content !important;
    }
    .main-section,
    .bottom-section {
        padding-left: 18px;
        padding-right: 18px;
    }
    .main-section {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 90px;
        padding-top: 15px;
        padding-bottom: 10px;
        .left-section {
            padding-right: 20px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-width: 240px;
            .check-box {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                .station-name {
                    font-size: 17px;
                    font-family: 'InterSemiBold';
                    margin: 0;
                    color: #2e2c34;
                    cursor: pointer !important;
                    align-items: center;
                    .non-native-label {
                        color: #84818a;
                        font-size: 12px;
                        font-family: 'InterSemiBold';
                    }
                }
            }
        }
        .middle-section {
            border-left: 1px solid #e9e9e9;
            padding-left: 20px;
            padding-right: 20px;
            display: flex;
            max-width: 400px;
            padding-left: 20px;
            padding-right: 40px;
            .station-created {
                margin-right: 40px;
            }
        }
        .right-section {
            display: flex;
            border-left: 1px solid #e9e9e9;
            padding-left: 20px;
            justify-content: space-between;
            flex-grow: 1;
            .station-meta {
                img {
                    width: 14px;
                    margin-right: 3px;
                }
            }
            .station-actions {
                display: flex;
                width: 35px;
                height: 100%;
                align-items: flex-start;
                .action {
                    border: 1px solid #ececec;
                    border-radius: 8px;
                    width: 30px;
                    height: 30px;
                    justify-content: center;
                    align-items: center;
                    background: rgba(101, 87, 255, 0.2);
                    cursor: pointer;
                    img,
                    svg {
                        width: 15px;
                    }
                    display: none;
                }
                .action:hover {
                    opacity: 0.8;
                }
            }
        }
    }
    .bottom-section {
        min-height: 42px;
        border-top: 1px solid rgba(101, 87, 255, 0.15);
        background: rgba(166, 158, 252, 0.03);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 28px;
        .meta-container,
        .tags-list {
            display: flex;
            align-items: center;
            gap: 4px;
        }
        .tags-list {
            max-width: 230px;
            margin-left: auto;
        }
    }
    &:hover {
        border-radius: 8px;
        outline: 1px solid #dedbf9;
    }
}

.check-box-station {
    position: absolute;
    padding: 19px;
}
