.station-box-container {
    width: calc(100%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 3px rgba(221, 221, 221, 0.3);
    min-height: 60px;
    margin-bottom: 17px;
    overflow: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    min-width: 1370px;
    .data-labels {
        color: #84818a;
        font-size: 12px;
        font-family: 'InterSemiBold';
        cursor: pointer;
    }
    .poison {
        text-align: -webkit-center;
        text-align: -moz-center;
        .health-icon {
            width: 90px;
            margin-top: 10px;
        }
    }
    .attached {
        min-width: 110px;
    }
    .station-meta {
        display: flex;
        flex-direction: column;
        .header {
            display: flex;
        }
        .data-info {
            margin-left: 17px;
        }
    }
    .data-info {
        color: #2e2c34;
        font-size: 14px;
        margin-bottom: 0px;
        text-transform: capitalize;
        margin-left: 1px;
        margin-top: 10px;
        font-family: 'InterSemiBold';
        cursor: pointer !important;
        .anticon svg {
            color: #2e2c34;
            width: 7px;
            height: 20px;
        }

        .station-box-container .data-info .anticon svg {
            width: 7px;
            height: 20px;
        }
    }
    .left-section {
        max-width: 300px;
        width: 100%;
        .check-box {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            .station-name {
                font-size: 17px;
                font-family: 'InterSemiBold';
                margin: 0;
                margin-left: 25px;
                color: #2e2c34;
                cursor: pointer !important;
                align-items: center;
                .non-native-label {
                    color: #84818a;
                    font-size: 12px;
                    font-family: 'InterSemiBold';
                }
            }
        }
        .date {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            max-width: 300px;
        }
    }
    .middle-section {
        border-left: 1px solid #e9e9e9;
        padding-left: 20px;
        display: flex;
        max-width: 400px;
        width: 100%;
        .station-created {
            margin-right: 40px;
        }
        .tags-list {
            margin-bottom: 0px;
            margin-left: 1px;
            margin-top: 10px;
            max-width: 230px;
        }
    }
    .right-section {
        width: 50%;
        display: flex;
        border-left: 1px solid #e9e9e9;
        padding-left: 20px;
        justify-content: space-between;
        .station-meta {
            img,
            svg {
                width: 14px;
                margin-right: 3px;
            }
        }
        .station-actions {
            display: flex;
            width: 35px;
            height: 100%;
            align-items: center;
            .action {
                border: 1px solid #ececec;
                border-radius: 8px;
                width: 30px;
                height: 30px;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                img,
                svg {
                    width: 15px;
                }
                display: none;
            }
            .action:hover {
                opacity: 0.8;
            }
        }
    }
}
.station-box-container:hover {
    .action {
        display: flex !important;
    }
}
.check-box-station {
    position: absolute;
    padding: 19px;
}
