.version-badge{
    border-radius: 4px;
    height: 20px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    p{
        margin: 0;
        margin-right: 0px;
        font-family: 'InterMedium';
        font-size: 12px;
        line-height:12px;
    }  
}
.badgeGreen{
    background: rgba(32, 201, 172, 0.2);
    p{
        color: rgb(32, 201, 172);
    }
}
.badgeOrange{
    background: rgba(255, 160, 67, 0.3);
    min-width: 106px;
    p{
        color: #BD5E00;
    }
}