.filter-partitions-container {
    max-height: 300px;
    overflow-y: auto;
}

.partition-item {
    cursor: pointer;
    width: 140px;
    height: 40px;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'InterMedium';
    font-size: 12px;
    img {
        padding-left: 10px;
        padding-right: 5px;
    }
}
.partition-item:not(:last-child){
    border-bottom: 1px solid #F5F5F5;
}
.partition-item:last-child {
    border-radius: 0px 0px 8px 8px;
}
.partition-item:hover {
    background-color: #f5f5f5;
}


.filter-partition-btn {
    border-radius: 50px;
    color: rgb(29, 29, 29);
    background-color: rgb(255, 255, 255);
    width: 140px;
    height: 34px;
    border-color: rgb(255, 255, 255);
    font-size: 13px;
    font-family: "InterSemiBold";
    opacity: 1;
    min-width: 60px;
    box-shadow: rgba(0, 0, 0, 0.21) 0px 1px 2px 0px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .filter-partition-container {
        display: flex;
        justify-content: space-between;
        width: 120px;
        cursor: pointer;
        .filter-title {
            color: #737373;
        }
    }
}
