.radio-group {
    display: flex;
    .radio-wrapper {
        position: relative;
        .cloud-only-tooltip {
            z-index: 3;
            right: 10px;
            top: -8px;
        }
    }
    .ant-radio-wrapper {
        margin-right: 21px;
        color: #777777;
        font-size: 12px;
        position: relative;
    }

    .ant-radio-checked {
        .ant-radio-inner {
            border-color: #a9a9a9;
        }
        .ant-radio-inner:after {
            background-color: var(--purple) !important;
        }
    }
    .ant-radio-checked:after {
        border: 1px solid var(--purple);
    }
    .ant-radio:hover .ant-radio-inner {
        border-color: var(--purple);
    }
    .label-type {
        width: 300px;
        border: 1px solid #eaecf0;
        margin-right: 10px;
        border-radius: 8px;
        cursor: pointer;
        .radio-selected {
            .label-option-text {
                color: #6557ff;
            }
        }
        .label-option-text {
            margin: 0;
            font-size: 14px;
            color: #777777;
        }
        .ant-radio-wrapper {
            width: 100%;
            height: 100%;
            padding: 10px;
            margin-right: 0px !important;
        }
    }
    .radio-value {
        background: rgba(101, 87, 255, 0.1);
        border: 1px solid #6557ff;
        color: #101828;
        font-family: 'InterMedium';
        // .radio-selected {
        //     color: #6557ff;
        // }
    }
}
.gr-vertical {
    display: flex;
    flex-direction: column;
}
