.radio-group {
    .ant-radio-wrapper {
        margin-right: 21px;
        color: #777777;
        font-size: 12px;
    }
    .ant-radio-checked {
        .ant-radio-inner {
            border-color: #A9A9A9;
        }
        .ant-radio-inner:after {
            background-color: var(--purple) !important;
        }
    }
    .ant-radio-checked:after {
        border: 1px solid var(--purple);
    }
    .ant-radio:hover .ant-radio-inner {
        border-color: var(--purple);
    }
}
