.generate-modal-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    gap: 10px;
    .user-password-section {
        display: flex;
        flex-direction: column;
        height: 240px;
        gap: 10px;
    }
    p {
        margin-bottom: 0;
    }
    .desc {
        font-size: 14px;
        color: #667085;
    }
    .field-title {
        font-family: 'InterMedium';
        font-size: 14px;
    }
    .api-token {
        .input-and-copy {
            display: grid;
            width: 100%;
            grid-template-columns: 95% 5%;
            align-items: center;
        }
        .generate-again {
            font-size: 14px;
            font-family: 'InterMedium';
            color: var(--purple);
            width: fit-content;
            cursor: pointer;
            img,
            svg {
                margin-right: 4px;
            }
            :hover {
                text-decoration: underline;
            }
        }
        textarea {
            word-break: break-all !important;
        }
    }
}
