.generate-modal-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    gap: 10px;
    .user-password-section {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    p {
        margin-bottom: 0;
    }
    .desc {
        font-size: 14px;
        color: #667085;
    }
    .field-title {
        font-family: 'InterMedium';
        font-size: 14px;
    }
    .api-token {
        .input-and-copy {
            display: grid;
            width: 100%;
            grid-template-columns: 95% 5%;
            align-items: center;
        }
        .generate-again {
            font-size: 14px;
            font-family: 'InterMedium';
            color: var(--purple);
            width: fit-content;
            cursor: pointer;
            svg {
                margin-right: 4px;
            }
            :hover {
                text-decoration: underline;
            }
        }
        textarea {
            word-break: break-all !important;
        }
    }
    .url-span {
        color: rgb(29, 29, 29);
        background-color: transparent;
        box-shadow: none;
        border: rgb(216, 216, 216) 1px solid;
        border-radius: 5px;
        height: 40px;
        font-size: 14px;
        width: 98%;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        align-items: center;
        white-space: nowrap;
        padding: 0px 15px;
    }
    span.url-span::-webkit-scrollbar {
        width: 3px;
        height: 4px;
    }
    .button-container {
        margin-top: 20px;
    }
}
