integ-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #bcbcbc;
    border-radius: 8px;
    width: 270px;
    height: 300px;
    position: relative;
    cursor: pointer;
    p {
        margin: 0;
    }
    .banner {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
    .integrate-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin: 10px;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        border-radius: 8px;
        background: var(--purple);
        padding: 3px 7px;
        color: white;
        svg {
            width: 18px;
        }
        p {
            margin-left: 5px;
            font-family: 'InterMedium';
        }
    }
    .broken-integration-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin: 10px;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        border-radius: 8px;
        background: #f7685b;
        padding: 3px 7px;
        color: white;
        svg {
            width: 18px;
        }
        p {
            margin-left: 5px;
            font-family: 'InterMedium';
        }
    }
    .lock-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .opacity-background {
            background: white;
            border-radius: 8px;
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.8;
        }
        .lock-integration {
            background: #2e2c34;
            border-radius: 6px;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;
            svg {
                width: 40px;
                height: 30px;
            }
        }
    }
    .integration-name {
        display: flex;
        margin: 15px;
        img,
        svg {
            margin-right: 10px;
            width: 32px;
        }
        p {
            font-size: 14px;
            line-height: 14px;
            font-family: 'InterMedium';
        }
        span {
            font-size: 12px;
            font-family: 'InterMedium';
            color: rgba(74, 73, 92, 0.8);
        }
        .by {
            display: flex;
            gap: 6px;
            align-items: center;
            svg {
                width: 14px;
                margin: 0px;
            }
        }
        .memphis {
            color: #6557ff;
            font-weight: 'InterSemiBold';
        }
    }
    .integration-description {
        margin: 0px 15px;
        margin-right: 3px;
        font-size: 12px;
        color: rgba(74, 73, 92, 0.8);
        height: calc(100% - 232px);
        overflow: scroll;
    }
    .category {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        height: 33px;
        padding: 0 15px;
        display: flex;
        align-items: center;
        .tag-wrapper {
            max-width: 160px !important;
        }
    }
}

.integration-modal {
    .ant-drawer-content {
        width: 100%;
        height: 100%;
        overflow: auto;
        background: #fff;
        pointer-events: auto;
        border-radius: 16px 0px 0px 16px;
    }
    .integrate-header {
        display: flex;
        margin: 20px;
        justify-content: space-between;
        align-items: center;
        .header-left-side {
            display: flex;
            img,
            svg {
                width: 38px;
            }
            .details {
                .by {
                    display: flex;
                    gap: 6px;
                    align-items: center;
                    svg {
                        width: 14px;
                        margin: 0px;
                    }
                }
                .memphis {
                    color: #6557ff;
                    font-weight: 'InterSemiBold';
                }
                .open-source {
                    color: #cc5de8;
                    background: rgba(204, 93, 232, 0.15);
                    border-radius: 4px;
                    padding: 2px 5px;
                }
                .cloud {
                    color: #6557ff;
                    background: rgba(101, 87, 255, 0.15);
                    border-radius: 4px;
                    padding: 2px 5px;
                }
                .disable {
                    color: #737373;
                    background: rgba(115, 115, 115, 0.15);
                    border-radius: 4px;
                    padding: 2px 5px;
                }
                margin-left: 10px;
                p {
                    font-family: 'InterSemiBold';
                    font-size: 20px;
                    line-height: 20px;
                }
                span {
                    font-family: 'InterMedium';
                    font-size: 13px;
                    color: rgba(74, 73, 92, 0.8);
                }
                svg {
                    font-size: 8px;
                    color: rgba(74, 73, 92, 0.8);
                    margin: 0px 5px;
                }
            }
        }
        .action-buttons {
            display: flex;
            width: 250px;
            gap: 20px;
            justify-content: space-between;
        }
        .flex-end {
            flex-basis: min-content;
        }
    }
    .integrate-description {
        margin: 0 20px;
        p {
            font-family: 'InterMedium';
            font-size: 15px;
        }
        span {
            color: rgba(74, 73, 92, 0.8);
            font-size: 12px;
        }
    }
    .video-title {
        font-family: 'InterMedium';
        font-size: 15px;
        margin: 20px 0px 10px 20px;
    }
    .video-container {
        width: calc(100% - 30px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logs-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
    }
    .ant-tabs-tab {
        padding-top: 8px;
        padding-bottom: 8px;
        margin-left: 20px;
        .tabs-name {
            font-size: 12px;
        }
    }
}

.loader-wrapper {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
