integ-item{
    display: flex;
    flex-direction: column;
    border: 1px solid #BCBCBC;
    border-radius: 8px;
    width: 270px;
    height: 300px;
    position: relative;
    cursor: pointer;
    p{
        margin: 0;
    }
    .banner{
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
    .integrate-icon{
        display: flex;
        justify-content: center;
        position:absolute;
        margin: 10px;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        border-radius: 8px;
        background: var(--purple);
        padding: 3px 7px;
        color: white;
        img{
           width: 18px; 
        }
        p{
            margin-left: 5px;
            font-family: 'InterMedium';
        }

    }
    .lock-integration{
        background: #2e2c34;
        border-radius: 8px;
        position: absolute;
        width: 35px;
        height: 30px;
        margin: 5px;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
            width: 20px;
            height: 20px;
        }
    }
    .integration-name{
        display: flex;
        margin: 15px;
        img{
            margin-right: 10px;
            width: 32px;
        }
        p{
            font-size: 14px;
            line-height: 14px;
            font-family: 'InterMedium';
        }
        span{
            font-size: 12px;
            font-family: 'InterMedium';
            color: rgba(74, 73, 92, 0.8);
        }
    }
    .integration-description{
        margin: 0px 15px;
        margin-right: 3px;
        font-size: 12px;
        color: rgba(74, 73, 92, 0.8);
        height: calc(100% - 232px);
        overflow: scroll;
    }
    .category{
        border-top: 1px solid rgba(0,0,0,0.1);
        height: 33px;
        padding: 0 15px;
        display: flex;
        align-items: center;
    }
}

.integration-modal{
    .ant-modal-content{
        border-radius: 16px !important;
        .ant-modal-close-x{
            display: flex;
            align-items: center;
            justify-content: center;
            .anticon{
                background: rgba(161, 161, 161, 0.3);
                border-radius: 15px;
                width: 25px;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                svg{
                    color: white;
                }
            }
        }
    }
    .ant-modal-body{
        padding: 0 !important
    }
    .integrate-header{
        display: flex;
        margin: 20px;
        justify-content:space-between;
        align-items:center;
        .header-left-side{
            display: flex;
            img{
                width: 38px;
            }
            .details{
                margin-left: 10px;
                p{
                    font-family: 'InterSemiBold';
                    font-size: 20px;
                    line-height: 20px;
                }
                span{
                    font-family: 'InterMedium';
                    font-size: 13px;
                    color: rgba(74, 73, 92, 0.8);
                }
                svg{
                    font-size: 8px;
                    color: rgba(74, 73, 92, 0.8);
                    margin: 0px 5px;
                }
            }
        }
        .action-buttons{
            display: flex;
            width: 250px;
            justify-content: space-between;
        }
        .flex-end{
            flex-basis: min-content;
        }
    }
    .integrate-description{
        margin: 0 20px;
        p{
            font-family: 'InterMedium';
            font-size: 15px;
        }
        span{
            color: rgba(74, 73, 92, 0.8);
            font-size: 12px;
        }
    }
}