.payments-container {
    height: 100%;
    overflow: auto;
    .header-preferences {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 40px 0px 40px;
        .main-header {
            font-family: 'InterSemiBold';
            font-size: 24px;
            margin-bottom: 0;
            margin-right: auto;
        }
        .header {
            position: relative;
            width: 100%;
            .header-flex {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .actions {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                }
                .billinig-alert-button {
                    cursor: pointer;
                    display: flex;
                    gap: 5px;
                    align-items: center;

                    .label {
                        text-transform: none;
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }

    .payments-section {
        width: 100%;
        height: 180px;
        padding: 0px 40px 0px 40px;
        display: flex;
        justify-content: space-between;
        .payments-section-card {
            width: calc(50% - 30px);
            height: 100%;
            border: 1.4px solid #ebeaed;
            border-radius: 12px;
        }
    }
}

.billing-alert-modal {
    .form-field {
        p {
            margin: 0;
            font-family: 'InterMedium';
        }
    }
    .form-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 11px;
        .button-container {
            width: 100%;
        }
    }
}

.button-container button {
    min-width: 32px !important;
}

.popover-ul {
    border-radius: 4px;
    border: 1px solid #efefef;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .list-item {
        display: flex;
        cursor: pointer;
        box-sizing: border-box;

        align-items: center;
        justify-content: flex-start;
        gap: 3px;
        padding: 8px;
        svg {
            width: 14px;
            height: 14px;
        }
        width: 125px;
        height: 30px;

        span {
            color: #2e2c34;
            font-family: 'InterMedium';
            font-size: 14px;
        }
    }
    .list-item:last-child {
        border-top: 1px solid #ececec;
    }
}

.modal-header {
    p {
        margin-bottom: 8px !important;
    }
}
