.produce-modal-wrapper {
    gap: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 15px);
    font-family: 'Inter';
    .header-wrapper {
        p {
            font-family: 'InterSemiBold';
            font-size: 16px;
            margin: 0;
        }
        span {
            font-family: 'Inter';
            font-size: 12px;
            color: #84818a;
        }
    }
    .field-title {
        font-family: 'InterMedium';
        font-size: 14px;
        margin-bottom: 5px;
    }
    .headers-wrapper {
        display: flex;
        flex-direction: column;
        max-height: 100px;
        overflow: auto;
    }
    .message-example {
        .code-content {
            background: rgba(250, 250, 250, 0.4);
        }
        .editor-message {
            .margin {
                background-color: rgba(250, 250, 250, 0.4);
            }
            .monaco-editor-background {
                background-color: rgba(250, 250, 250, 0.4) !important;
            }
        }
    }
    .produce-message {
        height: 230px;
        position: relative;
        .generate-wrapper {
            display: flex;
            justify-content: space-between;
            .generate-action {
                display: flex;
                color: var(--purple);
                font-family: 'InterMedium';
                font-size: 14px;
                cursor: pointer;
                align-items: center;
                img {
                    margin-right: 4px;
                }
                :hover {
                    text-decoration: underline;
                }
            }
        }
        .install-copy {
            border: 1px solid var(--gray);
            box-sizing: border-box;
            border-radius: 4px;
            height: 42px;
            width: 480px;
            display: flex;
            align-items: center;
            padding: 0px 10px;
            justify-content: space-between;
            p {
                font-size: 14px;
                margin: 0;
            }
        }
        .message-example {
            position: relative;
            height: 200px;
            .code-content {
                position: relative;
                height: 100%;
                border: 1px solid var(--gray);
                box-sizing: border-box;
                border-radius: 4px;
                overflow: auto;
                align-items: flex-start;
                display: flex;
                justify-content: space-evenly;
                padding-top: 10px;
                p {
                    margin: 0;
                    white-space: pre-line;
                }
                img {
                    padding-top: 5px;
                }
            }
        }
    }

    .produce-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100% - 10px);
        overflow-y: auto;
        .remove-icon {
            color: #a9a9a9;
            cursor: pointer;
            width: 17px;
            line-height: 17px;
            height: 17px;
        }
        .add-field {
            display: flex;
            gap: 3px;
            color: var(--purple);
            cursor: pointer;
            font-family: 'InterMedium';
            align-items: center;
        }
        .ant-input-number {
            width: 100%;
            height: 45px;
            border-radius: 4px;
            border: 1px solid var(--gray);
        }
        .ant-input-number-input {
            height: 45px;
        }
        .ant-input-number-focused {
            box-shadow: unset;
        }
        .ant-input-number-handler {
            border-left: none;
        }
        .ant-input-number-handler-wrap {
            opacity: 1;
        }
        .header-flex {
            display: flex;
            gap: 5px;
            p {
                margin: 0;
            }
        }
        .partition-records-section {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            width: 100%;

            .form-input {
                width: 100%;
                position: relative;
            }
        }
    }
    .by-pass-switcher {
        display: flex;
        justify-content: space-between;
        .title-container {
            margin-bottom: 0px !important;
        }
        .switch-button {
            margin-left: 10px;
        }
        .ant-switch {
            min-width: 35px;
        }
    }
    .seperator {
        margin: 10px 0;
    }
    .ant-form-item {
        margin-bottom: 10px;
    }
}

.produce-modal {
    .button-container {
        button {
            height: 35px !important;
            font-size: 14px;
            width: 110px !important;
        }
        .action-button {
            display: flex;
            gap: 5px;
            align-items: center;
            svg {
                width: 18px;
                height: 18px;
            }
        }
    }
}
