.version-upgrade-container{
    min-height: 450px;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative; 
    flex-direction: column;
    padding-top: 5vh;
    gap: 5vh;
    padding-bottom: 5vh;
    p{
        margin: 0;
    }
    .banner-section{
        display: flex;
        padding-left: 3%;
        align-items:center;
        .actions{
            position: absolute;
            left: 5%;
            .current-version-wrapper{
                padding: 8px;
            }
            .current-version{
                font-family: 'InterSemiBold';
                font-size: 12px;
                color: #2E2C34;
            }
            .logo{
                display: flex;
                align-items:center;
                padding: 8px;
                .version-wrapper{
                    margin-left: 15px;
                    background: var(--purple);
                    color: white;
                    border-radius: 27px;
                    font-family: 'InterMedium';
                    font-size: 16px;
                    padding: 5px;
                }
            }
            .desc-vers{
                font-family: 'InterMedium';
                font-size: 14px;
                padding-left: 8px;
                color: #2E2C34;
            }
            .buttons{
                display: flex;
                justify-content:space-between;
                gap: 10px;
                .button-container{
                    margin-top: 10px;
                    button{
                        border-color: #D1CFF0 !important;
                    }
                }
            }
        }
    }
    .feature-buttons{
        display: flex;
        margin-left: 3%;
        position: relative;
        flex-wrap: wrap;
        justify-content:flex-start;
        gap: 10px;
    }
    .feature-list{
        margin-left: 3%;
        display: flex;
        height: calc(100% - 35vh);
        position: relative;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: 20px;
        overflow: auto;
        .loading{
            display: contents;
            .loader-container {
                height: calc(100%);
                width: 95%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                .memphis-gif{
                    top: unset !important;
                    transform: unset !important;
                    left: unset !important;
                }
            }
        }
    }
    .uptodate-section{
        width: 90%;
        border: 1px solid;
        margin-left: 5%;
        margin-top: 5%;
        display: flex;
        padding: 20px;
        border: 1px solid #E6E6E6;
        box-shadow: 0px 0px 2px rgba(24, 24, 28, 0.02), 0px 1px 2px rgba(24, 24, 28, 0.06);
        border-radius: 8px;
        align-items:center;
        position: absolute;
        top: 0;
        .content{
            p{
                font-family: 'InterSemiBold';
                font-size: 28px;
                color: #27AE60;
            }
            span{
                color: #818181;
                font-size: 14px;
            }
        }
    }
}