.produce-consume-data{
    width: 90%;
    height: calc(100% - 50px);
    position: relative;
    .code-example-details-container{
        gap: 20px;
        height: 100%;
        margin-top:0px;
    }
}