@font-face {
    font-family: 'Inter';
    src: local('Inter-Regular'), url('./assets/fonts/Inter/Inter-Regular.ttf') format('truetype');
    font-weight: regular;
}
@font-face {
    font-family: 'InterBold';
    src: local('Inter-Bold'), url('./assets/fonts/Inter/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'InterSemiBold';
    src: local('Inter-SemiBold'), url('./assets/fonts/Inter/Inter-SemiBold.ttf') format('truetype');
    font-weight: 500;
}

* {
    font-family: Inter;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--white);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
    --white: #f7f7f7;
    --blue: #1d1d1d;
    --purple: #6557ff;
    --red: #ff4d4f;
    --gray: #d8d8d8;
    --blueLight: rgba(43, 46, 69, 0.75);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

/* ants-switch-style */
.switch-button {
    position: relative;
    display: grid;
}

.ant-switch-handle::before {
    background-color: white !important;
}

.ant-switch-checked .ant-switch-handle::before {
    background-color: var(--white) !important;
}

.ant-switch {
    background-color: var(--white) !important;
    border: 0.5px !important;
    position: initial !important;
}

.ant-switch-inner {
    color: rgba(120, 120, 128, 0.16) !important;
}

.ant-switch-checked {
    background-color: #6557ff !important;
    border: unset !important;
    .ant-switch-inner {
        color: var(--white) !important;
    }
}