.version-badge {
    border-radius: 4px;
    height: 20px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    p {
        margin: 0;
        margin-right: 0px;
        font-family: 'InterMedium';
        font-size: 11px;
        line-height: 12px;
        white-space: nowrap;
    }
}
.badgeGreen {
    background: #d6f5e3;
    p {
        color: #27ae60;
    }
}
.badgeOrange {
    background: #ffe5cc;
    min-width: 106px;
    p {
        color: #ff7d00;
    }
}
