.alerts-integrations-container {
    .header-preferences {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 40px 0px 40px;
    }
    .categories-list {
        display: flex;
        gap: 5px;
        padding: 0 40px;
        .tag-wrapper {
            cursor: pointer;
            max-width: 160px !important;
        }
    }
    .loading {
        .loader-container {
            height: calc(95vh - 174px);
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .memphis-gif {
                top: unset !important;
                transform: unset !important;
                left: unset !important;
            }
        }
    }
    .integration-list {
        padding: 0 40px;
        height: calc(95vh - 174px);
        width: 100%;
        position: relative;
        display: inline-flex;
        overflow-y: auto;
        margin-right: 1vw;
        margin-top: 20px;
        gap: 20px;
        align-content: flex-start;
        flex-wrap: wrap;
        .cloud-wrapper {
            .dark-background {
                position: absolute;
                background: rgba(0, 0, 0, 0.3);
                width: 270px;
                height: 300px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 3;
                .cloud-badge {
                    position: absolute;
                    left: -8px;
                    top: 8px;
                }
                .cloud-icon {
                    width: 90px;
                    height: 90px;
                    background: rgba(255, 255, 255, 0.3);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg {
                        color: white;
                        width: 45px;
                        height: 45px;
                    }
                }
            }

            integ-item {
                border: unset !important;
            }
        }
        .experimental-badge {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 3;
            svg {
                position: absolute;
                left: -8px;
                top: 8px;
            }
        }
    }
}
.request-integration-modal {
    .ant-modal-content {
        border-radius: 16px;
    }
    .ant-modal-header {
        border-bottom: unset !important;
        border-radius: 16px;
    }
    .ant-modal-body {
        padding-top: 0px;
    }
}
.integration-guid-body {
    height: calc(100% - 415px);
    position: relative;
    .stepper-container {
        height: 100%;
        position: relative;
    }
    .close-btn {
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid #dedede;
        padding: 10px 20px;
    }
}
dynamic-integration {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    overflow-y: hidden;
    p {
        margin: 0;
    }
    .insideBanner {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }
    form {
        position: relative;
        height: calc(100% - 390px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .integration-body {
            height: calc(100% - 100px);
            position: relative;
            .generic-list-wrapper {
                height: calc(100% - 20px);
                width: 100%;
                padding: 10px;
            }
        }
        .noConnection-wrapper {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
        }

        .api-details {
            height: calc(100% - 80px);
            overflow: scroll;
            margin: 0 20px;
            margin-right: 2px;
            padding-right: 13px;

            .connected-to-gh {
                border-radius: 50px;
                color: rgb(255, 255, 255);
                background-color: rgb(39, 174, 96);
                width: 100px;
                height: 22px;
                font-size: 12px;
                font-family: 'InterSemiBold';
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .title {
                font-family: 'InterMedium';
                font-size: 15px;
                margin-top: 5px;
            }
            .api-key {
                margin-top: 5px;
                padding: 10px;
                padding-bottom: 1px;
                border-radius: 8px;
                background-color: rgba(101, 87, 255, 0.1);
                p {
                    font-family: 'InterSemiBold';
                    font-size: 12px;
                    color: #2c2c2c;
                }
                .desc {
                    color: rgba(74, 73, 92, 0.8);
                    font-size: 14px;
                    margin-bottom: 15px;
                }
                .input-component-container {
                    padding-top: 10px;
                    .input-container input {
                        background-color: rgba(101, 87, 255, 0.2) !important;
                    }
                    .ant-input::placeholder {
                        color: rgba(46, 44, 52, 0.5);
                    }
                }
            }
            .flex-fields {
                display: flex;
                position: relative;
                width: 100%;
                justify-content: space-between;
                .input-field {
                    width: 48%;
                }
            }
            .input-field {
                margin: 10px 0px;
                font-size: 13px;
                p {
                    color: #1d1d1d;
                }
                .desc {
                    color: #b4b4b4;
                    font-size: 12px;
                }
                .input-component-container {
                    margin-top: 10px;
                }
            }
            .notification-option {
                p {
                    font-family: 'InterMedium';
                    font-size: 15px;
                }
                .desc {
                    color: #b4b4b4;
                    font-size: 12px;
                    margin-bottom: 15px;
                }
                .option-wrapper {
                    display: flex;
                    width: 100%;
                    height: 80px;
                    border: 1px solid #e1e1e1;
                    border-radius: 8px;
                    margin: 10px 0px;
                    padding: 0px 10px;
                    align-items: center;
                    justify-content: space-between;
                    .option-name {
                        display: flex;
                        align-items: flex-start;
                        img,
                        svg {
                            width: 35px;
                            margin-right: 10px;
                        }
                        .name-des {
                            padding-right: 10px;
                            p {
                                font-family: 'InterSemiBold';
                                font-size: 14px;
                            }
                            span {
                                color: #b4b4b4;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
        .button-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0px;
            border-top: 1px solid #dedede;
        }
    }
}

.repos-container {
    .ant-divider {
        margin: 0;
    }
    width: 100%;
    border: 1px solid #d6d6d6;
    border-radius: 8px;
    .repos-header {
        height: 40px;
        width: 100%;
        background-color: rgba(217, 217, 217, 0.3);
        border-radius: 8px 8px 0px 0px;
        display: grid;
        grid-template-columns: 6% 39% 39% 14%;
        // grid-template-columns: 8% 43% 43% 6%;
        align-items: center;
        color: #737373;
    }

    .repos-body {
        .repos-loader {
            margin-top: 20px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .ant-form-item {
            margin-bottom: 0px !important;
        }
        width: 100%;
        position: relative;

        .repos-item {
            width: 100%;
            display: grid;
            grid-template-columns: 6% 39% 39% 14%;
            // grid-template-columns: 8% 39% 39% 14%;
            align-items: center;
            position: relative;
            margin: 10px 0px;
            max-height: 35vh;
            overflow-y: auto;
            .repo-button {
                display: flex;
                flex-wrap: row;
                align-items: center;
                justify-content: center;
                gap: 4px;
            }
            .select-repo-span {
                width: 100%;
                display: flex;
                position: relative;
            }
            .remove-icon {
                color: #a9a9a9;
                cursor: pointer;
                width: 17px;
                line-height: 17px;
                height: 17px;
            }
        }
        .repos-item > img:first-child,
        .repos-item > svg:first-child {
            margin-left: 18px;
        }
        .add-more-repos {
            height: 40px;
            padding-left: 20px;
            align-items: center;
            display: flex;
            color: #6557ff;
            cursor: pointer;
            label {
                cursor: pointer;
            }
        }
    }
}
.connect-bth-gh {
    display: flex;
    justify-content: space-between;
    span {
        display: flex;
        align-items: center;
        vertical-align: baseline;
        .connected {
            height: 12px;
        }
    }
}
