.stations-details-container {
    width: calc(100% - var(--main-container-sidebar-width));
    transition: .3s ease-in-out;
    position: absolute;
    padding: 1vw;
    min-width: 700px;
    overflow: auto;
    height: 100%;
    .create-new {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .upgrade {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
    }
    .stations-details-header {
        .right-side {
            display: flex;
            justify-content: flex-end;
            gap: 15px;
            .search-input-container {
                margin-right: 0;
            }
            .search-icon .anticon svg {
                height: 16.5px;
                width: 16.5px;
                margin-right: 5px;
                margin-left: 10px;
                color: '#818C99';
                opacity: 1;
            }
        }
    }
    .stations-content {
        margin-top: 20px;
        height: calc(100% - 80px);
        padding: 3px 3px 2px 3px;
        position: relative;
        overflow: auto;
        .no-station-to-display {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            justify-content: center;
            color: #a9a9a9;
            img {
                margin-bottom: 30px;
            }
            p {
                font-family: 'InterSemiBold';
                font-size: 18px;
                line-height: 22px;
            }
            .sub-title {
                font-family: 'Inter';
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 60px;
            }
        }
    }
    ::-webkit-scrollbar-thumb {
        display: none;
    }
}
