.station-function-overview {
    functions-header {
        margin-bottom: 73px;
        display: flex;
        border-top: 1px solid #f3f3f3;
        border-bottom: 1px solid #f3f3f3;
        justify-content: space-between;
        height: 85px;
        .statistics {
            &-box {
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                gap: 3px;
                border-right: 1px solid #f3f3f3;
                flex: 1;

                &:last-child {
                    border-right: none;
                }

                &-title {
                    color: #b5b5b5;
                    font-family: 'Inter';
                    font-size: 12px;
                }

                &-number {
                    color: #1d1d1d;
                    font-family: 'InterBold';
                    font-size: 14px;

                    span {
                        color: #b0b0b0;
                        font-family: 'InterSemiBold';
                        font-size: 10px;
                    }
                }
            }
        }
    }
    functions-list {
        width: 100%;
        overflow-x: auto;
        display: flex;
        .tab-functions {
            .functions-empty {
                position: relative;
                top: 18px;
                &.disabled {
                    cursor: not-allowed;
                    span {
                        color: #171717;
                    }
                    svg {
                        circle {
                            fill: #d8d8d8;
                        }
                        path {
                            fill: #a2a2a2;
                        }
                    }
                }
            }

            &-inner {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                padding: 0 15px;
                position: relative;
                width: 100%;
                .loading {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                }

                &-line {
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 49px;
                    display: flex;
                    flex-wrap: nowrap;
                    overflow: hidden;
                    height: 62px;
                }

                &-left {
                    display: flex;
                    justify-content: space-between;
                }

                &-right {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    margin-left: 10px;
                }

                &-cards {
                    display: flex;
                    padding-bottom: 4px;
                    width: 100%;
                    overflow-x: scroll;
                }
                &-one-card {
                    display: flex;
                    justify-content: center;
                    padding-bottom: 4px;
                    width: 100%;
                    overflow-x: scroll;
                }

                &-add {
                    position: relative;
                    top: 18px;
                    cursor: pointer;
                    display: flex;
                    margin: 45px 2px auto 25px;
                    padding: 8px;
                    border-radius: 8px;
                    border: 1px solid #e6e6e6;
                    background: var(--colors-white-white, #fff);
                    box-shadow: 0px 5px 8px -5px rgba(10, 9, 11, 0.04), 0px 1px 4px 1px rgba(10, 9, 11, 0.02);
                }

                .processed {
                    position: relative;
                    border-radius: 8px;
                    border: 1px solid #6557ff;
                    background: #e8e5ff;
                    box-shadow: 0px 5px 8px -5px rgba(10, 9, 11, 0.04), 0px 1px 4px 1px rgba(10, 9, 11, 0.02);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    padding: 14px 7px;
                    margin-bottom: 40px;

                    &-title {
                        color: var(--Purply-blue, #6557ff);
                        text-align: right;
                        font-family: Inter;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px; /* 240% */
                        position: absolute;
                        top: -25px;
                    }

                    span {
                        color: var(--Purply-blue, #6557ff);
                        text-align: justify;
                        leading-trim: both;
                        text-edge: cap;
                        font-family: Inter;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 170%; /* 23.8px */
                        cursor: pointer;
                    }
                }
                .function-overview {
                    width: 100%;
                }
            }
        }
    }

    .logs-box {
        white-space: pre-wrap;
    }
}
.ms-function-details {
    border-top: 1px solid #e6e6e6;
    background: var(--colors-white-white, #fff);
    box-shadow: 0px -23px 44px 0px rgba(176, 183, 195, 0.14);
    position: absolute;
    bottom: 1px;
    left: 0px;
    right: 0px;
    height: 265px;

    &-badge {
        display: flex;
        border-radius: 32px;
        border: 1px solid #e1e1e1;
        padding: 3px 6px;
        align-items: center;
        gap: 2px;
        color: #737373;
        font-family: 'InterMedium';
        font-size: 10px;
    }

    &-top {
        display: flex;
        padding: 10px 10px;
        justify-content: space-between;
        align-items: center;

        .left {
            display: flex;
            gap: 10px;
            align-items: center;

            span {
                color: var(--fill-dark-main-dark, #2e2c34);
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: 'InterSemiBold';
                font-size: 14px;
            }
        }

        .right {
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;
            .info-icon {
                height: 20px;
                width: 20px;
            }
            .close-icon {
                svg path {
                    fill: #999999;
                }
            }
        }
    }

    &-body {
        padding: 0 16px 0;
    }

    &-entering,
    &-entered {
        animation: fadeIn 0.5s forwards;
    }

    &-exiting,
    &-exited {
        animation: fadeOut 0.5s forwards;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
}
div.tab-functions-inner-cards::-webkit-scrollbar {
    width: 3px;
    height: 4px;
}
