.station-overview-container {
    width: calc(100% - var(--main-container-sidebar-width));
    transition: .3s ease-in-out;
    position: absolute;
    padding: 1vw;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    .overview-header {
        min-width: 1370px;
    }
    .station-observability {
        min-width: 1280px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .overview-top {
        display: flex;
        width: calc(100%);
        justify-content: space-between;
        min-width: 1000px;
        .station-observability {
            min-height: 220px;
            width: 100%;
        }
        .connection-details {
            align-self: center;
        }
    }
    .overview-bottom {
        width: 100%;
        min-width: 1000px;
        display: flex;
        position: relative;
    }
    .coming-soon-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #fafafaf0;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 8px;
        p {
            font-family: 'InterBold';
            font-size: 15px;
            color: #979797;
            margin-top: 10px;
            margin-bottom: 0;
        }
    }
    .function {
        height: calc(100% - 40px);
        top: 40px;
    }
    .icons-coming-soon {
        height: 85%;
        p {
            margin-top: 0;
            font-size: 11px;
        }
    }
    .waiting-placeholder {
        height: calc(100% - 25px);
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        p {
            margin-top: 21px;
            font-family: 'InterSemiBold';
            font-size: 14px;
        }
        .des {
            font-size: 12px;
            color: #b4b4b4;
            width: 80%;
            text-align: -webkit-center;
            text-align: -moz-center;
            margin-bottom: 1em;
        }
        .button-container {
            span {
                font-family: 'InterSemiBold';
            }
        }
        .explore-button {
            width: 110px;
            height: 37px;
            color: white;
            background: var(--purple);
            border-radius: 50px;
            font-size: 12px;
            font-family: 'InterSemiBold';
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .explore-button:hover {
            opacity: 0.8;
        }
    }
    .msg-plc {
        height: calc(100% - 185px);
    }
}
