.system-components-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 15px;
    min-width: 280px;
    min-height: 250px;
    p {
        margin-bottom: 0px;
    }
    .collapse-arrow {
        transform: rotate(-90deg);
        transition: transform 0.4s;
    }
    .open {
        transform: rotate(0deg);
    }
    .component-list {
        overflow-y: scroll;
        height: calc(100% - 35px);
        position: relative;
        width: 100%;
        .divided {
            border-bottom: 1px solid #ececec;
        }
        .ant-tree-switcher-icon {
            margin-top: 37px !important;
        }
        .sys-components-container {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            margin-top: 5px;
            .component-img {
                margin-right: 10px;
            }
            .component {
                width: 100%;
                padding-top: 10px;
                padding-bottom: 10px;
                .sys-components {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    .component-name {
                        font-size: 15px;
                        font-family: 'InterSemiBold';
                    }
                    .pie-status-component {
                        display: flex;
                        align-items: center;
                        filter: drop-shadow(1px 1px 1px #ececec);
                        .pie-status {
                            display: flex;
                            height: 25px;
                            width: 62px;
                            background: #e3e0ff;
                            border-radius: 4px;
                            align-items: center;
                            justify-content: center;
                            font-size: 12px;
                            margin-left: 5px;
                        }
                        img {
                            filter: drop-shadow(1px 2px 1px #ececec);
                        }
                    }
                    .component-status-shield {
                        height: 18px;
                    }
                }
                .pods-container {
                    display: flex;
                    align-items: center;
                    .host {
                        color: #737373;
                        font-weight: 500;
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .system-container {
        line-height: 20px;
        width: 100%;
        border: 1px solid #ececec;
        border-radius: 8px;
        .system-container-header {
            padding: 10px;
            display: flex;
            p {
                size: 14px;
                font-weight: 500;
                margin: 0;
            }
            img {
                margin-top: 5px;
                margin-right: 5px;
            }
        }

        .system-container-body {
            .ant-divider-vertical {
                height: auto;
                margin-top: 30px;
                margin-bottom: 30px;
            }
            background-color: #f7f7f7;
            height: 100%;
            display: flex;
            justify-content: space-between;
            border-radius: 8px;

            .system-container-item {
                padding: 10px;
                height: 100%;
                width: 33%;
                .item-name {
                    font-size: 12px;
                    color: rgba(74, 73, 92, 0.8);
                }
                .item-usage {
                    font-weight: 600;
                    font-size: 14px;
                    color: #1d1d1d;
                }
            }
        }
    }

    .sys-components-header {
        margin-top: 15px;
        color: #979797;
        display: grid;
        grid-template-columns: 35% 20% 25% 20%;
        padding-bottom: 10px;
        height: 30px;
    }

    .plus-ports {
        background-color: rgba(132, 129, 138, 0.1);
        width: 36px;
        border-radius: 4px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        cursor: pointer;
        p {
            font-family: 'InterSemiBold';
            font-size: 12px;
            color: #2e2c34;
        }
        .add {
            height: 12px;
            width: 12px;
            cursor: pointer;
            display: flex;
            color: #2e2c34;
        }
    }
    .ant-tree-node-selected {
        background-color: transparent !important;
    }
    .ant-tree-node-content-wrapper {
        line-height: 26px;
        cursor: default;
    }
}
.port-popover {
    margin: 3px 0px 3px 0px;
}
