.system-components-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 15px;
    min-width: 280px;
    min-height: 250px;
    .ant-tree-node-content-wrapper:hover {
        background-color: transparent;
        cursor: pointer;
    }
    p {
        margin-bottom: 0px;
    }
    .component-list::-webkit-scrollbar {
        display: none !important;
    }
    .component-list {
        overflow-y: scroll;
        height: calc(100% - 45px);
        position: relative;
        width: 100%;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        .divided {
            border-bottom: 1px solid #ececec;
        }
        .ant-tree-switcher-icon {
            margin-top: 33px !important;
        }
        .sys-components-container {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            margin-top: 5px;
            .component-img {
                margin-right: 10px;
            }
            .component {
                width: 100%;
                padding-top: 10px;
                position: relative;
                .sys-components {
                    height: 30px;
                    .component-name {
                        font-size: 15px;
                        font-family: 'InterSemiBold';
                        cursor: pointer;
                    }
                    .pie-status-component {
                        right: 0;
                        position: absolute;
                        display: flex;
                        align-items: center;
                        filter: drop-shadow(1px 1px 1px #ececec);
                        .sys-components-info {
                            width: 26px;
                            height: 25px;
                            display: flex;
                            border-radius: 4px;
                            justify-content: center;
                            align-items: center;
                            svg {
                                width: 16px;
                            }
                            .error-icon {
                                width: 14px;
                                height: 14px;
                                position: relative;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 50%;
                                svg {
                                    width: 12px;
                                    color: white;
                                }
                            }
                        }
                        .pie-status {
                            display: flex;
                            height: 25px;
                            width: 62px;
                            background: #e3e0ff;
                            border-radius: 4px;
                            align-items: center;
                            justify-content: center;
                            font-size: 12px;
                            margin-left: 5px;
                        }
                    }
                }
                .pods-container {
                    display: flex;
                    align-items: center;
                    label {
                        cursor: pointer;
                    }
                    .hosts {
                        overflow: hidden;
                        max-width: 300px;
                        display: flex;
                        align-items: center;
                        .value {
                            font-family: 'InterMedium';
                            font-size: 13px;
                        }
                    }
                    .ports {
                        width: 115px;
                        display: flex;
                        align-items: center;
                        .value {
                            font-family: 'InterMedium';
                            font-size: 13px;
                        }
                    }
                    .comp-label {
                        color: #737373;
                        font-family: 'InterMedium';
                        font-size: 13px;
                        margin-right: 5px;
                    }
                }
            }
        }
        .ant-tree-switcher-leaf-line::before {
            border-right-width: 2px;
            top: -16px;
            right: 11px;
        }
        .ant-tree-switcher-leaf-line::after {
            border-bottom-width: 2px;
            width: 16px;
            height: 28px;
        }
        .ant-tree-indent {
            display: none;
        }
        .ant-tree-treenode-leaf-last .ant-tree-switcher-leaf-line::before {
            top: -18px !important;
            height: 46px !important;
        }
    }

    .system-container {
        line-height: 20px;
        width: 100%;
        border: 2px solid #ececec;
        border-radius: 8px;
        .system-container-header {
            padding: 10px;
            display: flex;
            cursor: default;
            .cont-tls {
                p {
                    font-size: 14px;
                    font-family: 'InterMedium';
                    margin: 0;
                }
                label {
                    font-size: 12px;
                    font-family: 'Inter';
                    color: #737278;
                }
            }
            img,
            svg {
                margin-top: 5px;
                margin-right: 5px;
            }
        }

        .system-container-body {
            .ant-divider-vertical {
                height: auto;
                margin-top: 30px;
                margin-bottom: 30px;
            }
            background-color: #f7f7f7;
            height: 100%;
            display: flex;
            justify-content: space-between;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            border-top: 1px solid #ececec;
            .system-container-item {
                padding: 10px;
                height: 100%;
                width: 33%;
                .item-name {
                    font-size: 12px;
                    color: rgba(74, 73, 92, 0.8);
                    width: fit-content;
                }
                .item-usage {
                    font-weight: 600;
                    font-size: 14px;
                    color: #1d1d1d;
                }
            }
        }
        .blury {
            cursor: auto;
            background: rgba(255, 255, 255, 0.2);
            filter: blur(2.5px);
            -webkit-filter: blur(2.5px);
        }
        .warn-msg {
            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            cursor: default;
            .msg-wrapper {
                height: 43px;
                display: flex;
                align-items: center;
                font-size: 16px;
                font-family: 'InterMedium';
                z-index: 2;
                color: rgba(27, 43, 65, 0.72);
                img,
                svg {
                    width: 30px;
                    margin-right: 10px;
                }
                a {
                    font-size: 12px;
                    color: var(--purple);
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .sys-components-header {
        margin-top: 15px;
        color: #979797;
        display: grid;
        grid-template-columns: 35% 20% 25% 20%;
        padding-bottom: 10px;
        height: 30px;
    }

    .plus-comp {
        background-color: rgba(132, 129, 138, 0.1);
        width: 36px;
        border-radius: 4px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        cursor: pointer;
        p {
            font-family: 'InterSemiBold';
            font-size: 12px;
            color: #2e2c34;
        }
        .add {
            height: 12px;
            width: 12px;
            cursor: pointer;
            display: flex;
            color: #2e2c34;
        }
    }
    .ant-tree-node-selected {
        background-color: transparent !important;
    }
    .ant-tree-node-content-wrapper {
        line-height: 26px;
        cursor: default;
    }
}
.comp-plus-popover {
    margin: 3px 0px 3px 0px;
}
.comp-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .comp-length {
        display: flex;
        height: 30px;
        border-radius: 4px;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        gap: 10px;
        p {
            margin: 0;
            font-family: 'InterMedium';
        }
        .number-wrapper {
            min-width: 20px;
            min-height: 20px;
            background: #fc3400;
            color: white;
            border-radius: 10px;
            display: flex;
            font-size: 12px;
            align-items: center;
            justify-content: center;
        }
        span {
            line-height: 12px;
            font-family: 'InterSemiBold';
        }
    }
    .unhealthy {
        background: #ffebe6;
        color: #fc3400;
        .number-wrapper {
            background: #fc3400;
        }
    }
    .risky {
        background: #fff6ed;
        color: #ffa043;
        .number-wrapper {
            background: #ffa043;
        }
    }
    .dangerous {
        background: #fff6e0;
        color: #ffc633;
        .number-wrapper {
            background: #ffc633;
        }
    }
    .healthy {
        background: #e0f1ee;
        color: #20c9ac;
        .number-wrapper {
            background: #20c9ac;
        }
    }
}
