.storage-left-wrapper{
    .storage-left {
        display: flex;
        border: 1px solid var(--purple);
        color: var(--purple);
        border-radius: 32px;
        height: 34px;
        gap: 10px;
        align-items: center;
        padding: 0 10px;
        font-family: 'InterSemiBold';
        p{
            margin: 0;
        }
    }
    .notify-wrapper{
        border-color: #F7685B;
        color: #F7685B;
    }
    .upgrade-button-wrapper {    
        background: var(--yellow);
        height: 24px;
        width: 94px;
        border-radius: 32px;
        color: #253342;
        display: flex;
        justify-content: center;
        font-size: 13px;
        cursor: pointer;
        align-items: center;
        p{
            line-height: 12px;
            margin: 0;
        }    
}
.upgrade-button-wrapper:hover{
    opacity: 0.9;
}
}