.payments-section-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
    padding: 0 40px;
    .subscription-wrapper{
        .stigg-customer-portal-header-layout{
            display: none;
        }
        .stigg-overview-layout{
            gap: 5% !important;
            display: grid !important; 
            grid-template-columns: 55% 40%;
            div{
                width: unset !important;
            }
            .iNTgCg {
                color: black !important;
                font-family: 'InterSemiBold' !important;
            }
            .stigg-charge-list{
                margin-top: 20px !important;
                p{ 
                    color: #84818A !important;
                    font-family: 'Inter' !important;
                }
                hr{
                    border-style: solid !important;
                    border-color: #E6E6E6 !important;
                }
            }
            .e1u4onrr0{
                .typography-level-3{
                    color: var(--purple);
                    font-family: 'InterMedium';
                    font-size: 14px;
                }
                .typography-level-1{
                    color: black;
                    font-family: 'InterSemiBold';
                }
                .typography-level-4{
                    color: #84818A;
                    font-family: 'Inter';
                    .css-1hr2sxf-StyledText{
                        font-family: 'InterMedium';
                    }
                }
            }
        }
        .stigg-customer-portal-overview-header{
            .typography-level-2{
                color: #84818A;
                font-family: 'InterMedium';
                font-size: 14px;
                font-weight: unset;
            }
        }
        .stigg-subscription-trial-badge{
            background: rgba($color: #F4A703, $alpha: 0.2);
            svg path {
                fill: #F4A703;
            }
            .stigg-subscription-trial-badge-text{
                color: #F4A703 !important;
                font-family: 'InterSemibold' !important;
            }
            a{
                text-decoration: none !important;
                p{
                    color: black !important;
                    font-family: 'InterMedium' !important;

                }
            }
        }
    }
    .payment-details-wrapper{
        .typography-level-2{
            color: black;
            font-family: 'InterSemiBold';
        }
        .typography-level-3{
            color: #2E2C34;
            font-family: 'InterMedium';
        }
        .typography-level-4{
            color: #2E2C34;
            font-family: 'InterMedium';
        }
        .css-qs5qjs-InformationGridRow{
            p{
                color: #84818A;
                font-family: 'InterMedium';
                font-size: 13px;
            }
            p:nth-child(even)
            {
                font-family: 'InterSemiBold';
            }
        }
    }
    .invoices-wrapper{
        .typography-level-2{
            color: black;
            font-family: 'InterSemiBold';
        }
    }
    button{
        border: none;
        .typography-level-4{
            color: var(--purple) !important;
            font-family: 'InterMedium';
            font-size: 14px !important;
        }
        svg{
            width: 18px;
            height: 19px;
        }
    }
    button:hover{
        background: none;
        border: none;
    }
    .e1kw2z1l0{
        padding: 20px !important;
    }
    
}