.title-container {
    margin-bottom: 15px;
    .header-title-container {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        .header-title {
            font-weight: 600;
            font-size: 20px;
            color: #1d1d1d;
        }
        .header-image {
            height: 25px;
            width: 30px;
            margin-right: 10px;
        }
    }
    .header-title-container-finish {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5px;
        .header-title {
            font-weight: 600;
            font-size: 20px;
            color: #1d1d1d;
        }
        .header-image {
            height: 25px;
            width: 30px;
            margin-right: 10px;
        }
    }
    .header-description {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #b4b4b4;
        margin: 0;
        width: 30vw;
    }
}
.sub-header-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #2e2c34;
    margin-bottom: 8px;
    span {
        color: var(--red);
        font-weight: 400;
        font-size: 14px;
    }
}
