.ant-btn > .ant-btn-loading-icon {
    padding-right: 5px;
}
.button-container {
    button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .noHover{
        pointer-events: unset !important;
    }
}

.noHover {
    pointer-events: none;
    display: block !important;
}
