.function-overview-container {
    //min-width:700px;
    overflow-x: auto;
    margin-left: 10px;
    text-align: -webkit-center;
    .function-list-container {
        align-items: center;
        flex-direction: row;
        position: relative;
        height: 100px;
        .func-wrapper {
            position: relative;
            .remove-button {
                position: absolute;
                top: 3px;
                right: 3px;
                background-color: #f1f1f1;
                border-radius: 50%;
                width: 21px;
                height: 21px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .function-box-overview {
                cursor: pointer;
                padding: 5px;
                overflow-x: hidden;
                overflow-y: hidden;
                width: 8vw;
                min-width: 90px;
                height: 5.5vh;
                background-color: white;
                border-radius: 10px;
                box-shadow: 0px 0px 4px 3px rgba(221, 221, 221, 0.3);
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px;
                flex-flow: column;
                .function-name {
                    text-align: center;
                    align-items: center;
                    text-transform: capitalize;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
            .horizontal {
                box-shadow: 0px 8px 8px rgba(197, 194, 255, 0.7);
            }
        }
        img {
            width: 2vw;
        }
    }
    .horizontal {
        display: flex;
        height: unset;
    }
}
.horizontal {
    display: flex;
    height: 9vh;
    min-height: 40px;
}
