.detail-box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 16px 0px;
    .detail-box-wrapper {
        display: flex;
        position: relative;
        width: 100%;
        .detail-img {
            margin-right: 10px;
        }
        .separator {
            opacity: 0.3;
            background: radial-gradient(163199.99% 35.29% at 50% 50%, #979797 0%, rgba(151, 151, 151, 0) 100%);
            width: 2px;
            display: flex;
            height: 100%;
            align-self: center;
            margin: 0 5px;
        }
        .detail-data {
            min-width: 130px;
            display: flex;
            padding-left: 10px;
            align-items: center;
            text-align: center;
            .detail-data-row {
                font-family: 'InterSemiBold';
                font-size: 14px;
                color: #000000;
                line-height: 18px;
            }
        }
        .detail-title-wrapper {
            width: calc(100%);
            .detail-title {
                font-family: 'InterSemiBold';
                font-size: 16px;
                color: #1d1d1d;
                padding-bottom: 6px;
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: space-between;
            }
            .detail-description {
                font-family: 'Inter';
                font-size: 12px;
                color: rgba(74, 73, 92, 0.8);
            }
        }
        a {
            color: var(--purple);
        }
        a:hover {
            text-decoration: underline;
        }
    }
    .detail-box-body {
        margin-left: 35px;
    }
}
