.dls-config-container {
    margin-top: 10px;
    overflow-y: auto;
    .toggle-dls-config {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        .header-dls {
            font-size: 14px;
            font-family: 'InterSemiBold';
            margin-bottom: 5px;
        }
        .sub-header-dls {
            font-family: 'Inter';
            font-size: 12px;
            line-height: 15px;
            color: #b4b4b4;
            margin-bottom: 0;

            max-width: 200px;
        }
        .switch-button {
            margin-left: 10px;
        }
        .ant-switch {
            min-width: 35px;
        }
    }
}
