.overview-tags-container {
    position: relative;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .tags-items-container {
        height: calc(100%);
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        .tag-item {
            display: flex;
            justify-content: space-between;
            .item {
                display: flex;
                align-items: center;
                .item-num {
                    font-weight: 600;
                    font-size: 12px;
                    color: rgba(74, 73, 92, 0.8);
                    margin-right: 10px;
                }
                .tag-wrapper{
                    max-width: unset !important;
                }
            }
            .attached-component {
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                text-align: right;
                color: rgba(74, 73, 92, 0.8);
            }
        }
    }
    .ant-divider {
        margin: 5px 0 5px 0;
    }
}
