.multi {
    .ant-collapse-content-box {
        padding: 0 !important;
    }
    .ant-collapse-header {
        padding: 0px !important;
    }
    .sub-collapse-header {
        display: flex;
        align-items: center !important;
        padding: 0px 10px !important;
        gap: 10px;
        .title {
            display: flex;
            align-items: center !important;
            gap: 10px;
            .status {
                svg {
                    width: 9px !important;
                }
            }
        }
    }
    .consumer-number {
        background: #dfdfdf;
        min-width: 20px;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        font-family: 'InterSemiBold';
        margin-left: 10px;
        padding: 0 10px;
    }
    .collapse-header {
        flex-direction: row !important;
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 8px 0px;
        .title {
            display: flex;
            align-items: center;
        }
    }
    .collapse-child {
        .collapse-header {
            flex-direction: row !important;
            display: flex;
            align-items: center;
            padding: 0px 10px !important;
            p {
                font-size: 12px !important;
                margin: 0 !important;
            }
            .status {
                display: flex;
                align-items: center;
                gap: 5px;
                svg {
                    width: 9px !important;
                }
            }
        }
        .ant-collapse-content-box {
            padding: 5px 16px !important;
        }
        .ant-collapse-item.ant-collapse-no-arrow {
            border: none;
            border-radius: 0px;
        }
        .ant-collapse-item-active.ant-collapse-no-arrow {
            background: rgba(101, 87, 255, 0.03);
        }
        .ant-collapse-item.ant-collapse-no-arrow:last-child {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
}
