.multi{  
    .ant-collapse-content-box{
        padding: 0 !important;
    }
    .consumer-number {
        background: #DFDFDF;
        min-width: 20px;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        font-family: 'InterSemiBold';
        margin-left: 10px;
        padding: 0 10px;
    }
    .collapse-header{
        flex-direction: row !important;
    }
    .collapse-child{
        .collapse-header{
            p{font-size: 12px !important;}
            status{
                margin-right: 10px;
                img {
                    width: 9px !important;
                }
            }
        }
        .ant-collapse-content-box{
            padding: 5px 16px !important;
        }
        .ant-collapse-item.ant-collapse-no-arrow{
            border: none;
            border-bottom: 1px solid #efefef;
            border-radius: 0px
        }
        .ant-collapse-item-active.ant-collapse-no-arrow{
            background: rgba(101, 87, 255, 0.03)
        }
        .ant-collapse-item.ant-collapse-no-arrow:last-child{
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }   
    .collapse-child-with-count{
        border: none;
        border-bottom: 1px solid #efefef;
        border-radius: 8px;
        background: #FFFFFF;
        display: flex;
        justify-content: space-between;
        color: rgba(0, 0, 0, 0.85);
        font-size: 14px;
        padding: 12px 16px;
        line-height: 1.5715;
        align-items: center;
        .title-with-count{
            display: flex;
            margin-top: 0;
            margin-bottom: 0;
            align-items: center;
            align-content: space-between;
            font-family: 'InterSemiBold';
            font-size: 12px;
        }
        .consumer-number-title{
            background: #DFDFDF;
            font-size: 12px;
            min-width: 15px;
            display: flex;
            justify-content: center;
            border-radius: 20px;
            font-family: 'Inter';
            margin-left: 10px;
            padding: 0 10px;
        }
    }
}