.overview-integrations-container {
    position: relative;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .integrations-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .link-to-page {
            font-weight: 500;
            font-size: 12 !important;
            color: #6557ff !important;
            cursor: pointer;
        }
    }
    .integrations-list {
        display: flex;
        justify-content: space-between;
        .integration-item {
            border: 1px solid #f1f1f1;
            min-width: 85px;
            border-radius: 4px;
            padding: 8px 15px 8px 10px;
            cursor: pointer;
            position: relative;
            display: flex;
            justify-content: center;
            .connected {
                position: absolute;
                top: 1px;
                right: 1px;
                color: #27ae60;
                font-size: 14px;
            }
            .img-icon {
                height: 20px;
                width: 20px;
                cursor: pointer;
            }
            .integration-name {
                font-weight: 600;
                font-size: 14px;
                color: #2e2c34;
                margin-left: 10px;
                cursor: pointer;
            }
        }
    }
}
