
.modal-style {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #FFF;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    z-index: 1000
}

.overlay-style {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000
}

.search-input {
    align-items: center;
    width: 95%;
    font-size: 16px;
    background: transparent;
    border: none;
    padding: 5px;
    outline: none;
}
.search-bar {
    // padding:5px
}
.all-elements {
    overflow: auto;
    max-height: 500px;
}

.header {
    font-size: 20px;
    color: gray;
}

.list {
    padding-top: 5px;
    border-radius: 10px;
}
.list :hover {
    background-color: #dbd8fb;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.container {
    display: flex;
    align-items: center;
    padding: 10px;
}
.content {
    padding-left: 20px;
}
.data{
    font-size: medium;
    font-weight: 700;
}
.meta-data {
    font-size: small;
    color: lightgray;
}