.healthy-badge-container {
    .healthy,
    .unhealthy,
    .risky {
        display: flex;
        align-items: center;
        border-radius: 15px;
        justify-content: center;
        width: fit-content;
        padding: 0 10px;
        font-family: 'InterSemiBold';
        font-size: 13px;
        height: 25px;
        p {
            margin-top: 2px;
            margin: 0;
            line-height:13px;
        }
    }
    .healthy {
        background-color: rgba(97, 223, 155, 0.2);
        color: rgba(97, 223, 155, 1);
    }
    .unhealthy {
        background-color: rgba(247, 104, 91, 0.2);
        color: rgba(247, 104, 91, 1);
    }
    .risky {
        background-color: rgba(255, 198, 51, 0.2);
        color: rgba(255, 198, 51, 1);
    }
    .badge-icon {
        font-size: 16px;
        margin-right: 5px !important;
    }
    .no-bg{
        width: unset !important;
        background-color: unset !important;
    }
}
