.healthy-badge-container {
    .healthy,
    .unhealthy,
    .risky {
        display: flex;
        align-items: center;
        border-radius: 15px;
        justify-content: center;
        width: fit-content;
        padding: 0 10px;
        font-family: 'Inter';
        font-size: 13px;
        height: 25px;
        p {
            margin-top: 2px;
            margin: 0;
            line-height: 13px;
        }
    }
    .healthy {
        background: rgba(46, 212, 122, 0.1);
        color: #61df9b;
    }
    .unhealthy {
        background-color: rgba(247, 104, 91, 0.1);
        color: #f7685b;
    }
    .risky {
        background-color: rgba(255, 198, 51, 0.1);
        color: #ffc633;
    }
    .badge-icon {
        margin-right: 5px !important;
    }
    .no-bg {
        width: unset !important;
        background-color: unset !important;
    }
}
