.station-graph-wrapper{
    display: flex;
    position: relative;
    justify-content: center;
    place-items: center;
    cursor: pointer;
    .yellow-background{
        border-radius: 4px;
        background: #FFC633;
        width: 100%;
        height: 70%;
        position: absolute;
        z-index: -1;
    }
    .station-details{
        position: relative;
        border-radius: 8px;
        background: #6557FF;
        box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.25);
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        height: 100%;
        justify-content:space-between;
        padding: 10px 0;
        img{
            display: none;
            position: absolute;
            right: 10px;
            width: 12px;
        }
        .station-name{
            font-family: 'InterMedium';
            font-size: 15px;
            color: white;
            width: 80%;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .station-messages{
            width: 80%;
            height: 90px;
            border-radius: 4px;
            background: rgba(255, 255, 255, 0.20);
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: center;
            padding: 5px 0;
            justify-content: space-around;
            .icon-wrapper{
                background-color: white;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                svg{
                    color: var(--purple);
                }
            }
            .station-messages-title{
                color: #A199FF;
                font-family: 'InterMedium';
                font-size: 13px;
            }
            .station-messages-count{
                font-family: 'InterSemiBold';
                font-size: 15px;
                color: white;
            }
            .schema-attached-title{
                font-family: 'InterMedium';
                font-size: 12px;
                color: white;
            }
        }
        .schema-attached{
            height: 25px;
            
        }
    }
}
.station-graph-wrapper:hover{
    .station-details{
        img{
            display: block;
        }
    }
}