.function-drawer {
    .ant-drawer-content-wrapper {
        width: 60vw !important;

        box-shadow: none !important;
    }
    .ant-drawer-content {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        background: #fff;
        box-shadow: 0px 23px 44px 0px rgba(176, 183, 195, 0.14);
        .button-content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .gradient {
                margin-left: 10px;
                opacity: 0.3;
                background: radial-gradient(163199.99% 35.29% at 50% 50%, #1d1d1d 41.46%, rgba(255, 255, 255, 0) 100%);
                width: 1px;
                height: 20px;
            }
            svg {
                margin-left: 7px;
                width: 20px;
                height: 20px;
            }
        }
    }
    .ant-drawer-header {
        padding-bottom: 0px !important;
    }

    .ant-drawer-header-title {
        padding-bottom: 5px;
        .ant-drawer-title {
            font-family: 'InterSemiBold';
            font-size: 24px;
            p {
                margin: 0;
            }
            .ant-tabs-top > .ant-tabs-nav::before,
            .ant-tabs-top > .ant-tabs-nav {
                border-bottom: none !important;
                margin-bottom: 0px !important;
            }
        }
    }
}

.function-drawer-container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    flex-direction: column;

    header {
        padding: 16px 16px 0px 16px;
        display: flex;
        flex-direction: column;
        .function-box-header {
            display: grid;
            grid-template-columns: 5% 85% 10%;
            .function-name {
                font-family: 'InterSemiBold';
                font-size: 18px;
                line-height: 20px;
            }
            deatils {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-top: 5px;
                .ant-divider-vertical {
                    margin: 0px;
                    border-left-width: 1px;
                    height: 18px;
                    color: #e0e0e0;
                }
                .function-owner {
                    font-family: 'InterSemiBold';
                    font-size: 14px;
                    color: #6557ff;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
                downloads,
                commits,
                rate {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: #737373;
                    font-size: 14px;
                    .download-icon {
                        color: #b0b0b0;
                        font-size: 14px;
                    }
                    .stars-rate {
                        font-size: 14px;
                        color: #ffb10b;
                    }
                    .ant-rate-star:not(:last-child) {
                        margin-right: 4px;
                    }
                }
            }
        }
    }

    .drawer-header {
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 35px;
        padding-right: 24px;
        margin-top: 20px;
        margin-bottom: 20px;
        gap: 24px;
        width: 100%;
        min-width: 750px;

        .right-side {
            display: flex;
            gap: 6px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            .title {
                color: #2e2c34;
                font-family: 'InterSemiBold';
                font-size: 28px;
                margin-bottom: 0px;
                line-height: 30px;
            }
            deatils {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-top: 5px;
                .ant-divider-vertical {
                    margin: 0px;
                    border-left-width: 1px;
                    height: 18px;
                    color: #e0e0e0;
                }
                .function-owner {
                    font-family: 'InterSemiBold';
                    font-size: 14px;
                    color: #6557ff;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
                downloads,
                commits,
                rate {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: #737373;
                    font-size: 14px;
                    .download-icon {
                        color: #b0b0b0;
                        font-size: 14px;
                    }
                    .stars-rate {
                        font-size: 14px;
                        color: #ffb10b;
                    }
                    .ant-rate-star:not(:last-child) {
                        margin-right: 4px;
                    }
                }
            }
            info {
                display: flex;
                align-items: center;
                gap: 10px;
                repo,
                branch,
                language {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    gap: 4px;
                    border-radius: 32px;
                    border: 1px #e1e1e1 solid;
                    padding: 3px, 0px;
                    color: #737373;
                    svg {
                        margin-left: 6px;
                    }
                    label {
                        margin-right: 6px;
                    }
                }
                language {
                    label::first-letter {
                        text-transform: capitalize;
                    }
                }
            }
            description {
                color: #737373;
                font-size: 14px;
                margin-bottom: 0px;
                overflow: hidden;
                max-width: 35vw;
                white-space: nowrap;
            }
        }
    }
    .ant-tabs-nav-wrap {
        margin-left: 24px;
        .ant-tabs-tab {
            padding: 6px 0;
            margin: 0 10px;
        }
    }

    .ant-btn > .ant-btn-loading-icon {
        padding-right: 0px !important;
    }

    actions {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 10px;
        .install-btn {
            display: flex;
        }
    }
    code {
        height: calc(100% - 260px);
        overflow-y: auto;
        font-family: 'Inter';
        color: #2e2c34;
        padding: 0px 35px;
    }
}
