.function-drawer-container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    flex-direction: column;
    .back-to-function {
        display: flex;
        align-items: center;
        gap: 4px;
        opacity: 0.5;
        padding-left: 24px;
        padding-top: 18px;
        padding-bottom: 16px;
        border-bottom: 1px solid #e0e0e0;

        span {
            color: #000929;
            font-family: 'InterSemiBold';
            font-size: 14px;
        }

        span,
        svg {
            cursor: pointer;
        }
    }

    .code-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        cursor: pointer;
        label {
            cursor: pointer;
        }
    }
    .drawer-header {
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 35px;
        padding-right: 24px;
        margin-top: 20px;
        gap: 24px;
        width: 100%;
        min-width: 750px;
        .header-flex {
            display: flex;
        }
        .right-side {
            display: flex;
            gap: 6px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            .title {
                color: #2e2c34;
                font-family: 'InterSemiBold';
                font-size: 28px;
                margin-bottom: 0px;
                line-height: 30px;
            }

            description {
                color: #737373;
                font-size: 14px;
                margin-bottom: 0px;
                overflow: hidden;
                max-width: 35vw;
                white-space: nowrap;
            }
        }
    }
    .ant-tabs-nav-wrap {
        margin-left: 24px;
        .ant-tabs-tab {
            padding: 6px 0;
            margin: 0 10px;
        }
    }

    .ant-btn > .ant-btn-loading-icon {
        padding-right: 0px !important;
    }
    deatils {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 5px;
        .ant-divider-vertical {
            margin: 0px !important;
            border-left-width: 1px;
            height: 18px !important;
            color: #e0e0e0;
        }
        .function-owner {
            font-family: 'InterSemiBold';
            font-size: 14px;
            color: #6557ff;
            display: flex;
            align-items: center;
            gap: 5px;
        }
        downloads,
        commits,
        rate {
            display: flex;
            align-items: center;
            gap: 5px;
            color: #737373;
            font-size: 14px;
            .download-icon {
                color: #b0b0b0;
                font-size: 14px;
            }
            .stars-rate {
                font-size: 14px;
                color: #ffb10b;
            }
            .ant-rate-star:not(:last-child) {
                margin-right: 4px;
            }
        }
    }
    info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        gap: 10px;
        repo,
        branch,
        language {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 4px;
            border-radius: 32px;
            border: 1px #e1e1e1 solid;
            padding: 3px, 0px;
            color: #737373;
            svg {
                margin-left: 6px;
            }
            label {
                margin-right: 6px;
            }
        }
        language {
            label::first-letter {
                text-transform: capitalize;
            }
        }
    }
    .tags-list-wrapper {
        justify-content: flex-start;
        margin-top: 5px;
    }
    actions {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        .action-section-btn {
            display: flex;
            gap: 10px;
        }
    }
    inputsSection {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    code {
        font-family: 'Inter';
        color: #2e2c34;
        display: flex;
        height: calc(100% - 220px);
        overflow-y: hidden;

        .readme {
            width: calc(100% - 220px);
            height: 100%;
            overflow: auto;
            padding: 0px 35px;
        }
        .function-details {
            height: 100%;
            overflow-y: auto;
            width: 250px;
            .label-title {
                font-family: 'InterSemiBold';
                font-size: 14px;
                color: #2e2c34;
            }
        }
        .ant-divider-vertical {
            height: 100%;
            margin: 0px 10px 0px 0px;
        }
    }
    .ant-divider-horizontal {
        margin: 10px 0px;
    }
    .source-code {
        display: flex;
        height: calc(100% - 230px);
        position: relative;
        .source-code-title {
            font-family: 'InterSemiBold';
            font-size: 16px;
            color: #2e2c34;
            margin-bottom: 10px;
            margin-left: 10px;
        }
        .repos-section {
            border-radius: 4px;
            border: 1px solid #e6e6e6;
            height: calc(100% - 40px);
            width: 30%;
            min-width: 250px;
            min-width: 250px;
            margin: 16px 10px;
            padding: 10px;
            overflow-y: auto;
            overflow-x: auto;
        }
        .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
            background-color: #e9e9e9;
            border-radius: 2px;
        }
        .ant-tree .ant-tree-treenode {
            align-items: center;
        }
        .ant-tree .ant-tree-node-content-wrapper {
            padding: 0px;
        }

        .code-content-section {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: end;
            margin-right: 30px;
            position: relative;
            .code-content {
                height: 100%;
                width: 100%;
                overflow: auto;
                align-items: center;
                display: flex;
                justify-content: center;
                padding-top: 10px;
                border-radius: 4px;
                border: 1px solid #e6e6e6;
                margin-top: 10px;
                p {
                    margin: 0;
                    white-space: pre-line;
                }
                img {
                    padding-top: 5px;
                }
            }
        }
    }
    .no-function-to-display {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        font-family: 'InterSemiBold';
        font-size: 16px;
        color: #2e2c34;
    }
}
