.throughput-container {
    width: calc(100% - 52vw);
    height: 28vh;
    min-height: 200px;
    box-shadow: 0px 0px 4px 3px rgb(204 204 204 / 19%);
    border-radius: 8px;
    padding: 15px;
    background: white;
    position: absolute;
    overflow: hidden;

    .title {
        font-family: 'InterSemiBold';
        font-size: 14px;
    }
    .throughput-chart{
        overflow: auto;
        width: 95%;
        height: 88%;
    }
}
