.memphis-tooltip{
    cursor: pointer;
    width: 200px;
    p{
        margin: 0;
    }
    .ant-tooltip-arrow-content{
        --antd-arrow-background-color: white;
    }
    .ant-tooltip-inner{
        background: white;
        border-radius: 8px !important;
        color: #101828;
        font-size: 12px;
        width: fit-content;
    }
    .lock-tooltip-text{
        display: flex;
        flex-direction: column;
        text-align: start;
        gap: 5px;
        p{
            font-family: 'InterSemiBold';
            font-size: 14px;
        }
        span{
            font-family: 'InterMedium';
            font-size: 12px;
        }
    }
    .upgrade-plans-container{
        position: relative;
        width: 100%;
        display: flex;
        height: 20px;
        .upgrade-button-wrapper{
            padding: 0 5px;
            background: var(--purple);
            border-radius: 32px;
            .upgrade-plan{
                line-height: 12px;
                font-size: 12px;
                color: white;
                font-family: 'InterSemiBold';

            }
        }
        .upgrade-button-wrapper:hover{
            opacity: 0.9;
        }
    }
}
.lock-feature-icon{
    color: #FFC633 !important;
}