.requests-container {
    height: 100%;
    .requests-value {
        font-weight: 700;
        font-size: 26px;
        color: #2e2c34;
        line-height: 26px;
    }
    .header-preferences {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 40px 0px 40px;
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        .main-header {
            font-family: 'InterSemiBold';
            font-size: 24px;
            margin-bottom: 0;
        }
    }
    .usage-header-section {
        padding-left: 40px;
        padding-right: 40px;
        display: flex;
        justify-content: space-between;
        .ant-divider {
            margin: 0;
        }
        .requests-summary {
            width: 49%;
            border: 1.4px solid #e4e4e4;
            border-radius: 12px;
            .total-in-out {
                display: flex;
                align-items: center;
                .requests-total {
                    width: 50%;
                }
                .ant-divider-vertical {
                    margin: 0;
                    height: 70px;
                }
            }
            .requests-total {
                padding: 15px 20px;
                display: flex;
                align-items: flex-start;

                .requests-data {
                    display: flex;
                    flex-direction: column;
                    padding-left: 10px;
                    font-weight: 600;
                    font-size: 16px;
                    .requests-title {
                        color: #6557ff;
                    }
                    .requests-title-in {
                        color: #27ae60;
                    }
                    .requests-title-out {
                        color: #fdb927;
                    }
                }
            }
            .cloud-provider {
                padding: 10px 20px;
                .ant-divider-vertical {
                    margin: 0 30px;
                    height: 15px;
                }
                .cloud-provider-label {
                    font-weight: 600;
                    font-size: 14px;
                    color: #737373;
                    margin-right: 10px;
                }
                .region {
                    font-weight: 600;
                    font-size: 14px;
                    color: #2e2c34;
                    margin-left: 10px;
                }
            }
        }
        .total-payment {
            width: 49%;
            padding: 20px;
            border: 1.4px solid #e1e0e5;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .ant-divider {
                margin: 5px 0 5px 0;
            }
            .next-billing {
                font-size: 12px;
                color: #84818a;
                margin: 0;
            }
            .total-payment-header {
                display: flex;
                justify-content: space-between;
                .total-ammount {
                    margin: 0;
                    font-weight: 700;
                    font-size: 20px;
                    color: #2e2c34;
                }
            }
            .billing-item {
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                line-height: 14px;
                .discount-badge {
                    background-color: #d6f5e3;
                    color: #27ae60;
                    border-radius: 10px;
                    font-size: 10px;
                    font-weight: 600;
                    padding: 2px 6px 2px 6px;
                }
                .item {
                    margin: 0;
                    color: #84818a;
                }
                .ammount {
                    margin: 0;
                    color: #2e2c34;
                }
            }
            .total-payment-footer {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                .download-invoice {
                    margin: 0;
                    color: #6557ff;
                    size: 14px;
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        }
    }
    .usage-details {
        overflow-y: auto;
        height: calc(100% - 350px);
        padding: 0px 40px 0 40px;
        margin-top: 20px;
        .segment-data {
            margin-bottom: 10px;
        }
        .requests-panel {
            margin-bottom: 20px;
            padding-right: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1.4px solid #e1e0e5;
            border-radius: 8px;
            height: 80px;
            position: relative;
        }
        .requests-item {
            display: flex;
            align-items: center;
            width: 80%;
            height: 100%;
            .yellow-edge {
                background-color: #ffc633;
                width: 10px;
                height: 100%;
                margin-right: 20px;
                border-radius: 8px 0 0 8px;
            }
            .circle-img {
                border: 1px solid #eaeaea;
                border-radius: 50%;
                padding: 10px;
                height: 50px;
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 20px;
            }
            div {
                display: flex;
                flex-direction: column;
            }
            .request-type {
                font-weight: 600;
                font-size: 20px;
                color: #2e2c34;
            }
            .request-description {
                font-weight: 500;
                font-size: 14px;
                color: #84818a;
            }
        }
    }
}
