.requests-container {
    position: relative;
    .loader-container {
        position: absolute;
        height: 100%;
        width: 100%;
        .memphis-gif {
            position: absolute;
        }
    }
    height: 100%;
    .requests-value {
        font-family: 'InterBold';
        line-height: 28px;
        color: #2e2c34;
        font-size: 28px;
    }
    .header-preferences {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 40px 0px 40px;
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        .main-header {
            font-family: 'InterSemiBold';
            font-size: 24px;
            margin-bottom: 0;
        }
    }
    .usage-header-section {
        padding-left: 40px;
        padding-right: 40px;
        display: flex;
        justify-content: space-between;
        .ant-divider {
            margin: 0;
        }
        .requests-summary {
            width: 49%;
            border: 1.4px solid #e4e4e4;
            border-radius: 12px;
            .requests-summary-in-out {
                display: flex;
                .data-gb {
                    color: #2e2c34;
                    font-weight: 700;
                    font-size: 22px;
                }
                .total-value {
                    color: #2e2c34;
                    font-weight: 700;
                    font-size: 18px;
                }
                .requests-title-in {
                    color: #737373;
                }
                .data-in {
                    width: 50%;
                    margin: 10px 5px 10px 10px;
                    .requests-total {
                        padding: 10px;
                        display: flex;
                        align-items: flex-start;
                        background: #cef3dd;
                        border-radius: 4px 4px 0 0;
                        .requests-data {
                            display: flex;
                            flex-direction: column;
                            padding-left: 10px;
                            font-family: 'InterMedium';
                            font-size: 16px;
                            align-self: center;
                            img {
                                width: 30px;
                            }
                            .requests-title-in {
                                color: #27ae60;
                            }
                        }
                    }
                    .total-messages {
                        background-color: #e2f8eb;
                        border-radius: 0 0 4px 4px;
                        padding: 10px;
                        img {
                            margin: 3px;
                        }
                        .requests-data {
                            display: flex;
                            flex-direction: column;
                            padding-left: 10px;
                        }
                        .total-messages-in {
                            display: flex;
                            align-items: flex-start;
                        }
                    }
                }
                .data-out {
                    width: 50%;
                    margin: 10px 10px 10px 5px;
                    .requests-total {
                        padding: 10px;
                        display: flex;
                        align-items: flex-start;
                        background: #ffecc7;
                        border-radius: 4px 4px 0 0;
                        .requests-data {
                            display: flex;
                            flex-direction: column;
                            padding-left: 10px;
                            font-family: 'InterMedium';
                            font-size: 16px;
                            align-self: center;
                            img {
                                width: 30px;
                            }
                            .requests-title-out {
                                color: #fdb927;
                            }
                        }
                    }
                    .total-messages {
                        background-color: #fff5e1;
                        border-radius: 0 0 4px 4px;
                        padding: 10px;
                        img {
                            margin: 3px;
                        }
                        .requests-data {
                            display: flex;
                            flex-direction: column;
                            padding-left: 10px;
                        }
                        .total-messages-out {
                            display: flex;
                            align-items: flex-start;
                        }
                    }
                }
            }
        }

        .cloud-provider {
            margin-top: 10px;
            margin-left: 10px;
            display: flex;
            .cloud-provider-label {
                font-family: 'InterMedium';
                font-size: 16px;
                color: #737373;
                margin-right: 10px;
            }
            .region {
                font-family: 'InterSemibold';
                font-size: 14px;
                color: #2e2c34;
                margin-left: 10px;
            }
        }
        .total-payment {
            width: 49%;
            padding: 20px;
            border: 1.4px solid #e1e0e5;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .ant-divider {
                margin: 5px 0 5px 0;
            }
            .next-billing {
                font-size: 12px;
                color: #84818a;
                margin: 0;
                white-space: pre-line;
            }
            .total-payment-header {
                display: flex;
                justify-content: space-between;
                .price-val-star {
                    display: flex;
                }
                .total-ammount {
                    margin: 0;
                    font-family: 'InterSemiBold';
                    font-size: 24px;
                    color: #2e2c34;
                }
            }
            .billing-item {
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                line-height: 14px;
                .discount-badge {
                    background-color: #d6f5e3;
                    color: #27ae60;
                    border-radius: 10px;
                    font-size: 12px;
                    font-family: 'InterMedium';
                    padding: 2px 8px;
                }
                .item {
                    margin: 0;
                    color: #84818a;
                }
                .pricing-disclaimer {
                    margin: 0;
                    color: #84818a;
                    font-size: 11px;
                    font-weight: 500;
                }
                .ammount {
                    margin: 0;
                    color: #2e2c34;
                }
            }
            .total-payment-footer {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                .download-invoice {
                    margin: 0;
                    color: #6557ff;
                    size: 14px;
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        }
    }
    .usage-details {
        overflow-y: hidden;
        height: calc(100% - 390px);
        margin-top: 15px;
        .segment-data {
            margin-bottom: 31px;
            margin-left: 40px;
            padding-right: 40px;
            display: flex;
            flex-direction: row;
            gap: 16px;
            .tab-container {
                display: flex;
                height: 114px;
                flex-grow: 1;
                border-radius: 6px;
                border: 1px solid #eaeaea;
                background: #fff;
                padding: 9px;
                cursor: pointer;
                .tab {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    flex: 1;
                    .divider {
                        width: 1px;
                        height: 102px;
                        display: flex;
                        opacity: 0.3;
                        background: radial-gradient(163199.99% 35.29% at 50% 50%, #979797 0%, rgba(151, 151, 151, 0) 100%);
                    }
                    .tab-item {
                        flex-grow: 3;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .top-row {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            gap: 11px;
                            .icon {
                                width: 17px;
                                height: 17px;
                                border-radius: 100%;
                                background-color: #6557ff;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                svg {
                                    transform: translate(0.5px);
                                }
                            }
                            .text-left,
                            .text-right {
                                color: #737373;
                                font-family: 'InterMedium';
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 20px;
                            }
                            .text-right {
                                font-size: 12px;
                            }
                        }
                        .bottom-row {
                            .text {
                                color: var(--Dark, #2e2c34);
                                font-family: 'Inter';
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 36px; /* 180% */
                                letter-spacing: -0.4px;
                            }
                        }
                    }
                    .tab-item:first-child {
                        flex-grow: 2;
                    }
                }
                &:hover,
                &.active {
                    .tab {
                        background-color: #f0eefe;
                        border-radius: 8px;
                    }
                }
            }
        }
        .panel-container {
            overflow-y: auto;
            height: calc(100% - 45px);
            .requests-panel {
                margin: 0px 40px 20px 40px;
                padding-right: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid #e1e0e5;
                border-radius: 10px;
                height: 9.5vh;
                min-height: 75px;
                position: relative;
            }
            .requests-item {
                display: flex;
                align-items: center;
                width: 80%;
                height: 100%;
                .box-edge {
                    width: 10px;
                    height: 100%;
                    margin-right: 20px;
                    border-radius: 8px 0 0 8px;
                }
                .lavander {
                    background-color: #f0eefe;
                }
                .circle-img {
                    border: 1px solid #eaeaea;
                    border-radius: 50%;
                    padding: 10px;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 20px;
                }

                div {
                    display: flex;
                    flex-direction: column;
                }
                .request-type {
                    font-family: 'InterSemiBold';
                    font-size: 20px;
                    color: #2e2c34;
                }
                .request-description {
                    font-size: 14px;
                    color: #84818a;
                }
            }
        }
    }
}
