.requests-container {
    height: 100%;
    .header-preferences {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 40px 0px 40px;
        .main-header {
            font-family: 'InterSemiBold';
            font-size: 24px;
            margin-bottom: 0;
        }
    }
    .requests-panel{
        margin: 20px 40px 20px 40px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1.4px solid #E1E0E5;
        border-radius: 8px;
        height: 120px;
        .requests-value{
            font-weight: 700;
            font-size: 30px;        
            color: #2E2C34;
        }
    }
    .summary{
        background: #F5F5F6;
    }
    .requests-panel-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        div{
            display: flex;
            align-items: center;
        }
        .requests-title{
            padding-left: 10px;
            font-weight: 600;
            font-size: 16px;
            color: #6557FF;
        }
       
    }
    .requests-item{
        display: flex;
        width: 80%;
        .circle-img{
            border: 1px solid #EAEAEA;
            border-radius: 50%;
            padding: 10px;
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
        }
        div{
            display: flex;
            flex-direction: column;
        }
        .request-type{
            font-weight: 600;
            font-size: 20px;
            color: #2E2C34;

        }
        .request-description{
            font-weight: 500;
            font-size: 14px;
            color: #84818A;
        }
    }
    .value{
        width: 20%;
    }
    .ant-divider{
        height: 80%;
    }
}
