slack-integration{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height:550px;
    p{
        margin: 0;
    }
    .insideBanner{
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }
    form{
        position: relative;
        height: calc(100% - 455px);
   
        .api-details{
            height: calc(100% - 83px);
            overflow: scroll;
            margin: 20px;
            margin-right: 2px;
            padding-right: 13px;
            .title{
                font-family: 'InterMedium';
                font-size: 15px;
            }
            .api-key{
                margin-top: 10px;
                padding: 10px;
                padding-bottom:1px;
                border-radius: 8px;
                background-color: rgba(101, 87, 255, 0.1);
                p{
                    font-family: 'InterSemiBold';
                    font-size: 12px;
                    color: #2C2C2C;
                }
                .desc{
                    color: rgba(74, 73, 92, 0.8);
                    font-size: 14px;
                    margin-bottom:15px;
                }
                .input-component-container{
                    padding-top:10px;
                    .input-container input{
                        background-color: rgba(101, 87, 255, 0.2) !important;
                    }
                    .ant-input::placeholder{
                        color: rgba(46, 44, 52, 0.5)
                    }
                }
            }
            .channel-id{
                margin: 10px 0px;
                font-size: 13px;
                p{
                    color: #1D1D1D;
                }
                .desc{
                    color: #B4B4B4;
                    font-size: 12px;

                }
                .input-component-container{
                    margin-top: 10px;
                }
            }
            .notification-option{
                p{
                    font-family: 'InterMedium';
                    font-size: 15px;
                }
                .desc{
                    color: #B4B4B4;
                    font-size: 12px;
                    margin-bottom:15px;
                }
                .option-wrapper{
                    display: flex;
                    width: 100%;
                    height: 80px;
                    border: 1px solid #E1E1E1;
                    border-radius: 8px;
                    margin:10px 0px;
                    padding: 0px 10px;
                    align-items: center;
                    justify-content: space-between;
                    .option-name{
                        display: flex;
                        align-items: flex-start;
                        img{
                            width: 35px;
                            margin-right:10px
                        }
                        .name-des{
                            padding-right:10px;
                            p{
                                font-family:'InterSemiBold';
                                font-size: 14px;
                            }
                            span{
                                color: #B4B4B4;
                                font-size: 12px;
                            }
                        }
                    
                    }
                }
            }
        }
        .button-wrapper{
            display: grid;
            grid-template-columns: 50% 50%;
            text-align: -moz-center;
            text-align: -webkit-center;
            height: 90px;
            align-items: center;
            margin: 0 20px;
            border-top: 1px solid #DEDEDE;
        }
    }
}
