.get-started-modal {
    display: grid;
    grid-template-rows: auto auto 1fr auto; /* Header, Title, Content, Footer */
    grid-template-columns: 1fr;
    height: 100%;
    max-height: 100vh;
    overflow: hidden;
    top: 2.5vh;
    .ant-divider-horizontal.ant-divider-with-text {
        margin: 5px 0;
    }
    .title-wrapper {
        flex-shrink: 0;
        width: 100%;
    }
    .header-icon {
        margin: 0px auto;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #6557ff1a;
        border-radius: 100%;
        margin-bottom: 17px;
    }
    .title-wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .title {
            color: #2e2c34;
            text-align: center;
            font-family: 'InterSemiBold';
            font-size: 26px;
            line-height: 28px;
            margin-bottom: 0px;

            span {
                background: linear-gradient(190deg, #61dfc6 39.68%, #62ccce 48.39%, #6470f5 50.09%, #6557ff 60.07%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .sub-title {
            color: var(--gray-600, #475467);
            text-align: center;
            font-family: 'Inter';
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 0px;
        }
    }
    .video-wrapper {
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .info {
        overflow-y: auto;
        padding: 10px;
        .step-container {
            width: 70%;
            .step-header {
                display: flex;
                align-items: center;
                gap: 8px;
                .icon {
                    width: 18px;
                    height: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #6557ff;
                    border-radius: 100%;
                    cursor: pointer;
                    color: white;
                    text-align: center;
                    font-family: 'InterSemiBold';
                    font-size: 11px;
                    line-height: 16px;
                }
                .done {
                    width: 18px;
                    height: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #2ed47a;
                    border-radius: 100%;
                    cursor: pointer;
                    color: white;
                    text-align: center;
                    font-family: 'InterSemiBold';
                    font-size: 11px;
                    line-height: 16px;
                }
                .step-name {
                    color: #1d1d1d;
                    font-family: 'InterSemiBold';
                    font-size: 14px;
                    line-height: 24px;
                }
                .cloneButton {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 4px;
                    svg {
                        path {
                            stroke: #6557ff;
                        }
                    }
                    span {
                        color: #6557ff;
                        font-family: 'InterMedium';
                        font-size: 12px;
                        line-height: normal;
                    }
                }
            }
            .step-body {
                margin-left: 9px;
                padding-top: 0px;
                padding-bottom: 16px;
                padding-left: 16px;

                .description {
                    color: #4a495ccc;
                    text-overflow: ellipsis;
                    font-family: 'Inter';
                    font-size: 12px;
                    line-height: 140%;
                    margin-bottom: 0px;
                }
            }
            &:not(:last-child) {
                .step-body {
                    border-left: 1px dashed #cdcdcd;
                }
                .step-body-done {
                    border-left: 1px solid #2ed47a;
                }
            }
        }
    }

    .title {
        color: #1d1d1d;
        font-family: 'InterSemiBold';
        font-size: 14px;
        margin-bottom: 0px;
        margin-top: 5px;
    }

    use-cases {
        .header {
            display: flex;
            flex-direction: column;
        }
        .use-cases {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;
            margin: 10px 0px;
            span {
                cursor: pointer;
                display: flex;
                align-items: center;
                padding-left: 20px;
                width: 48%;
                height: 40px;
                color: #1d1d1d;
                font-size: 14px;
                border-radius: 5px;
                border: 1px solid #eaecf0;
            }
            .selected {
                background: rgba(101, 87, 255, 0.1);
                color: #6557ff;
                border: 1px solid #6557ff;
            }
        }
    }
    tutorial {
        width: 100%;
        height: 140px;
        border-radius: 5px;
        border: 1px solid #eaecf0;
        position: relative;
        display: flex;
        cursor: pointer;
        .left-purple {
            height: 100%;
            width: 15px;
            background-color: #6557ff;
            border-radius: 5px 0px 0px 5px;
        }
        data {
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .title,
            .subtitle {
                cursor: pointer;
            }
            header {
                color: #898989;
                font-family: 'Inter';
                font-size: 12px;
                font-weight: 400;
            }
            body {
                display: flex;
                flex-direction: column;
                margin-bottom: 4px;
                cursor: pointer;
            }
            footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                info {
                    cursor: pointer;
                    display: flex;
                    gap: 10px;
                    .difficult {
                        color: #20c9ac;
                        font-size: 12px;
                        font-weight: 600;
                        background-color: rgba(32, 201, 172, 0.1);
                        border-radius: 5px;
                        padding: 2px 5px;
                        cursor: pointer;
                    }
                    .type {
                        border-radius: 5px;
                        padding: 2px 5px;
                        font-size: 12px;
                        font-weight: 600;
                        color: #979797;
                        border: 1px solid #d8d8d8;
                        cursor: pointer;
                    }
                }
                time {
                    display: flex;
                    align-items: center;
                    gap: 2px;
                    color: #979797;
                    font-size: 12px;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
        }
    }
    .footer {
        padding-top: 12px;
        display: flex;
        justify-content: flex-end;
    }
    .example-app {
        font-family: 'InterSemiBold';
    }
}
