.connector-errors {
    .loader {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .no-logs {
        font-family: 'InterMedium';
        font-size: 14px;
        color: #84818a;
        margin-top: 10px;
        margin-left: 10px;
    }
}
