.search-input-container {
    position: relative;
    z-index: 2;
    margin-right: 30px;
    align-self: center;
}

.search-input-container Input {
    font-size: 12px;
    margin-top: 3px;
}

.search-icon {
    margin-left: 5px;
    width: 1vw;
}
