.invoice-history-container {
    height: calc(100% - 300px);
    width: 100%;
    padding: 40px;
    .invoice-history-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .invoice-history-title {
            font-weight: 600;
            font-size: 20px;
            color: #2e2c34;
            margin: 0;
        }
        .invoice-history-description {
            font-weight: 500;
            font-size: 14px;
            color: #84818a;
            margin: 0;
        }
        .header-filter {
            display: flex;
            justify-content: space-between;
            width: 570px;
            .download-img {
                margin-right: 5px;
            }
        }
    }
}
