.modal-card {
    display: flex;
    padding: 16px;
    gap: 4px;
    flex-direction: column;

    border-radius: 8px;
    border: 1px solid #eaecf0;
    background: #fff;
    margin-bottom: 12px;
    cursor: pointer;

    &__top-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        svg {
            width: 16px;
            height: 16px;
            path {
                fill: #6557ff;
            }
        }

        .empty-circle {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 1px solid #d0d5dd;
        }
    }

    &__title {
        color: #101828;
        font-family: 'InterMedium';
        font-size: 16px;
    }
    &__subtitle {
        color: #475467;
        font-family: 'Inter';
        font-size: 14px;
    }

    &.selected {
        border: 1px solid #6557ff;
        background: rgba(101, 87, 255, 0.1);

        .modal-card__title {
            color: #6557ff;
        }
    }
}

.modal-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 17px;

    .button-container {
        width: 100%;
    }
}
