.select-throughput-container {
    position: relative;
    .prefixImg {
        position: absolute;
        top: 7px;
        left: 10px;
    }
    .select {
        border: 1px solid #efefef;
        border-radius: 4px;
        padding-left: 25px;
        height: 30px;
        width: 200px;
        display: flex;
        align-items: center;
        .ant-select-selector .throughput-name {
            margin-right: 10px;
            font-family: 'InterMedium';
            font-size: 14px !important;
            color: #2e2c34;
            width: 130px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
        }
        .drop-down-icon {
            color: black;
            margin-left: 10px;
        }
    }
}
.select-throughput-options {
    border: 1px solid #f0f0f0 !important;
    box-shadow: 0px 3px 10px rgba(16, 10, 85, 0.1);
    border-radius: 8px !important;
    width: 180px;
    p {
        margin: 0;
    }
    .throughput-details {
        display: flex;
        align-items: center;
    }
    .throughput-name {
        font-family: 'InterMedium';
        font-size: 14px;
        margin: 0;
        margin-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
    }
    .ant-select-item-option {
        margin: 3px 8px;
        border-radius: 8px;
    }
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        background: rgba(101, 87, 255, 0.1);
        border-radius: 8px;
        margin: 3px 8px;
        font-weight: unset !important;
    }
}
.ant-select-selection-item {
    .throughput-details {
        svg {
            display: none;
        }
    }
}
