.add-tag-container {
    gap: 10px;
    display: flex;
    flex-direction: column;
    height: 500px;
    font-size: 12px;
    font-weight: 400;
    .site-tag-plus {
        background: #fff;
        border-style: dashed;
        width: 20%;
    }
    .edit-tag {
        user-select: none;
        width: 13%;
        padding-right: 5px;
        padding-left: 5px;
        border-radius: 4px;
        height: 24px;
        display: flex;
        align-items: center;
    }
    .tag-input {
        width: 78px;
        margin-right: 8px;
        vertical-align: top;
    }
    .existing-tags {
        display: flex;
        flex-wrap: wrap;
        height: 100px;
        border: 1px solid #d8d8d8;
        border-radius: 4px;
        align-content: flex-start;
        justify-content: space-evenly;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .tags-list {
        justify-content: space-between;
        margin-bottom: 0px;
        margin-left: 10px;
        margin-top: 4px;
        display: grid;
        overflow-x: hidden;
    }
    [data-theme='dark'] .site-tag-plus {
        background: transparent;
        border-style: dashed;
    }
    .popover {
        position: 'absolute';
        z-index: 2;
    }
    .color_cover {
        position: 'fixed';
        top: '0px';
        right: '0px';
        bottom: '0px';
        left: '0px';
    }
}
