.poison-producer {
    position: relative;
    width: 100%;
    margin-top: 55px;
    background: #ffffff;
    box-shadow: 0px 23px 44px rgba(176, 183, 195, 0.14);
    border-radius: 8px;
    p {
        margin: 0;
    }
    header {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 55px;
        align-items: center;
        .header-title{
            font-family: 'InterSemiBold';
            font-size: 14px;
            margin-left: 15px;
        }
        .header-name{
            font-family: 'Inter';
            font-size: 14px;
        }
        .circle-status {
            margin-right: 15px;
        }
    }
}
