.create-user-form {
    height: 100%;
    .user-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        position: relative;
        .option-wrapper {
            margin-bottom: 0px;
        }
        .form-section {
            .form-section-row {
                display: flex;
                justify-content: space-between;
                gap: 20px;
                margin-bottom: 10px;
            }
        }
        .fields-section {
            height: calc(100% - 50px);
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            gap: 30px;
            .radio-group {
                justify-content: flex-end;
            }
        }
        .button-container {
            margin-top: 10px;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    .user-row {
        display: flex;
        gap: 10px;
        div {
            width: 100%;
        }
    }
    p {
        margin-bottom: 0px;
    }
    .ant-form-item {
        margin-bottom: 0px;
        width: 100%;
    }
    .fields-title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
        .coming-soon {
            color: #f4f4f4;
            background-color: var(--purple);
            padding: 2px 8px;
            border-radius: 32px;
            font-size: 8px;
            font-family: 'InterSemiBold';
            width: 75px;
            text-align: center;
        }
    }
    .fields-title {
        font-family: 'InterMedium';
        font-size: 16px;
        width: 100%;
    }
    .field-title {
        font-size: 12px;
        font-family: 'Inter';
        font-weight: 400;
        margin-top: 5px;
    }
    .field {
        margin-bottom: 10px;
    }
    .password-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .generate-btn {
            display: flex;
            align-items: center;
            cursor: pointer;
            gap: 5px;
            p {
                margin: 0;
            }
        }
    }

    .show-violation-form {
        margin-top: 0;
    }
    .select-container {
        margin-bottom: 10px;
    }
    .ant-select-multiple.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
        background: none;
    }
    .drop-down-icon {
        color: black;
        margin-left: 10px;
    }
    .ant-select-focused .ant-select-selector,
    .ant-select-selector:focus,
    .ant-select-selector:active,
    .ant-select-open .ant-select-selector {
        border-color: #d9d9d9 !important;
        box-shadow: none !important;
    }
}
