.repos-container {
    .ant-divider {
        margin: 0;
    }
    // height: 100px;
    width: 100%;
    // background-color: aquamarine;
    border: 1px solid #d6d6d6;
    border-radius: 8px;
    .repos-header {
        height: 40px;
        width: 100%;
        // background-color: #d9d9d9;
        background-color: rgba(217, 217, 217, 0.3);
        border-radius: 8px 8px 0px 0px;
        display: grid;
        grid-template-columns: 30% 30% 30% 10%;
        align-items: center;
        color: #737373;
    }

    .repos-body {
        .ant-form-item {
            margin-bottom: 0px !important;
        }
        width: 100%;
        .repos-item {
            width: 100%;
            display: grid;
            grid-template-columns: 30% 30% 30% 10%;
            align-items: center;
            position: relative;
            margin: 10px 0px;
            .select-repo-span {
                width: 100%;
                display: flex;
                position: relative;
                padding-left: 10px;
            }
        }
    }
}
.connect-bth-gh {
    display: flex;
    justify-content: space-between;
}
