.logs-list-container {
    height: calc(100% - 45px);
    width: 100%;
    .add-search-logs {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 30px;
    }
    .logs-wrapper{
        background: white;
        border: 1px solid #e9e9e9;
        box-sizing: border-box;
        box-shadow: 0px 6px 18px rgb(0 0 0 / 6%);
        border-radius: 8px;
        position: relative;
        width: 100%;
        height: calc(100% - 50px);
        margin-top: 10px;
        padding: 5px;
    

    .logs-number {
        width: 70%;
        display: flex;
        align-items: flex-end;
        height: 3px;
        margin-top: 20px;
        margin-left: 5px;
        position: absolute;
        color: #8f8f8f;
        font-weight: 400;
        font-size: 12px;
    }
    .logs-dropdown {
        right: 2vw;
        position: absolute;
        margin-top: 5px;
    }

    
    .logs-list-wrapper {
        display: flex;
        position: relative;
        width: 100%;
        height: calc(100% - 45px);
        top: 30px;
        .list {
            position: relative;
            width: 70%;
            border-right: 1px solid #e9e9e9;
            margin-top: 1%;
            .coulmns-table {
                border-bottom: 1px solid #e9e9e9;
                width: 99%;
                margin-top: 0%;
                display: flex;
                justify-content: space-between;
                color: #979797;
                padding-left: 22px;
                span {
                    font-weight: 400;
                    font-size: 12px;
                    margin-right: 10px;
                }
            }
            .rows-wrapper {
                position: relative;
                width: calc(100% - 1px);
                height: calc(100% - 10px);
                overflow: auto;
                .log-row {
                    width: 99%;
                    height: 35px;
                    display: flex;
                    color: #1d1d1d;
                    justify-content: space-between;
                    align-items: center;
                    font-weight: 400;
                    font-size: 12px;
                    padding-left: 22px;
                    cursor: pointer;
                    div {
                        margin-right: 10px;
                        cursor: pointer !important;
                    }
                }
                .selected {
                    padding-left: 16px;
                    border-left: 6px solid var(--purple);
                    background: rgba(90, 79, 229, 0.04);
                }
                .log-field {
                    overflow: hidden;
                    width: 490px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
        .row-data {
            width: 30vw;
            overflow-wrap: anywhere;
            overflow-y: auto;
            margin: 1vh;
            margin-top: 45px;
            overflow-x: hidden;
            .row-content {
                width: 99%;
                display: flex;
                justify-content: space-between;
                color: #1d1d1d;
                padding-left: 22px;
                font-weight: 400;
                font-size: 12px;
                margin-right: 5px;
            }
        }
    }
}
}
