.setting-container {
    display: flex;
    position: relative;
    height: 100%;
    width: calc(100% - 90px);
    .menu-container {
        width: 350px;
        padding-left: 30px;
        padding-right: 30px;
        min-width: 285px;
        .header {
            font-family: 'InterSemiBold';
            font-size: 26px;
            color: #1d1d1d;
            margin-bottom: 0px;
            padding-top: 20px;
        }
        .administration {
            margin-top: 30px;
        }
        .side-menu {
            .menu-item {
                margin-bottom: 5px;
                border-radius: 4px;
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
                font-family: 'InterSemiBold';
                font-size: 14px;
                cursor: pointer;
                svg {
                    margin-left: 10px;
                    margin-right: 15px;
                    height: 18px;
                    width: 18px;
                }
            }
            .selected {
                background: rgba(212, 208, 253, 0.3);
                color: #6557ff;
            }
            .disabled {
                opacity: 50%;
                cursor: not-allowed;
            }
            .update-available {
                background: var(--purple);
                color: white;
                border-radius: 15px;
                padding: 0 5px;
                font-family: 'InterMedium';
                font-size: 11px;
                margin-left: 5px;
            }
        }
    }

    .setting-items {
        position: relative;
        height: calc(100% - 40px);
        width: calc(100% - 350px);
        min-height: 450px;
        min-width: 800px;
        min-height: 530px;
        top: 20px;
        right: 20px;
        background-color: #ffffff;
        box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
    }
    .header-preferences {
        .main-header {
            font-family: 'InterSemiBold';
            font-size: 24px;
            margin-bottom: 0;
        }
        .sub-header {
            font-family: 'Inter';
            font-size: 12px;
            color: rgba(74, 73, 92, 0.8);
        }
    }
}
