.station-box-container {
    width: calc(100%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 3px rgba(221, 221, 221, 0.3);
    min-height: 60px;
    margin-bottom: 10px;
    overflow: auto;
    .station-box-header {
        display: flex;
        min-height: 60px;
        padding-left: 20px;
        justify-content: space-between;
        h3,
        p {
            margin: 0;
        }
        .info-fields {
            display: flex;
            align-items: center;
            .field-wrapper {
                padding-right: 25px;
                display: flex;
                align-items: center;
                width: 200px;
                h3 {
                    font-weight: 600;
                    padding-right: 3px;
                    font-size: 14px;
                }
                p {
                    font-weight: 400;
                    font-size: 14px;
                }
            }
            .retention{
                width: 200px;
            }
            .replicas{
                width: 200px;
            }
            .storage{
                width: 200px;
            }
        }
        .actions-side {
            display: flex;
            margin-right: 20px;
            .hover-section{
                display: flex;
                color: var(--purple);
            }
            .action {
                display: flex;
                align-items: center;
                margin-left: 20px;
            }
            .overview,
            .edit {
                font-weight: 600;
                font-size: 12px;
                cursor: pointer;
            }
            .station-menu {
                .threedots-menu {
                    color: #a9a9a9;
                    margin-top: 0px;
                    margin-left: 10px;
                }
            }
        }
    }
}