.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;
    .ant-divider-horizontal {
        margin: 0;
    }
    .title {
        font-family: 'InterSemiBold';
        font-size: 14px;
        color: #2e2c34;
        margin-bottom: 10px;
    }
    .avatar-section {
        .avatar-images {
            display: flex;
            .avatar-img {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #ffffff;
                box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
                border-radius: 8px;
                border: 1px solid #e4e4e4;
                height: 60px;
                width: 60px;
                margin-right: 10px;
                cursor: pointer;
                img {
                    height: 40px;
                    width: 40px;
                }
            }
            .selected {
                background: #f1f0ff;
                border: 1px solid #ada6ff;
            }
            .avatar-disable{
                opacity: 0.6;
            }
        }
    }
    .company-logo-section {
        .company-logo {
            display: flex;
            align-items: center;
            .logoimg {
                border: 1px solid #dddddd;
                border-radius: 8px;
                height: 100px;
                width: 100px;
            }
            .company-logo-right {
                margin-left: 20px;
                .update-remove-logo {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                    width: 370px;
                }
                .company-logo-description {
                    font-family: 'Inter';
                    font-size: 12px;
                    color: rgba(74, 73, 92, 0.8);
                }
            }
        }
    }
    .analytics-section {
        .analytics-description {
            font-family: 'Inter';
            font-size: 12px;
            color: #b4b4b4;
        }
        .radioButton-section {
            margin-top: 20px;
        }
    }
    .delete-account-section {
        .delete-account-description {
            font-family: 'Inter';
            font-size: 12px;
            color: #b4b4b4;
        }
        .delete-account-checkbox {
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
            p {
                font-family: 'InterMedium';
                font-size: 14px;
                color: #84818a;
                margin-bottom: 0;
                padding-left: 15px;
                cursor: pointer;
            }
            .disabled {
                cursor: not-allowed;
            }
        }
    }
}
