.cloud-modal-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cloud-modal {
    .cloud-gradient {
        background: linear-gradient(230deg, #46e9c8 0%, #ffca43 41.49%, #e6e4fb 100%);
        padding: 0 5px;
        margin: 0px 3px;
        border-radius: 10px;
    }
    .banner {
        width: 100%;
        border-radius: 16px;
    }
    .ant-modal-header {
        padding: 24px;
    }
    .ant-modal-body {
        padding-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
