.log-payload {
    position: relative;
    width: calc(100% - 30px);
    height: 100px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 3px;
    text-align: start;
    .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 95%;
        font-family: 'InterSemiBold';
        font-size: 14px;
    }
    .created-date {
        font-family: 'Inter';
        font-size: 11px;
        color: rgba(74, 73, 92, 0.8);
    }
    .log-info {
        display: flex;
        justify-content: space-between;
        .source {
            display: flex;
            min-width: 90px;
            max-width: 160px;
            height: 25px;
            display: flex;
            border: 1px solid #eeeeee;
            border-radius: 4px;
            align-items: center;
            padding-right: 8px;
            svg {
                width: 14px;
                margin-left: 8px;
            }
            p {
                color: #6557ff;
                font-size: 12px;
                font-family: 'InterSemiBold';
                margin-left: 4px;
                line-height: 12px;
            }
        }
    }
    .selected {
        background: #6557ff;
        border-radius: 0px 10px 10px 0px;
        position: absolute;
        height: 100%;
        width: 10px;
        top: 0;
        left: -21px;
    }
}
.log-payload:hover {
    opacity: 0.8;
}
.log-selected {
    background: #ebebff !important;
}
.log-selected:hover {
    opacity: 1 !important;
}
