.generic-details-container {
    padding: 15px;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .ant-divider-vertical {
        height: 50px;
        margin: 0;
    }
    .data-box {
        display: flex;
        justify-content: center;
        .icon-wrapper {
            border-radius: 50%;
            margin-right: 20px;
        }
        .data-wrapper {
            .info-icon-wrapper {
                display: flex;
                align-items: center;
                svg {
                    width: 14px;
                    cursor: pointer;
                    color: #bfbfbf;
                }
            }
            .operational-health {
                display: flex;
                align-items: center;
            }
            span {
                font-size: 14px;
                color: #979797;
                font-family: 'InterMedium';
                display: flex;
            }
            p {
                font-size: 22px;
                color: #1d1d1d;
                font-family: 'InterBold';
                margin: 0;
                margin-right: 10px;
                display: flex;
                span {
                    font-size: 12px;
                    margin: 14px 0px 0px 5px;
                }
            }
        }
    }
    .progress {
        cursor: pointer;
    }
}
// .health-status-caontainer {
//     width: 400px;
//     border-radius: 16px;
//     position: relative;
//     .ant-popover-title {
//         padding-top: 10px;
//         padding-bottom: 10px;
//         font-weight: 600;
//         font-size: 16px;
//         display: flex;
//         color: #222124;
//     }
//     .ant-popover-inner {
//         margin-right: 10px;
//     }
//     .ant-popover-inner-content {
//         width: 100%;
//         position: relative;
//         padding-bottom: 10px;
//         .health-item {
//             border: 1px solid #e6e6e6;
//             border-radius: 8px;
//             margin: 15px;
//             .ant-divider-horizontal {
//                 margin: 0;
//             }
//             .health-item-body {
//                 padding-bottom: 15px;
//                 .health-item-body-wrapper {
//                     display: flex;
//                     align-items: center;
//                     padding: 15px;
//                     .img-circle {
//                         margin-right: 10px;
//                         height: 30px;
//                         width: 30px;
//                         display: flex;
//                         justify-content: center;
//                         align-items: center;
//                         background: #e2dfff;
//                         border-radius: 50%;
//                         img {
//                             height: 15px;
//                             width: 15px;
//                         }
//                     }
//                     label {
//                         font-weight: 600;
//                         font-size: 16px;
//                         color: #0b0a0f;
//                     }
//                 }
//                 .health-item-body-info {
//                     padding-left: 55px;
//                 }
//             }
//             .health-item-footer {
//                 color: #6e44ff;
//                 justify-content: center;
//                 display: flex;
//                 padding: 10px 0px;
//                 label {
//                     cursor: pointer;
//                 }
//                 img {
//                     margin-left: 5px;
//                 }
//             }
//         }
//     }
// }
.consumption-stations-box {
    p {
        margin: 0;
    }
    .box-wrapper {
        padding: 10px;
        .box-header {
            p {
                font-family: 'InterMedium';
                font-size: 14px;
            }
            span {
                color: var(--black, rgba(74, 73, 92, 0.8));
                font-family: 'Inter';
                font-size: 12px;
            }
        }
        .station-list {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .station-lag-wrapper {
                border-radius: 6px;
                border: 1px solid #e7e7e7;
                padding: 5px;
                .station-lag-header {
                    display: flex;
                    border-radius: 4px;
                    background: #f7e8e8;
                    padding: 5px;
                    height: 35px;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    .left {
                        display: flex;
                        align-items: center;
                        svg {
                            width: 20px;
                            margin-right: 5px;
                        }
                        p {
                            font-family: 'InterMedium';
                            max-width: 240px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
                .station-lag-content {
                    .station-lag-content-header {
                        display: flex;
                        color: var(--purple);
                        font-family: 'InterMedium';
                        font-size: 12px;
                        gap: 5px;
                        align-items: center;
                        cursor: pointer;
                        svg {
                            width: 20px;
                            color: var(--purple);
                        }
                        .collapse-arrow {
                            transform: rotate(180deg);
                        }
                        .open {
                            transform: rotate(0deg);
                        }
                    }
                    .collapse-row {
                        display: flex;
                        height: 30px;
                        align-items: center;
                        gap: 5px;
                        .station-name {
                            color: #b1b1b1;
                            font-family: 'Inter';
                            font-size: 12px;
                        }
                        .station-badge {
                            .ant-badge-count {
                                background: rgba(201, 103, 101, 0.15);
                                color: #c96765;
                                font-family: 'InterSemiBold';
                                font-size: 12px;
                            }
                        }
                    }
                    .ant-divider-horizontal {
                        margin: 5px 0px;
                    }
                }
                .collapse-wrapper {
                    background: transparent;
                    svg {
                        color: var(--purple);
                    }
                    .ant-collapse-header-text {
                        color: var(--purple);
                        font-family: 'InterMedium';
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
