.generic-details-container {
    padding: 15px;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .ant-divider-vertical {
        height: 60%;
        margin: 0;
    }
    .data-box {
        display: flex;
        justify-content: center;
        .icon-wrapper {
            border-radius: 50%;
            margin-right: 20px;
        }
        .data-wrapper {
            span {
                font-size: 14px;
                color: #979797;
                font-family: 'InterSemiBold';
            }
            p {
                font-size: 22px;
                color: #1d1d1d;
                font-family: 'InterBold';
                margin: 0;
                margin-right: 10px;
                display: flex;
                span {
                    font-size: 12px;
                    margin: 14px 0px 0px 5px;
                }
            }
            .operational-health {
                display: flex;
                align-items: center;
            }
        }
    }
}
