.generic-container {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    min-height: 85px;
    .data-box {
        display: flex;
        width: 50%;
        min-width: 180px;
        min-height: 85px;
        align-items: center;
        justify-content: center;
        flex-direction: inherit;
        line-height: 1.3;
        .icon-wrapper {
            border-radius: 50%;
            margin-right: 20px;
        }
        .data-wrapper {
            span {
                font-size: 14px;
                color: #979797;
                font-family: 'InterSemiBold';
            }
            p {
                font-size: 24px;
                color: #1d1d1d;
                margin: 0;
                display: flex;
                span {
                    font-size: 12px;
                    margin: 14px 0px 0px 5px;
                }
            }
        }
    }
}
