.getstarted-container {
    // overflow-y: hidden;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #e9e9e9;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    height: 100%;
    min-width: 300px;
    min-height: 530px;
    position: relative;

    .btnContainer {
        display: flex;
        margin-top: 7px;
        margin-bottom: 30px;
        justify-content: flex-end;
    }

    .getstarted-header {
        // padding-top: 15px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #1d1d1d;
    }

    .getstarted-header-description {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #b4b4b4;
        margin-bottom: 20px;
    }

    .sub-getstarted-container {
        display: flex;
        justify-content: space-between;
        height: calc(100% - 55px);
        position: relative;
        .side-step {
            width: 25%;
            min-width: 200px;
            margin-right: 20px;
            padding-top: 25px;
        }
        .getstarted-item {
            width: 73%;
            min-width: 500px;
        }
    }
}
