.getstarted-container {
    display: flex;
    height: 100%;
    width: 100%;
    .ant-divider-inner-text {
        padding: 0px !important;
    }
    .sidebar-component {
        position: relative;
        overflow-y: scroll;
        padding-top: 10px;
        height: calc(100% - 310px);
        overflow: scroll;
        display: grid;
    }
    .sidebar-section {
        width: 30%;
        height: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        min-width: 330px;
        .welcome-section {
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 40px;
            .getstarted-welcome {
                font-family: 'InterSemiBold';
                font-size: 26px;
                color: #1d1d1d;
                margin-bottom: 10px;
                text-transform:capitalize;
            }
            .getstarted-description {
                font-family: 'Inter';
                font-size: 14px;
                color: #667085;
                padding-right: 20px;
            }
        }
        .divider{
            width: 80%;
            min-width: 80%;
            align-self: center;
            color: #EFEEF2;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            .ant-divider-inner-text{
                position: absolute;
                button{
                   z-index: 2;
                }
            }
        }
        .getstarted-message-container {
            height: 80px;
            padding-top: 20px;
            padding-left: 40px;
            .getstarted-message {
                font-family: 'InterSemiBold';
                font-size: 16px;
                margin-bottom: 5px;
            }
            .getstarted-message-description {
                font-family: 'Inter';
                font-size: 12px;
                color: rgba(74, 73, 92, 0.8);
            }
        }
    }
    .steps-section {
        background-color: #ffffff;
        width: 70%;
        min-width: 600px;
    }
    .congratulations-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
