.getstarted-container {
    display: flex;
    height: 100%;
    width: 100%;
    .sidebar-component {
        position: relative;
        overflow-y: scroll;
        padding-top: 10px;
        height: calc(100% - 310px);
        overflow: scroll;
        display: grid;
    }
    .sidebar-section {
        width: 30%;
        height: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        .welcome-section {
            height: 150px;
            border-bottom: 1px solid #efeef2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 40px;
            .getstarted-welcome {
                font-weight: 600;
                font-size: 26px;
                color: #1d1d1d;
                margin-bottom: 10px;
            }
            .getstarted-description {
                font-weight: 400;
                font-size: 14px;
                color: #667085;
                padding-right: 20px;
            }
        }
        .getstarted-message-container {
            height: 80px;
            padding-top: 20px;
            padding-left: 40px;
            .getstarted-message {
                font-weight: 600;
                font-size: 16px;
                margin-bottom: 5px;
            }
            .getstarted-message-description {
                font-weight: 400;
                font-size: 12px;
                color: rgba(74, 73, 92, 0.8);
            }
        }
        .skip-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
        }
    }
    .steps-section {
        background-color: #ffffff;
        width: 70%;
    }
}
