.custom-collapse {
    position: relative;
    .collapse-arrow {
        transition: transform 0.4s;
    }
    .open {
        transform: rotate(180deg);
    }
    status {
        display: flex;
    }
    .payload-header .ant-collapse-header {
        border-bottom: 1px solid #f0f0f0 !important;
        min-width: 290px;
    }
    .ant-collapse-item-active.payload-header .ant-collapse-header {
        height: 75px;
    }
    .collapse-header {
        display: flex;
        flex-direction: column;
        .first-row {
            display: flex;
            justify-content: space-between;
            .title {
                display: flex;
            }
        }

        .consumer-number {
            background: #dfdfdf;
            min-width: 30px;
            display: flex;
            justify-content: center;
            border-radius: 20px;
            font-weight: 600;
            margin-left: 10px;
            padding: 0 10px;
        }
    }
    content {
        display: flex;
        justify-content: space-between;
        p {
            font-weight: 400;
            font-size: 12px;
            color: #84818a;
            min-width: 80px;
        }
        span {
            font-size: 12px;
            color: #1d1d1d;
            font-family: 'InterSemiBold';
        }
    }

    .message {
        font-size: 11px;
        color: #84818a;
        font-weight: 400;
        max-height: 195px;
        overflow: scroll;
        padding-right: 10px;
        img {
            cursor: pointer;
            width: 16px !important;
            position: absolute;
            top: 45px;
            right: 15px;
        }
        .second-row {
            position: absolute;
            top: 40px;
            left: 12px;
            p {
                margin: 0;
            }
            .switcher {
                border-radius: 8px;
                height: 25px;
                display: flex;
                align-items: center;
                p {
                    font-size: 12px;
                    font-family: 'InterMedium';
                }
                .selected-parser {
                    height: 100%;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    padding: 0px 10px;
                    box-shadow: 0px 0.672566px 0.672566px rgba(0, 0, 0, 0.06);
                    border: 0.672566px solid #e8e8e8;
                    height: 25px;
                }
                .left {
                    border-right: 1px solid #e8e8e8;
                    border-top-left-radius: 7px;
                    border-bottom-left-radius: 7px;
                }
                .selected {
                    color: var(--purple);
                    background-color: rgba(101, 87, 255, 0.1);
                }
                .right {
                    border-top-right-radius: 7px;
                    border-bottom-right-radius: 7px;
                }
                .middle {
                    border-right: 1px solid #e8e8e8;
                }
            }
        }
    }
    .headers-container {
        position: relative;
        p {
            margin-bottom: 5px;
        }
        .copy-section {
            margin-bottom: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'InterSemiBold';
            color: #1d1d1d;
            font-size: 13px;

            img {
                top: 0;
                right: 0;
            }
        }
    }
}
