.custom-collapse {
    position: relative;
    .collapse-arrow {
        transition: transform 0.4s;
    }
    .open {
        transform: rotate(180deg);
    }
    status {
        display: flex;
    }
    content {
        display: flex;
        justify-content: space-between;
        p {
            font-weight: 400;
            font-size: 12px;
            color: #84818a;
        }
        span {
            font-size: 12px;
            color: #1d1d1d;
            font-family: 'InterSemiBold';
        }
    }

    .message {
        font-size: 11px;
        color: #84818a;
        font-weight: 400;
        img {
            cursor: pointer;
            width: 16px !important;
            position: absolute;
            top: 15px;
            right: 40px;
        }
    }
    .headers-container {
        position: relative;
        p {
            margin-bottom: 5px;
        }
        .copy-section {
            margin-bottom: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'InterSemiBold';
            color: #1d1d1d;
            font-size: 13px;

            img {
                top: 0;
                right: 0;
            }
        }
    }
}
