.select-container {
    .select {
        border: 1px solid;
        display: flex;
        align-items: center;
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border: unset;
        background-color: unset;
        text-align: initial;
        align-items: center;
    }
    // .ant-select-selector {
    //     border: unset;
    //     color: #5e5e68;
    //     font-family: 'InterMedium';

    // }
    .ant-select-arrow {
        background-color: transparent;
    }
    .ant-select-selection-item span {
        display: none;
    }
}

.select-container .ant-select-focused .ant-select-selector,
.select-container .ant-select-selector:focus,
.select-container .ant-select-selector:active,
.select-container .ant-select-open .ant-select-selector {
    border-color: transparent !important;
    box-shadow: none !important;
}

.select-options {
    z-index: 9999;
    position: absolute;
    background: #ffffff;
    border: 1px solid #dadada;
    box-shadow: 0px 10px 10px rgb(16 10 85 / 10%);
    border-radius: 8px;
    padding: 3px;
    .ant-select-item {
        color: rgba(74, 73, 92, 0.8) !important;
    }
    .ant-select-item-option-content {
        text-align: left;
        z-index: 111;
    }
    .ant-select-item-option:not(:last-child) {
        background-color: unset;
    }
    .ant-select-item-option:hover {
        background-color: #edebeb;
    }
    .ant-select-item-option {
        margin: 2px 8px;
        border-radius: 8px;
    }
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        background: rgba(101, 87, 255, 0.1);
        border-radius: 8px;
        margin: 2px 8px;
        font-weight: unset !important;
        color: var(--purple) !important;
        font-family: 'InterBold' !important;
    }
}

.alert-value {
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
    .ant-select-item-option-content {
        text-align: left;
        z-index: 111;
    }
    .ant-select-item-option:not(:last-child) {
        border-bottom: 1px solid rgba(43, 46, 63, 0.2);
        background-color: unset;
    }
    .ant-select-item-option:hover {
        background-color: #edebeb;
    }
}

.rc-virtual-list-scrollbar {
    width: 3px !important;
    background: white !important;
}
.rc-virtual-list-scrollbar-thumb {
    background: #cbcbcb !important;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: transparent;
}
