.connection-wrapper{
    border-radius: 4px;
    width: 98%;
    height: 95%;
    margin: 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .rectangle{
        width: 100%;
        height: 45px;
        display: flex;
        border-radius: 4px;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        p{
            margin: 0;
            font-family: 'InterMedium';
            font-size: 14px;
        }
        .count{
            display: flex;
            padding: 3px 10px;
            align-items: flex-start;
            gap: 10px;
            border-radius: 4px;
            font-family: 'InterBold';
            font-size: 14px;
        }
    }
    .consumer{
        background:  #61DFC6;
        .count{
            background: #9DF1E0;
        }
    }
    .producer{
        background: #FFC633;
        .count{
            background: #FFE193;
        }
    }
}