//ANT design v4
@import '~antd/dist/antd.css';
@import '@stigg/react-sdk/dist/styles.css';
@import "dark-style";

.App {
    text-align: center;
    color: var(--blue);
}
.app-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background: #f5f6f8;
}

#panel-open-menu {
    position: absolute;
    top: 30px;
}

.header-wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 1050px;
    height: 60px;
}
.main-header-wrapper {
    display: flex;
    flex-direction: column;
}
.main-header-h1 {
    font-family: 'InterSemiBold';
    font-size: 24px;
    color: var(--blue);
    position: relative;
    margin-bottom: 0;
    line-height: 30px;
    .length-list {
        color: #b4b4b4;
        font-family: 'Inter';
    }
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #cbcbcb;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #bcb7b7;
}

.menu-item-icon {
    color: var(--gray);
    font-size: 16px !important;
}
.menu-item-label {
    font-size: 12px;
    font-family: 'Inter';
    color: black;
    margin-left: 10px;

    .a {
        color: black;
    }
}
.sidebar-and-containers {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.required-field-mark {
    color: var(--red);
}

.error-message {
    position: absolute;
    p {
        color: #ff4d4f;
    }
}

.collapse-arrow {
    transform: rotate(-90deg);
    transition: transform 0.4s;
}
.open {
    transform: rotate(0deg);
}

.notification-wrapper {
    border-radius: 12px;
    border: 1px solid var(--gray-200, #eaecf0);
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
    .ant-notification-notice-message {
        font-family: 'InterSemiBold';
        font-size: 16px;
    }
    .ant-notification-notice-description {
        font-family: 'Inter';
        font-size: 14px;
        color: #475467;
    }
}
.avatar-image {
    border-radius: 50%;
}

.system-notification {
    position: absolute;
    width: 100%;
    text-align: -webkit-center;
    .notification-wrapper {
        opacity: 0;
        width: fit-content;
        padding: 0 20px;
        height: 30px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        border-radius: 0px 0px 10px 10px;
        border-right: 1px solid rgba(101, 87, 255, 0.09);
        border-bottom: 1px solid rgba(101, 87, 255, 0.09);
        border-left: 1px solid rgba(101, 87, 255, 0.09);
        background: linear-gradient(157deg, rgba(29, 29, 29, 0.06) 0%, rgba(101, 87, 255, 0.1) 100%);
        box-shadow: 0px 2px 2px 0px rgba(101, 87, 255, 0.1);
        .notification-badge {
            background: var(--purple);
            font-size: 12px;
            font-family: 'InterMedium';
            color: #fff;
            border-radius: 4px;
            display: flex;
            padding: 3px 7px;
            margin-right: 10px;
            align-items: center;
            height: 20px;
        }
        p {
            margin: 0;
            color: rgba(74, 73, 92, 0.8);
            font-size: 14px;
            font-family: 'Inter';
        }
        a {
            font-family: 'InterSemiBold';
            font-size: 14px;
            display: flex;
        }
        img,
        svg {
            width: 12px;
            margin-left: 5px;
        }
    }
}

.show-notification .notification-wrapper {
    animation: slide-in 0.5s ease-out forwards;
}

.hide-notification .notification-wrapper {
    animation: slide-out 0.5s ease-out forwards;
}

.a-link {
    color: var(--purple);
    margin-left: 5px;
}
.a-link:hover {
    text-decoration: underline;
    color: var(--purple);
}

pre {
    font-family: 'Inter';
}

.memphis-label {
    color: rgba(74, 73, 92, 0.8);
    font-size: 12px;

    a {
        color: #6557ff;
        cursor: pointer;
    }
}

//antd theam

.ant-message-notice-content {
    background: #f7f7f7 !important;
    border-radius: 15px;
    color: var(--blue);
    font-family: 'InterBold' !important;
    font-size: 16px;
}
.ant-message-warning .anticon {
    color: var(--purple);
}
.ant-btn > .anticon {
    line-height: 0;
}

.circular-progress {
    color: #6557ff;
}

.ant-btn-primary {
    text-shadow: none !important;
}

.ant-pagination-item-active {
    border-color: var(--purple);
    a {
        color: var(--purple);
    }
}
.ant-pagination-item:hover {
    border-color: var(--purple);
    a {
        color: var(--purple);
    }
}
.ant-popover-arrow {
    display: none;
}

.ant-divider-vertical {
    border-left-width: 2px;
}

//Threedots Menu

.Menu.MuiPopover-paper {
    width: 150px;
    margin-top: 25px;
    margin-left: 10px;
    background: #ffffff;
    border: 1px solid #d8d8d8;
    box-sizing: border-box;
    border-radius: 8px;
}
.threedots-menu {
    margin-top: 10px;
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.ant-popover-title {
    border-bottom: none;
}

@keyframes slide-in {
    0% {
        top: -100px;
        opacity: 0; /* Start with opacity 0 */
    }
    100% {
        top: 0;
        opacity: 1; /* End with opacity 1 */
    }
}

@keyframes slide-out {
    0% {
        top: 0;
        opacity: 1; /* Start with opacity 1 */
    }
    100% {
        top: -100px;
        opacity: 0; /* End with opacity 0 */
    }
}
