.function-box-wrapper {
    box-sizing: border-box;
    margin: 0;

    background: #ffffff;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    width: 100%;
    height: 100%;

    cursor: pointer;
    p {
        margin: 0;
    }
    header {
        padding: 20px 16px 10px 16px;
        border-bottom: 1px solid #f5f5f5;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .name-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .function-name {
                font-family: 'InterSemiBold';
                font-size: 20px;
                line-height: 20px;
            }
        }

        .function-details {
            height: 26px;
            display: flex;
            gap: 7px;
            .function-repo,
            .function-code-type {
                display: flex;
                padding: 3px 10px;
                align-items: center;
                border-radius: 32px;
                border: 1px solid #e1e1e1;
                gap: 3px;
                font-size: 14px;
                color: #737373;
                svg {
                    color: black;
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
    description {
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
        height: 49px;
        border-bottom: 1px solid #f5f5f5;
        overflow-x: auto;
        align-items: center;
        span {
            font-family: 'Inter';
            font-size: 12px;
            color: rgba(74, 73, 92, 0.8);
        }
    }
    tags {
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
        height: 40px;
        border-bottom: 1px solid #f5f5f5;
        overflow-x: auto;
        .tag-wrapper {
            max-width: 95px !important;
        }
    }
    date {
        display: flex;
        height: 32px;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        align-items: center;
        color: #737373;
        font-size: 12px;
        justify-content: space-between;
        .flex {
            display: flex;
        }
        svg {
            width: 18px;
            height: 18px;
            margin-right: 5px;
        }
    }
}
.func-selected {
    border: 1px solid var(--purple);
    box-shadow: 0px 2px 7px 0px rgba(101, 87, 255, 0.1);
}

.function-drawer {
    .ant-drawer-content-wrapper {
        height: 45vh !important;
        width: calc(100vw - 130px) !important;
        margin-left: 110px;
        margin-bottom: 20px;
        border-radius: 8px;
        box-shadow: none !important;
    }
    .ant-drawer-content {
        border-radius: 8px;
        background: #fff;
        box-shadow: 0px 23px 44px 0px rgba(176, 183, 195, 0.14);
        .button-content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .gradient {
                margin-left: 10px;
                opacity: 0.3;
                background: radial-gradient(163199.99% 35.29% at 50% 50%, #1d1d1d 41.46%, rgba(255, 255, 255, 0) 100%);
                width: 1px;
                height: 20px;
            }
            svg {
                margin-left: 7px;
                width: 20px;
                height: 20px;
            }
        }
    }
    .ant-drawer-header {
        padding-bottom: 0px !important;
    }
    .ant-drawer-header-title {
        flex-direction: row-reverse;
        .ant-drawer-title {
            font-family: 'InterSemiBold';
            font-size: 24px;
            p {
                margin: 0;
            }
            .ant-tabs-top > .ant-tabs-nav::before,
            .ant-tabs-top > .ant-tabs-nav {
                border-bottom: none !important;
                margin-bottom: 0px !important;
            }
        }
    }
}
