.create-station-form-create-app-user {
    height: 100%;
    .field-title {
        display: flex;
        font-weight: 400;
        font-size: 12px;
        margin: 0;
    }

    .creating-the-user-container {
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        .create-the-user-header {
            margin-bottom: 20px;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #979797;
        }
        .lottie {
            height: 100px;
            width: 90px;
        }
    }

    .creating-the-user-container,
    .connection-details-container {
        background: rgba(239, 239, 243, 0.05);
        border: 1px solid #f3f3f3;
        border-radius: 4px;
        margin-top: 50px;
        width: calc(100% - 20px);
        height:140px;
        .user-details-container {
            height: 44px;
            display: flex;
            align-items: center;
            padding-left: 20px;
            background: #f6f6fc;

            .user-connection-details {
                font-weight: 600;
                font-size: 15px;
                margin-left: 10px;
                margin-bottom: 0;
                color: #2e2c34;
            }
        }

        .container-username-token {
            font-weight: 500;
            font-size: 14px;
            margin-left: 20px;
            color: #2e2c34;
            height: 90px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .username-container,
            .token-container {
                display: flex;
                align-items: center;

                p {
                    margin: 0;
                }

                .copy-icon {
                    padding: 7;
                    height: 50;
                }
            }
        }
    }

    .information-container {
        display: flex;
        margin-top: 10px;
        .information-img {
            margin-right: 5px;
            align-self: center;
            width: 13.33px;
        }
        .information {
            font-weight: 400;
            font-size: 12px;
            color: #b4b4b4;
            margin: 0;
        }
    }
}
