.create-station-form-create-app-user {
    height: 100%;
    .field-title {
        display: flex;
        font-family: 'Inter';
        font-size: 12px;
        margin: 0;
    }

    .create-user-form-field {
        margin-bottom: 20px;
        .password-hint {
            position: relative;
            max-width: 48%;
            display: flex;
            margin-top: -12px;
            font-size: 12px;
            color: #b4b4b4;
        }
    }

    .validate-pass {
        color: var(--red);
    }
    .creating-the-user-container {
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        .create-the-user-header {
            font-family: 'InterSemiBold';
            font-size: 14px;
            color: #979797;
        }
        .lottie {
            height: 100px;
            width: 90px;
        }
    }

    .creating-the-user-container,
    .connection-details-container {
        background: rgba(239, 239, 243, 0.05);
        border: 1px solid #f3f3f3;
        border-radius: 4px;
        margin-top: 50px;
        width: calc(100% - 20px);
        height: 180px;
        .user-details-container {
            height: 44px;
            display: flex;
            align-items: center;
            padding-left: 20px;
            background: #f6f6fc;

            .user-connection-details {
                font-family: 'InterSemiBold';
                font-size: 15px;
                margin-left: 10px;
                margin-bottom: 0;
                color: #2e2c34;
            }
        }

        .container-username-token {
            font-size: 16px;
            margin-left: 20px;
            color: #2e2c34;
            height: calc(100% - 45px);
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .username-container,
            .token-container {
                display: flex;
                align-items: center;

                p {
                    margin: 0;
                    font-family: 'InterSemiBold';
                }

                img,
                svg {
                    margin-left: 10px;
                }
            }
        }
    }

    .information-container {
        display: flex;
        margin-top: 10px;
        .information-img {
            margin-right: 5px;
            align-self: center;
            width: 13.33px;
        }
        .information {
            font-family: 'Inter';
            font-size: 14px;
            color: #b4b4b4;
            margin: 0;
        }
    }
}
