.sidebar-container {
    width: 90px;
    height: 100vh;
    text-align: center;
    background: #fcfcfc;
    min-height: 555px;
    border-right: 1px solid #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .sidebar-title {
        font-size: 11px;
        color: rgba(74, 73, 92, 0.8);
        font-family: 'InterSemiBold';
        margin: 0;
        cursor: pointer;
        &.ms-active {
            color: var(--purple);
        }
    }

    .item-wrapper {
        margin-bottom: 15px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            font-size: 80%;
            color: rgba(74, 73, 92, 0.8);
            font-family: 'InterSemiBold';
            margin: 0;
        }
        .checked {
            color: var(--purple);
        }
    }
    .item-wrapper:hover {
        .name {
            color: var(--purple);
        }
    }
    .not-available {
        cursor: not-allowed;
    }
    .coming-soon {
        background-color: var(--purple);
        color: var(--white) !important;
        font-size: 10px;
        position: relative;
        border-radius: 32px;
        cursor: not-allowed;
        width: 70%;
    }

    .upper-icons {
        .logo-wrapper {
            position: relative;
            .edit-logo {
                position: absolute;
                bottom: 0px;
                right: -10px;
                color: #a9a9a9;
                cursor: pointer;
                display: none;
            }
        }
        .logo-wrapper:hover {
            .edit-logo {
                display: block;
            }
        }
        .logoimg {
            margin-top: 1vh;
            cursor: pointer;
            margin-bottom: 5vh;
        }
    }

    .sandboxUserImg {
        border-radius: 50%;
        margin-top: 5px;
        margin-bottom: 10px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        padding: 3px;
    }
    .sandboxUserImg:hover {
        opacity: 0.9;
    }
    .sandboxUserImgSelected {
        background: linear-gradient(94.37deg, #61dfc6 3.3%, #776cfb 77.22%);
    }

    .bottom-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        .version {
            margin-bottom: 10px;
            background: rgba(132, 129, 138, 0.1);
            border-radius: 4px;
            width: 80%;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            p {
                margin: 0;
                font-size: 12px;
                font-family: 'InterSemiBold';
            }
            .update-note {
                width: 7px;
                height: 7px;
                background: #fc3400;
                border-radius: 9px;
                position: absolute;
                top: -2px;
                right: -2px;
            }
        }
        .upgrade-plans-container {
            width: 85%;
            .upgrade-button-wrapper {
                background: var(--yellow);
                border-radius: 32px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
                cursor: pointer;
                p {
                    line-height: 12px;
                    margin: 0;
                    font-family: 'InterSemiBold';
                    font-size: 12px;
                }
            }
            .upgrade-button-wrapper:hover {
                opacity: 0.9;
            }
        }
    }
}

.menu-content {
    .ant-divider-horizontal {
        margin: 0;
        margin-bottom: 5px;
    }
}
.item-wrap-header {
    padding: 5px;
    margin: 0 5px 0 5px;
    height: 42px;
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    .img-section {
        width: 30px;
        display: flex;
        align-items: center;
        position: relative;
    }
    .account-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10px;
        gap: 5px;
        .username {
            margin: 0;
            font-size: 13px;
            line-height: 13px;
            font-family: 'InterSemiBold';
            text-transform: capitalize;
        }
        span {
            font-size: 12px;
            line-height: 12px;
            font-family: 'Inter';
            color: var(--purple);
        }
    }
    .company-logo {
        img,
        svg {
            position: absolute;
            background-color: #ffffff;
            border-radius: 50%;
            border: 1px solid transparent;
            right: -6px;
            bottom: -4px;
        }
    }
}
.item-wrap-header:hover {
    background-color: transparent;
}
.item-wrap {
    padding: 5px;
    margin: 0 5px 0 5px;
    height: 34px;
    display: flex;
    align-items: center;
    width: 220px;
    .MuiSvgIcon-root {
        height: 20px;
        display: none;
    }
    cursor: pointer;
    .item {
        display: flex;
        align-items: center;
        .MuiSvgIcon-root {
            color: #a9a9a9;
            display: block;
        }
    }
    .icons {
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    p {
        margin: 0;
        padding-left: 8px;
        font-size: 13px;
        color: #000000;
    }
    .icons-sidebar {
        color: #a9a9a9;
        font-size: 16px;
    }
}
.item-wrap:hover {
    background: #e3e0ff;
    border-radius: 4px;
    .MuiSvgIcon-root {
        display: block;
    }
    svg,
    MuiSvgIcon-root {
        color: var(--purple) !important;
    }
    .company-logo {
        img,
        svg {
            border: 1px solid #e3e0ff;
        }
    }
}
.ant-modal-body .skip-tutorial-modal {
    font-family: 'Inter';
    font-size: 14px;
    color: #475467;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.ant-popover-placement-right {
    left: 60px !important;
}
