.sidebar-container {
    width: 90px;
    height: 100vh;
    position: relative;
    text-align: center;
    background: #fcfcfc;
    min-height: 410px;
    border-right: 1px solid #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .upper-icons {
        .logoimg {
            margin-top: 1vh;
            margin-bottom: 5vh;
        }
        .item-wrapper {
            p {
                font-size: 80%;
                color: var(--gray);
                font-family: 'InterSemiBold';
            }
            .checked {
                color: var(--purple);
            }
        }
    }
    .sandboxUserImg {
        border-radius: 50%;
        margin-top: 5px;
        margin-bottom: 10px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        padding: 3px;
    }
    .sandboxUserImg:hover {
        opacity: 0.9;
    }
    .sandboxUserImgSelected {
        background: linear-gradient(94.37deg, #61dfc6 3.3%, #776cfb 77.22%);
    }

    .bottom-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        .integration-icon-wrapper {
            width: 80px;
            padding: 3px;
            cursor: pointer;
            img {
                width: 18px;
            }
        }
        .integration-icon-wrapper:hover {
            background-color: rgba(132, 129, 138, 0.1);
            border-radius: 10px;
        }
        version {
            margin-bottom: 10px;
            background: rgba(132, 129, 138, 0.1);
            border-radius: 4px;
            width: 80%;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                margin: 0;
                font-size: 12px;
                font-family: 'InterSemiBold';
            }
        }
    }
}

.item-wrap {
    padding: 5px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 1px;
    .MuiSvgIcon-root {
        color: #776cfb !important;
        height: 20px;
        display: none;
    }
    cursor: pointer;
    .item {
        display: flex;
        align-items: center;
        .MuiSvgIcon-root {
            color: #a9a9a9 !important;
            display: block;
        }
    }
    .icons {
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .company-logo {
            img {
                position: absolute;
                background-color: #ffffff;
                border-radius: 50%;
                border: 1px solid transparent;
                right: -6px;
                bottom: -4px;
            }
        }
    }
    .logoimg {
        border-radius: 25px;
        width: 26px;
        height: 26px;
    }
    p {
        margin: 0;
        padding-left: 8px;
        font-size: 13px;
        color: #000000;
    }
    .icons-sidebar {
        color: #a9a9a9;
        font-size: 16px;
    }
}
.item-wrap:hover {
    background: #e3e0ff;
    border-radius: 4px;
    .MuiSvgIcon-root {
        display: block;
    }
    .company-logo {
        img {
            border: 1px solid #e3e0ff;
        }
    }
}
