.sidebar-container {
    width: 90px;
    height: 100vh;
    text-align: center;
    background: #fcfcfc;
    min-height: 555px;
    border-right: 1px solid #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;

    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        30% {
            transform: scale(1.2);
        }
        50% {
            transform: scale(1);
        }
        70% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }

    &:hover {
        .upper-icons-toggle {
            animation: pulse 1.2s infinite;
            animation-iteration-count: 1;
        }
    }

    .sidebar-user-info {
        cursor: pointer;
        &-img {
        }
        &-bottom {
            display: none;
        }
    }

    opacity: 1;
    transition: all 0.3s ease-in-out;

    &.expand {
        animation: expandAnimation 0.5s ease-out forwards;
        width: 205px;
    }

    &.collapse {
        animation: collapseAnimation 0.5s ease-in-out forwards;
        width: 90px;
    }

    @keyframes expandAnimation {
        0%,
        35% {
            opacity: 0;
        }
        50% {
            opacity: 0.3;
        }
        75% {
            opacity: 0.65;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes collapseAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @mixin comingSoonBadge {
        position: absolute;
        border-radius: 32px;
        background: var(--Purply-blue, #6557ff);
        padding: 4px 8px;
        color: #fff;
        text-align: center;
        font-size: 8px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        top: -8px;
        right: 5px;
    }

    padding: 15px 0;
    &.expand {
        .sidebar-user-info {
            display: flex;
            gap: 10px;
            align-items: center;
            margin: 0 10px 15px;
            padding-top: 8px;
            border-top: 1px solid #e4e4e4;
            &-img {
            }
            &-bottom {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                position: relative;
            }
            &-name {
                color: var(--main-black, #161616);
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-align: left;
            }
            &-email {
                color: var(--main-black, #161616);
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                opacity: 0.4;
                text-align: left;
            }
        }
        .upgrade-plan-icon {
            display: initial !important;
        }
        .item-wrapper {
            flex-direction: row;
            gap: 10px;
            padding: 10px 8px;
            align-items: center;
            margin: 0 15px 8px;
            .menu-item-env {
                padding: 9px 11px;
                position: relative;
                width: 100%;
                display: flex;
                justify-content: space-between;
                &-badge {
                    top: -8px;
                    right: 5px;
                }
                &-left {
                }
                &-right {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                }
                &-title {
                    color: #303036;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-align: left;
                }
                &-subtitle {
                    color: #6d6c7c;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-align: left;
                }
            }
            &.ms-appearance-wrapper {
                margin: 0 11px 16px;
                padding: 0;
            }
            .ms-appearance {
                width: 100%;
                flex-direction: row;
                &-badge {
                    display: block;
                    top: -8px;
                    right: 5px;
                }
                &-text {
                    color: var(--label-color-light-primary, #000);
                    text-align: center;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 20px; /* 142.857% */
                    letter-spacing: -0.08px;
                    margin-left: 5px;
                    display: block;
                }
                .ms-active {
                    padding: 7px 13px;
                }
            }
            &.ms-active {
                border-radius: 4px;
                background: rgba(101, 87, 255, 0.2);
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    border-radius: 0px 4px 4px 0px;
                    background: #6557ff;
                    height: 100%;
                    width: 3px;
                    top: 0;
                    left: -15px;
                }
            }
            p {
                color: #303036;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
            .icon {
                display: flex;
                align-items: center;
            }
        }
        .bottom-icons {
            align-items: initial;
            .item-wrapper:first-child {
                padding-top: 16px;
                border-top: 1px solid #e4e4e4;
            }
        }
    }

    .sidebar-title {
        font-size: 11px;
        color: rgba(74, 73, 92, 0.8);
        font-family: 'InterSemiBold';
        margin: 0;
        cursor: pointer;
        &.ms-active {
            color: var(--purple);
        }
    }

    .item-wrapper {
        .menu-item-env {
            padding: 9px 16px;
            border-radius: 6px;
            border: 1px solid #6557ff;
            background: #e8e5ff;
            margin-bottom: 15px;
            position: relative;
            &-collapsed {
                color: var(--Purply-blue, #6557ff);
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
            &-badge {
                @include comingSoonBadge;
                white-space: nowrap;
                top: 35px;
                right: -12px;
            }
        }

        .ms-appearance {
            border-radius: 32px;
            background: #f0f0f0;
            padding: 4px;
            display: flex;
            position: relative;
            flex-direction: column;
            width: initial;
            &-badge {
                @include comingSoonBadge;
                right: -13px;
                top: 70px;
                white-space: nowrap;
            }
            &-text {
                display: none;
            }
            &-light {
                flex: 0 0 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 6px;
                opacity: 0.4;
                transition: opacity .3s linear;
                border-radius: 32px;
                border: 0.5px solid rgba(0, 0, 0, 0.04);
            }
            &-dark {
                opacity: 0.4;
                padding: 6px;
                flex: 0 0 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: opacity .3s linear;
                border-radius: 32px;
                border: 0.5px solid rgba(0, 0, 0, 0.04);
            }
            .ms-active {
                border-radius: 32px;
                border: 0.5px solid rgba(0, 0, 0, 0.04);
                background: var(--system-background-light-primary, #fff);
                box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
                opacity: 1;
            }
        }

        margin-bottom: 15px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 80%;
            color: rgba(74, 73, 92, 0.8);
            font-family: 'InterSemiBold';
            margin: 0;
        }
        .checked {
            color: var(--purple);
        }
    }
    .item-wrapper:hover {
        .name {
            color: var(--purple);
        }
    }
    .not-available {
        cursor: not-allowed;
    }
    .coming-soon {
        background-color: var(--purple);
        color: var(--white) !important;
        font-size: 10px;
        position: relative;
        border-radius: 32px;
        cursor: not-allowed;
        width: 70%;
    }

    .upper-icons {
        position: relative;
        &-toggle {
            position: absolute;
            width: 16px;
            height: 16px;
            background: white;
            border-radius: 50%;
            fill: #fff;
            filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12));
            display: flex;
            justify-items: center;
            align-items: center;
            top: 19px;
            right: -8px;
            cursor: pointer;
            padding: 5px;
            z-index: 2;
            transition: transform 0.2s ease-in-out;
            &.open {
                animation: initial;
                transform: scale(-1, -1);
            }
            svg {
                cursor: pointer;
                width: 100%;
            }
        }
        .logo-wrapper {
            position: relative;
            .edit-logo {
                position: absolute;
                bottom: 0px;
                right: -10px;
                color: #a9a9a9;
                cursor: pointer;
                display: none;
            }
        }
        .logo-wrapper:hover {
            .edit-logo {
                display: block;
            }
        }
        .logoimg {
            cursor: pointer;
            margin-bottom: 30px;
            max-width: 80%;
            object-fit: contain;
        }
    }

    .sandboxUserImg {
        border-radius: 50%;
        margin-top: 5px;
        margin-bottom: 10px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        padding: 3px;
    }
    .sandboxUserImg:hover {
        opacity: 0.9;
    }
    .sandboxUserImgSelected {
        background: linear-gradient(94.37deg, #61dfc6 3.3%, #776cfb 77.22%);
    }

    .bottom-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        .version {
            margin-bottom: 10px;
            background: rgba(132, 129, 138, 0.1);
            border-radius: 4px;
            width: 80%;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            p {
                margin: 0;
                font-size: 12px;
                font-family: 'InterSemiBold';
            }
            .update-note {
                width: 7px;
                height: 7px;
                background: #fc3400;
                border-radius: 9px;
                position: absolute;
                top: -2px;
                right: -2px;
            }
        }
        .upgrade-plans-container {
            margin: auto;
            width: 85%;
            .upgrade-plan-icon {
                display: none;
            }
            .upgrade-button-wrapper {
                background: var(--yellow);
                border-radius: 32px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
                cursor: pointer;

                p {
                    line-height: 12px;
                    margin: 0;
                    font-family: 'InterSemiBold';
                    font-size: 12px;
                }
            }
            .upgrade-button-wrapper:hover {
                opacity: 0.9;
            }
        }
    }
    .align-items-center {
        display: flex;
    }
    .badge {
        color: #f5f5f5;
        border-radius: 32px;
        padding: 1px 10px;
        margin-top: 2px;
        font-size: 8px;
        font-family: 'InterSemiBold';
        background: var(--purple);
        cursor: pointer;
    }
}

.menu-content {
    .ant-divider-horizontal {
        margin: 0;
        margin-bottom: 5px;
    }
}
.item-wrap-header {
    padding: 5px;
    margin: 0 5px 0 5px;
    height: 42px;
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    .img-section {
        width: 30px;
        display: flex;
        align-items: center;
        position: relative;
    }
    .account-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10px;
        gap: 5px;
        .username {
            margin: 0;
            font-size: 13px;
            line-height: 13px;
            font-family: 'InterSemiBold';
            text-transform: capitalize;
        }
        span {
            font-size: 12px;
            line-height: 12px;
            font-family: 'Inter';
            color: var(--purple);
        }
    }
    .company-logo {
        img,
        svg {
            position: absolute;
            background-color: #ffffff;
            border-radius: 50%;
            border: 1px solid transparent;
            right: -6px;
            bottom: -4px;
        }
    }
}
.item-wrap-header:hover {
    background-color: transparent;
}
.item-wrap {
    padding: 5px;
    margin: 0 5px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .MuiSvgIcon-root {
        height: 20px;
        display: none;
    }
    cursor: pointer;
    .item {
        display: flex;
        align-items: center;
        .MuiSvgIcon-root {
            color: #a9a9a9;
            display: block;
        }
    }
    .icons {
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    p {
        margin: 0;
        padding-left: 8px;
        font-size: 13px;
        color: #000000;
    }
    .icons-sidebar {
        color: #a9a9a9;
        font-size: 16px;
    }
}
.item-wrap:hover {
    background: #e3e0ff;
    border-radius: 4px;
    .MuiSvgIcon-root {
        display: block;
    }
    svg,
    MuiSvgIcon-root {
        color: var(--purple) !important;
    }
    .company-logo {
        img,
        svg {
            border: 1px solid #e3e0ff;
        }
    }
}
.ant-modal-body .skip-tutorial-modal {
    font-family: 'Inter';
    font-size: 14px;
    color: #475467;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.ant-popover-placement-right,
.ant-popover-placement-rightTop {
    left: 60px !important;
}

.support-container {
    a {
        color: #6557ff;
    }
    a:hover {
        text-decoration: underline;
    }
    p {
        margin-bottom: 0;
    }
    .support-image {
        width: 40px;
        height: 40px;
        background-color: #e2e0fc;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
        img {
            width: 20px;
            height: 20px;
        }
    }
    .popover-header {
        color: #101828;
        font-weight: 'InterSemiBold';
        font-size: 18px;
        margin: 0;
    }
    label {
        color: var(--purple);
        font-family: 'Inter';
    }
    .support-span {
        border-radius: 8px;
        background: rgba(74, 73, 92, 0.05);
        padding: 10px 10px;
        margin: 15px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 65px;
    }
    .support-content-header {
        color: #475467;
        font-family: 'Inter';
        margin: 20px 0;
    }
    .support-content {
        color: #475467;
        font-weight: 400;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .flex {
            display: flex;
            gap: 5px;
            align-items: center;
        }
        a {
            text-decoration: underline;
            font-family: 'InterSemiBold';
        }
        span {
            font-family: 'InterSemiBold';
        }
    }
    .support-title {
        color: #101828;
        font-size: 16px;
        font-family: 'InterMedium';
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .close-button {
        margin-top: 25px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        .button-container button {
            font-size: 12px !important;
            font-family: 'InterSemiBold' !important;
        }
    }
}
