.failed-stations-container {
    position: relative;
    min-width: 400px;
    min-height: 250px;
    height: 100%;
    overflow: hidden;
    .failed-stations-header {
        padding: 15px;
    }
    .stations-err-message {
        display: flex;
        width: 100%;
        height: 35px;
        background: rgba(90, 79, 229, 0.1);
        border: 1px solid var(--purple);
        box-sizing: border-box;
        border-radius: 8px;
        color: var(--purple);
        align-items: center;
        .err-icon {
            font-size: 16px;
            margin-left: 10px;
            margin-right: 10px;
        }
        p {
            margin: 0;
            font-size: 12px;
        }
    }
    .err-stations-list {
        position: relative;
        height: calc(100% - 20px);
        font-size: 12px;
        .coulmns-table {
            border-top: 1px solid #e9e9e9;
            border-bottom: 1px solid #e9e9e9;
            padding: 15px;
            width: 100%;
            display: grid;
            grid-template-columns: 25% 25% 20% 15% 15%;
            justify-content: space-between;
            color: #737373;
            .title-center{
                justify-content: center;
            }
            span {
                font-family: 'InterSemiBold';
                font-size: 14px;
                display: flex;
                align-items: center;
                height: 10px;
            }
            .station-name {
                padding-left: 20px;
            }
        }
        .rows-wrapper {
            width: 100%;
            height: calc(100% - 100px);
            overflow: auto;
            cursor: pointer;
            padding: 0 0 15px 15px;
            .stations-row {
                display: grid;
                grid-template-columns: 25% 25% 20% 15% 15%;
                color: #1d1d1d;
                justify-content: space-between;
                width: 100%;
                height: 35px;
                align-items: center;
                cursor: pointer;
                .station-details {
                    font-family: 'InterSemiBold';
                    font-size: 14px;
                    cursor: pointer !important;
                }
                .status-indication {
                    width: 20px;
                    justify-content: center;
                }
                .station-creation {
                    font-family: 'Inter';
                    font-size: 12px;
                    color: rgba(74, 73, 92, 0.8);
                    cursor: pointer !important;
                }
                .station-name {
                    padding-left: 20px;
                }
            }
            .item-wrapper {
                margin-right: 15px;
            }
            .item-wrapper:nth-child(even) .stations-row {
                background-color: #f8f8f8;
                border-radius: 4px;
            }
            .stations-row:hover {
                .staion-link {
                    span {
                        padding-left: 6px;
                    }
                    display: flex !important;
                }
            }
        }
        .centered {
            display: flex;
            justify-content: center;
            .staion-link {
                cursor: pointer;
                width: 120px;
                background: #f1f0ff;
                border: 0.8px solid #e2dfff;
                border-radius: 32px;
                height: 23px;
                justify-content: center;
                display: none;
                align-items: center;
                span {
                    font-family: 'InterSemiBold';
                    font-size: 12px;
                    color: var(--purple);
                }
                svg {
                    color: var(--purple);
                    width: 12px;
                }
            }
            .staion-link:hover {
                opacity: 0.8;
            }
        }
        .lottie{
            svg{
                width: 18px !important;
            }
        }
    }
    .empty-stations-container {
        height: calc(100% - 70px);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            width: 11vh;
            cursor: pointer;
        }
        p {
            color: #1d1d1d;
            font-size: 16px;
            font-family: 'InterSemiBold';
        }
    }
}
