.overview-schema-container {
    position: relative;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .schemaverse-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .link-to-page {
            font-weight: 500;
            font-size: 12 !important;
            color: #6557ff !important;
            cursor: pointer;
        }
    }
    .total-data {
        border: 1px solid #e6e6e6;
        border-radius: 8px;
        display: flex;
        align-items: center;
        padding: 5px;
        position: relative;
        p {
            margin: 0;
        }
        .total-measure {
            font-size: 14px;
            color: #979797;
            font-family: 'InterMedium';
        }
        .total-value {
            font-weight: 600;
            font-size: 20px;
            color: #2e2c34;
        }
    }
    .sum{
        height: 70px;
        justify-content: space-around;
    }
    .info{
        height: calc(100% - 130px);
    }
    .ant-divider-vertical {
        height: 40px;
        margin: 0;
    }

    .schema-chart-container {
        padding: 10px;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        height: calc(100% - 10px);
        .schema-item {
            display: flex;
            align-items: center;
            margin-bottom: 4px;
            position: relative;
            height: 33%;
            .schema-bar {
                background: rgba(101, 87, 255, 0.4);
                border-radius: 4px;
                height: 85%;
            }
            .schema-bar:hover {
                opacity: 0.9;
            }
            .schema-name {
                font-weight: 600;
                font-size: 14px;
                color: #2e2c34;
                margin-left: 5px;
                margin-right: 5px;
            }
        }
    }
}
