schema-details {
    p{
        margin: 0;
    }
    .scrollable-wrapper{
        overflow: scroll;
        height: calc(100% - 70px);
        .type-created{
            display: flex;
            height: 36px;
            padding: 16px 30px;
            border-bottom: 1px solid #ECECEC;
            .wrapper{
                display: flex;
                width: 200px;
                align-items: center;
                img{
                    padding-right:6px;
                }
                p{
                    color: #84818A;
                    font-family: 'InterSemiBold';
                    font-size: 12px;
                    line-height: 12px;
                    margin-right: 5px;
                }
                span {
                    font-size: 14px;
                    line-height: 14px;
                    font-family: 'InterSemiBold';
                    text-transform:capitalize;
                }
            }
        }
        .tags{
            display: flex;
            padding-left: 30px;
            padding-right: 20px;
            height: 50px;
            border-bottom: 1px solid #ECECEC;
            overflow-x:auto;
        }
        .schema-fields{
            display: flex;
            padding: 16px 30px;
            align-items: center;
            justify-content: space-between;
            .left{
                display: flex;
                align-items:center;
                p{
                    font-weight: 600;
                    font-size: 18px;
                    margin-right: 15px;
                }
            .radio-button span.ant-radio + * {
                    font-weight: 600;
                    font-size: 14px;
                    color: #1D1D1D;
                    padding-right: 0;
            }
            }
        }
        .schema-content{
            border: 1px solid #D8D8D8;
            border-radius: 4px;
            padding-top: 25px;
            padding-right: 25px;
            padding-bottom: 2px;
            margin: 14px 28px;
            height: calc(100% - 300px);
            .warning-message{
                color: #ff4d4f;
            }
        }
        .used-stations{
            padding: 16px 30px;
            min-height: 115px;
            .title{
                font-weight: 600;
                font-size: 18px;
                margin-right: 15px;
            }
            .stations-list{
                position: relative;
                display: inline-flex;
                gap: 16px;
                margin-top: 20px;
                align-content: flex-start;
                flex-wrap: wrap;
                height: calc(100% - 30px);
                .station-wrapper{
                    padding: 5px 20px;
                    border-radius: 30px;
                    background: rgba(0, 16, 61, 0.06);
                    p{
                        font-size: 15px;
                        font-family: 'InterSemiBold';
                    }
                }
            }
        }
    }
    .footer{
        padding: 16px 30px;
        display: flex;
        justify-content: space-between;
        .placeholder-button{
            display: flex;
            width: 72px;
            justify-content: space-between;
        }
        .left-side{
            display: flex;
            width: 232px;
            justify-content: space-between;
        }
    }
}

.roll-back-modal{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p{
        margin: 0;
    }
   .title{
    font-size: 18px;
    font-family: "InterSemiBold";
   } 
   .desc{
    font-size: 14px;
    color: #667085;
   }
   .buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
   }
}