schema-details {
    p {
        margin: 0;
    }
    .scrollable-wrapper {
        overflow: scroll;
        height: calc(100% - 90px);
        .type-created {
            display: flex;
            height: 36px;
            padding: 16px 30px;
            border-bottom: 1px solid #ececec;
            justify-content: space-between;
            .wrapper {
                display: flex;
                align-items: center;
                .schema-json-name {
                    color: #2e2c34;
                    font-size: 14px;
                }
                svg {
                    padding-right: 6px;
                    width: 18px;
                    height: 18px;
                }
                p {
                    color: #84818a;
                    font-family: 'InterMedium';
                    font-size: 13px;
                    line-height: 12px;
                    margin-right: 5px;
                }
                span {
                    font-size: 12px;
                    line-height: 14px;
                    font-family: 'InterMedium';
                }
                .capitalize {
                    text-transform: capitalize;
                }
            }
        }
        .tags {
            display: flex;
            padding-left: 30px;
            padding-right: 20px;
            height: 50px;
            border-bottom: 1px solid #ececec;
            overflow-x: auto;
        }
        .schema-fields {
            display: flex;
            padding: 16px 30px;
            align-items: center;
            justify-content: space-between;
            .left {
                display: flex;
                align-items: center;
                .tlt {
                    font-family: 'InterSemiBold';
                    font-size: 18px;
                    padding-right: 15px;
                }
                .seperator {
                    border-right: 1px solid #e4e4e4;
                }
                span {
                    font-size: 14px;
                    font-family: 'InterMedium';
                    padding-left: 15px;
                    margin-right: 10px;
                }
                .radio-button span.ant-radio + * {
                    font-family: 'InterSemiBold';
                    font-size: 14px;
                    color: #1d1d1d;
                    padding-right: 0;
                }
            }
        }
        .schema-content {
            border: 1px solid #d8d8d8;
            border-radius: 4px;
            padding-bottom: 2px;
            margin: 0 28px;
            height: calc(100% - 300px);
            min-height: 200px;
            .header {
                background: rgba(217, 217, 217, 0.2);
                height: 40px;
                margin-bottom: 10px;
                display: grid;
                align-items: center;
                justify-content: space-between;
                grid-template-columns: 75% 20% 5%;
                .structure-message {
                    display: flex;
                    align-items: center;
                    border-right: 1px solid #e4e4e4;
                    padding-right: 12px;
                    margin-left: 20px;
                    .field-name {
                        color: #84818a;
                        font-family: 'InterMedium';
                        font-size: 12px;
                        margin-right: 10px;
                    }
                }
                .validation {
                    border-right: 1px solid #e4e4e4;
                    display: flex;
                    justify-content: center;
                    .validate-placeholder {
                        display: flex;
                        align-items: center;
                        p {
                            font-family: 'InterMedium';
                        }
                        img,
                        svg {
                            margin-right: 5px;
                        }
                    }
                }
                .copy-icon {
                    display: flex;
                    justify-content: center;
                }
            }
            .validate-note {
                border-radius: 8px;
                margin: 4px 20px;
                height: 45px;
                display: flex;
                align-items: center;
                padding-left: 15px;
                p {
                    font-family: 'InterSemiBold';
                    font-size: 14px;
                    margin: 0;
                    margin-left: 10px;
                }
            }
            .success {
                background: rgba(46, 212, 122, 0.1);
                color: #2ed47a;
            }
            .error {
                background: #fbe9e7;
                color: #d92d20;
            }
        }
        .used-stations {
            padding: 16px 30px;
            min-height: 145px;
            .header {
                display: flex;
                justify-content: space-between;
                p {
                    font-family: 'InterSemiBold';
                    font-size: 18px;
                    margin-right: 15px;
                }
                .attach-button {
                    color: var(--purple);
                    font-size: 14px;
                    font-family: 'InterSemiBold' !important;
                    display: flex;
                    gap: 5px;
                    align-items: center;
                }
            }
            .stations-list {
                position: relative;
                display: inline-flex;
                gap: 16px;
                margin-top: 20px;
                align-content: flex-start;
                flex-wrap: wrap;
                height: calc(100% - 30px);
                overflow: auto;
                .station-wrapper {
                    border-radius: 30px;
                    background: rgba(0, 16, 61, 0.06);
                    cursor: pointer;
                    display: flex;
                    min-width: 100px;
                    height: 29px;
                    padding: 0px 20px;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    .ovel-station {
                        font-size: 15px;
                        font-family: 'InterSemiBold';
                        cursor: pointer;
                    }
                    img,
                    svg {
                        position: absolute;
                        top: 10px;
                        right: 5px;
                        display: none;
                    }
                }
                .station-wrapper:hover {
                    display: flex;
                    .ovel-station {
                        color: var(--purple);
                        text-decoration-line: underline;
                    }
                    img,
                    svg {
                        display: block;
                    }
                }
            }
        }
    }
    .footer {
        padding: 16px 30px;
        display: flex;
        justify-content: flex-end;
        .placeholder-button {
            display: flex;
            width: 72px;
            justify-content: space-between;
            align-items: center;
        }
        .left-side {
            display: flex;
            width: 232px;
            justify-content: space-between;
        }
    }
}

.roll-back-modal {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
        margin: 0;
    }
    .title {
        font-size: 18px;
        font-family: 'InterSemiBold';
    }
    .desc {
        font-size: 14px;
        color: #667085;
    }
    .buttons {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
}

.message-option {
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    box-shadow: 0px 10px 10px rgba(16, 10, 85, 0.1);
    border-radius: 4px;
    .ant-select-item-option {
        margin: 3px 8px;
        border-radius: 8px;
        background: #ffffff;
    }
    .ant-select-item-option:hover {
        background-color: #edebeb;
        border-radius: 8px;
        margin: 3px 8px;
    }
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        background: rgba(101, 87, 255, 0.1);
        border-radius: 8px;
        margin: 3px 8px;
    }
}
.attach-station-modal {
    .ant-modal-header {
        border-bottom: unset !important;
        .img-wrapper {
            width: 48px;
            height: 48px;
            display: flex;
            background: rgba(101, 87, 255, 0.1);
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            img,
            svg {
                width: 23px;
            }
        }
    }
    .ant-modal-body {
        padding-top: 0;
    }
}
