.result-wrapper {
    .result-container {
        padding: 0px;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        border: 1px solid #e9e9e9;
        border-radius: 8px;
        width: 100%;
        height: calc(100% - 50px);
        max-height: 470px;
        overflow-y: auto;
        margin-top: 5px;
        .header {
            display: flex;
            width: 100%;
            background-color: #e2e2e2;
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
            height: 37px;
            align-items: center;
            justify-content: space-between;
            padding-left: 19px;
            padding-right: 6px;

            .title {
                margin: 0px;
                color: rgba(74, 73, 92, 0.8);
                font-family: 'Inter';
                font-size: 12px;
                letter-spacing: 0.84px;
            }

            .rightSide {
                display: flex;
                flex-direction: row;
                gap: 6px;
                align-items: center;
            }
        }
        .result {
            width: 100%;
            height: calc(100% - 40px);
            padding-left: 21px;
            padding-top: 7px;
            white-space: pre-wrap;
            overflow-y: auto;
            position: relative;

            .title {
                font-family: 'InterSemiBold';
                font-size: 14px;
                line-height: 24px;
                margin: 0px;
            }
            .copy-section {
                position: absolute;
                right: 5px;
                top: 5px;
            }
        }
    }
    .loader-wrapper {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
}
