.overview-container {
    width: calc(100% - 90px);
    position: absolute;
    height: 100%;
    overflow: auto;
    .overview-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 1vw;
        .header {
            height: 60px;
            width: 100%;
            min-width: 600px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .header-welcome {
                display: flex;

                .bot-wrapper {
                    position: relative;
                    margin-right: 20px;
                    background: #ffffff;
                    box-shadow: 0px 0px 1.9px 1px rgba(170, 170, 170, 0.25);
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .dynamic-sentences {
                    display: flex;
                    align-self: center;
                    flex-direction: column;
                    .username {
                        text-transform: capitalize;
                    }
                    .org-details {
                        display: flex;
                        gap: 5px;
                        .hostname {
                            border-radius: 32px;
                            border: 0.8px solid #e2dfff;
                            background: #f1f0ff;
                            display: flex;
                            width: fit-content;
                            padding: 0px 10px;
                            gap: 2px;
                            font-family: 'InterMedium';
                            p {
                                font-size: 12px;
                            }
                            span {
                                color: var(--purple);
                                font-size: 12px;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }

            .btn-section {
                display: flex;
                align-items: flex-start;
                gap: 10px;
                .cloud-teaser {
                    height: 34px;
                    border-radius: 50%;
                    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05), 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
                    cursor: pointer;
                }
                .create-new {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    label {
                        cursor: pointer;
                    }
                }
            }

            .dynamic-sentences {
                h1 {
                    font-size: 24px;
                    font-family: 'InterSemiBold';
                    color: #1d1d1d;
                    margin: 0;
                }

                p {
                    font-size: 14px;
                    font-family: 'InterSemiBold';
                    margin: 0;
                }

                .ok-status {
                    color: #2ed47a;
                }
            }

            .overview-actions {
                display: flex;
                width: 300px;
                justify-content: space-between;
                .title {
                    display: flex;
                    align-items: center;
                    width: 85px;
                    justify-content: space-between;
                    p {
                        margin: 0;
                    }
                    svg {
                        width: 16px;
                    }
                }
            }
        }
        .top-component {
            min-width: 1250px;
        }

        .overview-components-wrapper {
            width: 100%;
            position: relative;
            background: white;
            border: 1px solid #e9e9e9;
            box-sizing: border-box;
            box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
            border-radius: 8px;
            .overview-components-header {
                p {
                    align-items: center;
                    font-size: 17px;
                    font-family: 'InterSemiBold';
                    margin-bottom: 0;
                }
                label {
                    font-size: 14px;
                    color: #b4b4b4;
                    font-family: 'InterMedium';
                }
            }
        }
        .overview-components {
            display: flex;
            position: relative;
            width: 100%;
            min-width: 1250px;
            height: calc(100% - 185px);
            justify-content: space-between;
            gap: 1vw;
            .left-side {
                width: 60%;
                min-width: 820px;
                min-height: 580px;
                display: grid;
                grid-template-rows: 49% 49%;
                align-content: space-between;
            }

            .right-side {
                width: 40%;
                height: 100%;
                position: relative;
                min-height: 580px;
                min-width: 430px;
                align-content: space-between;
                display: grid;
                grid-template-rows: 60% 38%;
                position: relative;
                .graphview-section {
                    height: calc(100% - 50px);
                    position: relative;
                    .graphview-img {
                        height: 100%;
                        width: 100%;
                        position: relative;
                        cursor: pointer;
                    }
                }
            }
            .free-cloud {
                display: grid;
                grid-template-rows: 46% 27% 23%;
            }
            .cloud {
                display: grid;
                grid-template-rows: 49% 32% 15%;
            }

            .system-components-wrapper {
                height: 100%;
                position: relative;
            }
        }
        .overview-components-cloud {
            height: calc(100% - 185px) !important;
        }
    }
    .no-data {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        img,
        svg {
            width: 70px;
            height: 70px;
        }
        p {
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 16px;
            color: #1d1d1d;
        }
        label {
            font-family: 'Inter';
            font-size: 14px;
            color: #979797;
            text-align: center;
            width: 80%;
        }
        .link {
            cursor: pointer;
            color: #6557ff;
            font-weight: 600;
            margin-top: 10px;
        }
    }
}
