.overview-container {
    width: calc(100% - 90px);
    position: absolute;
    height: 100%;
    overflow: auto;
    .overview-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 1vw;
        .header {
            height: 60px;
            width: 100%;
            min-width: 600px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .header-welcome {
                display: flex;

                .bot-wrapper {
                    position: relative;
                    margin-right: 20px;
                    background: #ffffff;
                    box-shadow: 0px 0px 1.9px 1px rgba(170, 170, 170, 0.25);
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .dynamic-sentences {
                    display: flex;
                    align-items: center;
                }
            }

            .dynamic-sentences {
                h1 {
                    font-size: 24px;
                    font-family: 'InterSemiBold';
                    color: #1d1d1d;
                    margin: 0;
                }

                p {
                    font-size: 14px;
                    font-family: 'InterSemiBold';
                    margin: 0;
                }

                .ok-status {
                    color: #2ed47a;
                }
            }

            .overview-actions {
                display: flex;
                width: 300px;
                justify-content: space-between;
                .title {
                    display: flex;
                    align-items: center;
                    width: 85px;
                    justify-content: space-between;
                    p {
                        margin: 0;
                    }
                    img {
                        width: 16px;
                    }
                }
            }
        }
        .top-component {
            min-width: 1250px;
        }

        .overview-components-wrapper {
            width: 100%;
            position: relative;
            background: white;
            border: 1px solid #e9e9e9;
            box-sizing: border-box;
            box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
            border-radius: 8px;
            .overview-components-header {
                p {
                    align-items: center;
                    font-size: 17px;
                    font-family: 'InterSemiBold';
                    margin-bottom: 0;
                }
                label {
                    font-weight: 400;
                    font-size: 12px;
                    color: #b4b4b4;
                    font-family: 'Inter';
                }
            }
        }
        .overview-components {
            display: flex;
            position: relative;
            width: 100%;
            min-width: 1250px;
            height: calc(100% - 110px);
            justify-content: space-between;
            gap: 1vw;
            .left-side {
                width: 67%;
                min-width: 820px;
                min-height: 580px;
                display: grid;
                grid-template-rows: 49% 49%;
                align-content: space-between;
            }

            .right-side {
                width: 33%;
                height: 100%;
                position: relative;
                min-height: 580px;
                min-width: 420px;
                display: grid;
                align-content: space-between;
            }
            .cloud{
                grid-template-rows: 49% 32% 15%;
            }

            .system-components-wrapper {
                height: 100%;
                position: relative;
            }
        }
    }
}
