.users-container {
    width: calc(100% - 90px);
    position: absolute;
    padding: 1vw;
    min-width: 700px;
    height: 100%;
    .add-search-user {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 10px;
    }
    .users-list-container {
        margin-top: 30px;
        .user-row{
            .user-name {
                display: flex;
                align-items: center;
                font-family: 'Inter';
                font-size: 14px;
                p{
                    margin: 0;
                }
                .user-avatar {
                    width: 35px;
                    height: 35px;
                    background: #ffffff;
                    box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 0.25);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 20px;
                }
            }
        }
    }
    ::-webkit-scrollbar-thumb {
        display: none;
    }
}
.user-details-modal {
    font-size: 14px;
    p {
        font-family: 'InterSemiBold';
    }
    span {
        font-family: 'Inter';
    }
    .userName {
        color: var(--purple);
    }
}
