.users-container {
    width: calc(100% - 90px);
    position: absolute;
    padding: 1vw;
    min-width: 700px;
    height: 100%;
    .add-search-user {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 10px;
    }
    .users-list-container {
        margin-top: 30px;
        .ant-table-thead .ant-table-cell {
            background: white;
            border-top: 1px solid #e4e6e9;
        }
        .table-header {
            display: flex;
            align-items: center;
            p {
                margin-bottom: 0;
                margin-right: 10px;
                font-family: 'InterMedium';
                font-size: 14px;
            }
        }
        .user-row {
            p {
                margin: 0;
                font-family: 'InterMedium';
                font-size: 14px;
            }
            .user-name {
                display: flex;
                align-items: center;
                .user-avatar {
                    width: 35px;
                    height: 35px;
                    background: #ffffff;
                    box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 0.25);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 20px;
                    svg {
                        color: var(--purple);
                    }
                }
                .badgeOrange {
                    min-width: unset !important;
                    border-radius: 32px;
                    height: 20px;
                    margin-left: 10px;
                }
            }
            .status {
                .version-badge {
                    justify-content: center;
                    height: 24px;
                    min-width: unset;
                    max-width: 70px;
                }
            }
            .created-column {
                font-family: 'Inter' !important;
                color: rgba(74, 73, 92, 0.8);
            }
            .full-name {
                text-transform: capitalize;
            }
            .user-action {
                display: flex;
                gap: 10px;
                .action-button {
                    display: flex;
                    position: relative;
                    align-items: center;
                    svg {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    ::-webkit-scrollbar-thumb {
        display: none;
    }
}
.user-details-modal {
    font-size: 14px;
    p {
        font-family: 'InterSemiBold';
    }
    span {
        font-family: 'Inter';
    }
    .userName {
        color: var(--purple);
    }
}
