.sdk-details-container {
    gap: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
    font-size: 12px;
    font-weight: 400;
    .tabs-container {
        width: 150px;
    }
    .ant-tabs-top > .ant-tabs-nav {
        margin-bottom: 0;
    }
    .ant-tabs-tab {
        font-size: 12px;
    }
    .installation {
        .install-copy {
            border: 1px solid var(--gray);
            box-sizing: border-box;
            border-radius: 4px;
            height: 50px;
            width: 450px;
            display: flex;
            align-items: center;
            padding: 0px 10px;
            justify-content: space-between;
            p {
                margin: 0;
            }
        }
    }
    .code-example {
        .code-content {
            border: 1px solid var(--gray);
            box-sizing: border-box;
            border-radius: 4px;
            height: 350px;
            overflow: auto;
            align-items:flex-start;
            display: flex;
            justify-content:space-evenly;
            p {
                margin: 0;
                white-space: pre-line;
            }
            img {
                padding-top: 5px;
            }
        }
    }
}