.code-example-details-container {
    gap: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
    font-size: 12px;
    font-weight: 400;
    .header-wrapper{
        p{
            font-family: 'InterSemiBold';
            font-size: 16px;
            margin: 0;
        }
        span{
            font-family: 'Inter';
            font-size: 12px;
            color: #84818A;
        }
    }
    .tabs-container {
        width: 150px;
        margin-left: 10px;
    }
    .ant-tabs-top > .ant-tabs-nav {
        margin-bottom: 0;
    }
    .ant-tabs-tab {
        font-size: 12px;
    }
    .field-title{
        font-family: 'InterMedium';
        font-size: 14px;
        margin-bottom: 5px;
    }
    .installation {
        .install-copy {
            border: 1px solid var(--gray);
            box-sizing: border-box;
            border-radius: 4px;
            height: 50px;
            width: 450px;
            display: flex;
            align-items: center;
            padding: 0px 10px;
            justify-content: space-between;
            p {
                margin: 0;
            }
        }
    }
    .code-example {
        .code-content {
            border: 1px solid var(--gray);
            box-sizing: border-box;
            border-radius: 4px;
            height: 350px;
            overflow: auto;
            align-items:flex-start;
            display: flex;
            justify-content:space-evenly;
            padding-top: 10px;
            p {
                margin: 0;
                white-space: pre-line;
            }
            img {
                padding-top: 5px;
            }
        }
    }
}