$grid-color: rgba(150, 150, 150, .3);

.stream-lineage-container {
    position: relative;
    padding: 1vw;
    min-width: 700px;
    border-radius: 16px;
    height: calc(100% - 70px);
    background-color: white;
	background-image: linear-gradient(rgba(150, 150, 150, 0.1) 2px, transparent 2px), linear-gradient(90deg, rgba(150, 150, 150, 0.1) 2px, transparent 2px);
	background-size: 100px 220px, 220px 100px, 20px 20px, 20px 20px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    overflow: hidden;
    .title-wrapper{
        display: flex;
        justify-content: space-between;
        .overview-components-header {
            p {
                align-items: center;
                font-size: 17px;
                font-family: 'InterSemiBold';
                margin-bottom: 0;
            }
            label {
                font-size: 14px;
                color: #b4b4b4;
                font-family: 'InterMedium';
            }
            .flex{
                display: flex;
                gap: 5px;
                img{
                    cursor: pointer;
                }
            }
        }
        .refresh-wrapper{
            display: flex;
            margin-right: 45px;
            border-radius: 8px;
            background: var(--box-2, #FFF);
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);   
            align-items: center;
            padding: 0 10px;
            gap: 5px;
            height: 40px;
            cursor: pointer;
            font-family: 'InterMedium';
            svg{
                color: #9EA3AE;
                width: 20px;
                height: 20px;
            }
        }
        .actions-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            position: absolute;
            right: 10px;
            .close-wrapper{
                width: 40px;
                height: 40px;
                background: white;
                box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);   
                border-radius: 8px;
                font-family: 'Inter';
                font-size: 12px;
                color: #9EA3AE;
                cursor: pointer;
                align-items: center;
                display: flex;
                justify-content: center;
                svg{
                    width: 18px;
                    height: 18px;
                }
                svg:hover{
                    color: var(--purple);
                }
                .lock-feature-icon{
                    position: absolute;
                    top: -5px;
                    right: -5px;   
                }
            }
            .zoom-wrapper{
                width: 40px;
                height: 80px;
                border-radius: 8px;
                background: white;
                box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);               
                align-items: center;
                display: grid;
                grid-template-rows: 30% 3% 30% 3% 30%;
                justify-items: center;
                svg{
                    color: #9EA3AE;
                    cursor: pointer;
                }
                svg:hover{
                    color: var(--purple);
                }
                .ant-divider-horizontal{
                    margin: 0;
                }
                .fit-wrapper{
                    font-size: 12px;
                    color: #9EA3AE;
                    cursor: pointer;
                }
                span:hover{
                    color: var(--purple);
                }
            }
        }
    }

    .canvas-wrapper{
        height: calc(100% - 40px);
        .edge {
            stroke-width: 8;
             stroke: rgba(101,87,255,.1);
        }
        .processing {
            stroke: #34C759;
            stroke-dasharray: 5;
            animation: dashdraw .5s linear infinite;
        }
        @keyframes dashdraw {
            0% { stroke-dashoffset: 10; }
        }
    }
    .loader-uploading{
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        .loader-container{
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.lineage-smaller{
    background-image: linear-gradient(rgba(150, 150, 150, 0.1) 2px, transparent 2px), linear-gradient(90deg, rgba(150, 150, 150, 0.1) 2px, transparent 2px) !important;
	background-size: 100px 150px, 150px 100px, 20px 20px, 20px 20px !important;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px !important;
    height: 100% !important;
    max-height: 100%;
    .bread-crumbs p{
        font-size: 17px !important;
    }
}

// .lineage-smaller .Canvas-module_container__22cN4.Canvas-module_pannable__1d7xd{
//     max-height: 250px !important;
// }

.lineage-empthy{
    padding: 15px;
    position: relative;
    height: 100%;
    .loader-uploading{
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        .loader-container{
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .bread-crumbs{
        p{
            margin: 0;
            font-family: 'InterSemiBold';
            font-size: 17px;
            line-height: 29px;
            color: #1D1D1D; 
        }
    }
    .empty-connections-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        height: calc(100% - 15px);
        justify-content: center;
        img{
            width: 120px;
        }
        p{
            margin: 0;
            font-family: 'InterSemiBold';
            font-size: 16px;
        }
        .desc{
            font-family: 'InterMedium';
            color: #979797;
            font-size: 14px;
        }
    }
}


    .Canvas-module_container__22cN4.Canvas-module_pannable__1d7xd{
        overflow: overlay !important;
    }
    
    .Canvas-module_container__22cN4.Canvas-module_pannable__1d7xd::-webkit-scrollbar{
        display: none !important;
    }

    