.remaining-tags-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    .tag-wrapper {
        border-radius: 4px;
        font-family: 'InterSemiBold';
        font-style: normal;
        font-size: 12px;
        height: 24px;
        display: flex;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        max-width: 135px;
        text-overflow: ellipsis;
    }
}
