.generic-list-wrapper {
    display: flex;
    position: relative;
    height: calc(100%);
    width: 100%;
    .list {
        position: relative;
        width: 100%;
        .coulmns-table {
            border-bottom: 1px solid #e9e9e9;
            display: flex;
            justify-content: space-between;
            color: #979797;
            padding-left: 22px;
            span {
                font-weight: 400;
                font-size: 12px;
                margin-right: 10px;
            }
        }
        .rows-wrapper {
            position: relative;
            height: calc(100% - 10px);
            overflow: auto;
            .pubSub-row {
                width: 100%;
                height: 35px;
                display: flex;
                color: #1d1d1d;
                justify-content: space-between;
                align-items: center;
                font-weight: 400;
                font-size: 12px;
                padding-left: 22px;
                div {
                    margin-right: 10px;
                }
            }
        }
    }
    .row-data {
        width: 18vw;
        overflow-wrap: anywhere;
        overflow: auto;
        margin: 1vh;
        margin-top: 45px;
    }
}
