.configuration-list-container {
    height: 100px;
    background: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width:785px;
    .name {
        display: flex;
        align-items: center;
        width: 30%;
        min-width:415px;
        img {
            height: 40px;
            width: 40px;
            margin-right: 20px;
        }
        .conf-name {
            font-family: 'InterSemiBold';
            font-size: 15px;
            margin-bottom: 0px;
        }
        .conf-description {
            color: rgba(74, 73, 92, 0.8);
            font-family: 'InterMedium';
            font-size: 11px;
        }
    }
    .current-value{
        width: 100px;
        height: 42px;
        border: 1px solid #D8D8D8;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            margin: 0;

        }
    }
    .slider {
        display: flex;
        align-items: center;
        .min-max-box{
            background-color: rgba(74, 73, 92, 0.05);
            border-radius: 6px;
            padding: 0 5px;
            display: flex;
            height: 20px;
            width: 50px;
            align-items: center;
            justify-content: center;
            span{
                color: rgba(74, 73, 92, 0.8);
                font-family: 'InterMedium';
                font-size: 12px;
                line-height: 10px;
            }
        }
    }
}