.tags-list-wrapper{
  display: flex;
  align-items: center;
  gap: 5px;
  .add-tags{
      display: flex;
      margin-left: 15px;
      min-width: 110px;
      cursor: pointer;
      svg{
          width: 18px;
      }
      p{
          font-family: 'InterSemiBold';
          font-size: 14px;
      }
  }
}