.update-refresh {
    display: flex;
    position: relative;
    .ant-badge {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 5;
    }
    .refresh-btn {
        background-color: #ffffff;
        border-radius: 50%;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}
