.throughput-overview-container {
    height: 100%;
    width: 100%;
    padding: 15px;
    position: relative;
    min-width: 400px;
    min-height: 200px;
    overflow: hidden;
}
.throughput-chart {
    width: 100%;
    height: 100%;
    position: relative;
    .custom-tooltip {
        display: flex;
        flex-direction: column;
        background-color: #2b2e3f;
        color: #f7f7f7;
        padding: 10px;
        font-weight: 600;
        font-size: 12px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        white-space: pre-line;
        border-radius: 6px;
        width: 150px;
        height: 70px;
    }
}

.throughput-header {
    display: flex;
    justify-content: space-between;
    .throughput-header-side {
        display: flex;
        align-items: center;
    }

    .ant-segmented {
        margin-left: 20px;
        border-radius: 4px;
    }
}

.throughput-interval-containter {
    height: 350px;
    display: flex;
    .custom {
        padding: 20px;
        width: 300px;
        background: #f7f7f7;
    }
    .fixed {
        padding: 20px;
        width: 300px;
    }
}
