.throughput-overview-container {
    height: 100%;
    width: 100%;
    padding: 15px;
    position: relative;
    min-width: 400px;
    min-height: 250px;
    overflow: hidden;
    .ant-segmented-item-label {
        color: #12131a;
    }
}
.throughput-chart {
    width: 100%;
    height: calc(100% - 50px);
    position: relative;
    margin-top: 20px;
    .loader-container {
        position: absolute;
        height: 100%;
        width: 100%;
        .gif-wrapper {
            position: relative;
            height: 100%;
            width: 100%;
        }
        .memphis-gif {
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            transform: translateY(-50%);
        }
    }
    canvas {
        height: 100% !important;
    }
}

.throughput-header {
    display: flex;
    justify-content: space-between;
    .throughput-header-side {
        display: flex;
        align-items: center;
    }

    .ant-segmented {
        margin-left: 20px;
        border-radius: 4px;
    }
}

.throughput-interval-containter {
    height: 350px;
    display: flex;
    .custom {
        padding: 25px;
        width: 300px;
        background: #f7f7f7;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .custom-header {
            font-size: 20px;
            color: #1d1d1d;
            font-family: 'InterMedium';
            margin-bottom: 5px;
        }
        .custom-description {
            color: #b4b4b4;
            font-size: 12px;
            margin-bottom: 0;
        }
        .date-container {
            margin-bottom: 15px;
            height: 60px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    .fixed {
        padding: 25px;
        width: 300px;
        .intervals-list {
            margin-top: 5px;
            p {
                margin-bottom: 0;
                color: #1d1d1d;
                font-family: 'InterMedium';
                padding: 5px;
                border-radius: 4px;
                cursor: pointer;
            }
            p:hover {
                background-color: #f9f9fa;
            }
            p.selected {
                background-color: #f1f0ff;
            }
        }
    }
    .throughput-select {
        width: 200px;
    }
}
