.station-observabilty-container {
    display: flex;
    .station-observabilty-side {
        flex: 1;
        padding: 30px 0;
    }
    .thunnel-from-sub,
    .thunnel-to-pub {
        overflow: hidden;
        min-width: 90px;
        width: 130px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        div {
            min-width: 130px;
            width: 130px;
            margin-top: 137px;
        }
    }
    .thunnel-to-pub {
        display: flex;
        justify-content: flex-start;
        div {
            margin-top: 139px;
        }
    }
    .ant-space-item {
        width: 94%;
        margin-left: 3%;
    }
    .ant-collapse-item.ant-collapse-no-arrow {
        background: #ffffff;
        border: 1px solid #efefef;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
    }
    .collapse-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        p {
            margin: 0;
            font-family: 'InterSemiBold';
            font-size: 14px;
            display: flex;
        }
        img {
            width: 12px;
            margin-left: 10px;
        }
    }
}
