.message-journey-container {
    width: calc(100% - 90px);
    position: absolute;
    padding: 1vw;
    min-width: 700px;
    height: 100%;
    .bread-crumbs{
        display: flex;
        height: 30px;
        align-items: center;
        img{
            margin-right: 10px;
            cursor: pointer;
        }
        p{
            margin: 0;
            font-family: 'InterSemiBold';
            font-size: 24px;
            line-height: 29px;
            color: #1D1D1D; 
        }
    }
    .ant-collapse-item.ant-collapse-no-arrow {
        background: #FFFFFF;
        border: 1px solid #EFEFEF;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
    }
    .collapse-header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        p{
            margin: 0;
            font-family: 'InterSemiBold';
            font-size: 14px;
        }
        img{
            width: 12px;
            margin-left: 10px;
        }
        
    }
    .canvas-wrapper{
        position: absolute;
        top: 50px;
        bottom: 0;
        left: 0;
        right: 0;
        height: 95%;
        .edge {
            stroke-width: 8;
        }
        .producer{
            stroke: rgba(101, 87, 255, 0.1);
        }
        .consumer {
            stroke: rgba(255, 54, 36, 0.1);
        }
        .processing {
            stroke-dasharray: 5;
            animation: dashdraw .5s linear infinite;
        }
        @keyframes dashdraw {
            0% { stroke-dashoffset: 10; }
        }
    }
}
    
    .node-wrapper{
        .collapse-header{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }

    .Canvas-module_container__22cN4.Canvas-module_pannable__1d7xd{
        overflow: overlay !important;
    }

    