.create-station-form-getstarted {
    height: 100%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 50% 50%;
    .left-side {
        border-right: 1px solid #e0e0e0;
        padding-right: 15px;
        overflow: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .left-gs {
        gap: 20px;
    }
    .right-side {
        padding-left: 15px;
    }
    .station-name-section {
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        position: relative;
        .name-and-hint {
            position: absolute;
            bottom: 0px;
            color: #475467;
            font-size: 12px;
        }
    }
    .retention-storage-box {
        border: 1px solid #eaecf0;
        border-radius: 8px;
        .header {
            background: #f7f7f8;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            .ant-tabs-nav {
                margin: 0;
                padding: 0 10px;
            }
        }
        .content {
            padding: 10px;
            background: white;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            .description {
                font-size: 12px;
                color: #a9a9a9;
            }
        }
    }
    .retention-type-section {
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }
    .field-title {
        display: flex;
        font-family: 'Inter';
        font-size: 12px;
        margin: 0;
    }
    .storage-container {
        display: flex;
        flex-direction: column;
    }
    .replicas-partition-container {
        grid-template-columns: 47% 47%;
        justify-content: space-between;
        .replicas-container {
            justify-content: space-between;
            display: flex;
            flex-direction: column;
        }
    }
    .header-getstarted-form {
        width: 168px;
        height: 29px;
        margin-top: 26px;
        font-family: 'InterSemiBold';
        font-size: 24px;
        line-height: 29px;
        color: #1d1d1d;
    }

    .get-started-icon {
        margin-top: 39px;
        margin-left: 49px;
    }

    .field-description {
        font-family: 'Inter';
        font-size: 12px;
        color: #b4b4b4;
        margin-top: 5px;
    }

    .ant-form-item {
        margin-bottom: 10px;
        .ant-form-item-control {
            .ant-form-item-control-input {
                .ant-form-item-control-input-content {
                    .radio-button {
                        .ant-radio-group {
                            .ant-radio-button-wrapper {
                                border-radius: 32px;
                                text-align: center;
                                margin-right: 5px;
                                color: #808191;
                                content: normal;
                                border-left-width: 1px;
                            }

                            .ant-radio-button-wrapper:first-child {
                                text-align: center;
                            }

                            .ant-radio-button-wrapper > .ant-radio-button {
                                border-radius: 32px;
                                color: #808191;
                            }

                            .ant-radio-button-wrapper-checked {
                                color: white;
                                background-color: #6557ff;
                                border-color: #6557ff;
                            }
                            .ant-radio-button-wrapper:not(:first-child)::before {
                                content: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .time-value {
        display: flex;
        .days-section,
        .hours-section,
        .minutes-section,
        .seconds-section {
            text-align: center;
            margin-bottom: 15px;
            p {
                font-size: 11px;
                font-family: 'Inter';
                line-height: 18px;
                margin: 0;
            }
        }
        .separator {
            margin: 8px 5px 0px 5px;
            font-size: 14px;
            font-family: 'InterBold';
            color: var(--gray);
        }
    }

    .ant-input-number {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        border: 1px solid var(--gray);
    }
    .ant-input-number-input {
        height: 40px;
    }
    .ant-input-number-focused {
        box-shadow: unset;
    }
    .ant-input-number-handler {
        border-left: none;
    }
    .ant-input-number-handler-wrap {
        opacity: 1;
    }

    .retention-type {
        display: flex;
        align-items: center;
        padding-bottom: 34px;
        p {
            margin-left: 5px;
            margin-bottom: 10px;
        }
    }
    .ackbased-type {
        height: 82px;
        p {
            font-size: 14px;
            color: #a9a9a9;
        }
    }
    .toggle-add {
        display: flex;
        justify-content: space-between;
        .switch-button {
            margin-left: 10px;
        }
        .ant-switch {
            min-width: 35px;
        }
    }
    .idempotency-type {
        .idempotency-value {
            display: grid;
            grid-template-columns: 47% 47%;
            justify-content: space-between;
        }
    }
    .learn-more {
        color: #6557ff;
    }
    a:hover {
        text-decoration: underline;
    }
}
.show-violation-form {
    display: flex;
    margin-bottom: 10px;
    margin-top: -5px;
    justify-content: space-between;
    align-items: center;
    .flex-line {
        display: flex;
        gap: 5px;
        p {
            margin: 0;
            font-size: 13px;
            color: #ff4d4f;
            line-height: 13px;
        }
        .lock-feature-icon {
            color: #ff4d4f !important;
            width: 20px;
        }
    }
    .upgrade-button-wrapper {
        padding: 5px 5px;
        background: var(--yellow);
        width: 94px;
        border-radius: 32px;
        color: #253342;
        display: flex;
        justify-content: center;
        font-family: 'InterMedium';
        font-size: 12px;
        cursor: pointer;
        p {
            margin: 0;
            line-height: 12px;
        }
    }
    .upgrade-button-wrapper:hover {
        opacity: 0.9;
    }
}
