.pubSub-list-container {
    background: white;
    position: relative;
    width: 20vw;
    height: 68vh;
    min-height: 450px;
    min-width: 330px;
    box-shadow: 0px 0px 4px 3px rgba(204, 204, 204, 0.19);
    border-radius: 8px;
    padding: 15px 0px 15px 0px;
    .header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #e9e9e9;
        line-height: 35px;
        padding: 0 15px 5px 15px;
        .title {
            font-family: 'InterSemiBold';
            font-size: 14px;
            margin: 0;
        }
        .add-connector-button {
            cursor: pointer;
            color: var(--purple);
            font-family: 'InterSemiBold';
            font-size: 12px;
        }
        .producer-placeholder {
            display: flex;
            align-items: center;
            img {
                margin-right: 5px;
            }
        }
    }
    .coulmns-table {
        border-bottom: 1px solid #e9e9e9;
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: #737373;
        padding: 0px 15px 0px 15px;
        line-height: 35px;
        span {
            font-family: 'Inter';
            font-size: 12px;
            color: #979797;
        }
    }
    .rows-wrapper {
        position: relative;
        width: calc(100%);
        height: calc(100% - 90px);
        overflow: auto;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .list-container {
            overflow: auto;
            .pubSub-row {
                height: 35px;
                display: flex;
                color: #1d1d1d;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                font-family: 'Inter';
                font-size: 12px;
                padding: 5px;
                margin-right: 10px;
                margin-top: 5px;
                .status-icon {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    .circle-status {
                        border-radius: 32px;
                        width: 18px;
                        height: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .dot {
                            width: 6px;
                            height: 6px;
                            border-radius: 50px;
                        }
                        .disconnected-dot {
                            background: #f7685b;
                        }
                        .active-dot {
                            background: #2ed47a;
                        }
                        .proccesing {
                            background: #2ed47a;
                            animation: blinker 0.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
                        }
                    }
                    .disconnected {
                        background: #fee4e2;
                    }
                    .active {
                        background: #ddf8e9;
                    }
                    .deleted svg {
                        width: 15px;
                        color: #adadad;
                    }
                    img {
                        width: 12px;
                        display: block;
                        cursor: pointer;
                    }
                }
                div {
                    cursor: pointer !important;
                }
            }
            .deleted {
                color: #adadad !important;
            }
            .selected {
                background: #e3e0ff !important;
                border: 1px solid #6557ff;
                border-radius: 4px;
                padding: 4px;
            }
            .pubSub-row:nth-child(even) {
                background-color: #f8f8f8;
                border-radius: 5px;
            }
        }
        .collapse-wrapper {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 26.87%);
        }
        .ant-space {
            width: 100%;
        }
        .empty-pub-sub {
            display: flex;
            width: 95%;
            height: 100%;
            position: absolute;
            align-items: center;
            justify-content: center;
            p {
                margin: 0;
                color: var(--gray);
                font-family: 'InterSemiBold';
                font-size: 16px;
            }
        }

        .consumer-producer-number {
            background: #dfdfdf;
            max-width: 30px;
            display: center;
            justify-content: center;
            border-radius: 20px;
            font-family: 'InterSemiBold';
            padding: 0 10px;
        }
    }
}
.unsupported-placeholder {
    position: absolute;
    display: flex;
    place-content: center;
    align-items: center;
    height: calc(100% - 60px);
    text-align: -webkit-center;
    text-align: -moz-center;
    background: rgb(255 255 255 / 76%);
    backdrop-filter: blur(1.5px);
    top: 56px;
    flex-direction: column;
    .placeholder-wrapper {
        width: 90%;
        p {
            margin: 20px 0px;
            color: #1d1d1d;
            font-family: 'InterSemiBold';
            font-size: 22px;
            text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
        }
    }
}

.no-consumer-message--p {
    color: var(--gray-900, #101828);
    font-family: 'InterSemiBold';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.np-consumer-message--label {
    color: var(--gray-900, #101828);
    font-family: 'InterSemiBold';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

@keyframes blinker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
