.integration-guid-stepper {
    width: 95%;
    align-self: center;
    margin-top: 10px;
    margin-left: 20px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .ant-collapse {
        background: white;
        border: 1px solid #e6e6e6;
        box-shadow: 0px 0px 2px rgb(24 24 28 / 2%), 0px 1px 2px rgb(24 24 28 / 6%);
        border-radius: 8px;
        height: calc(100% - 80px);
        overflow: auto;
        .ant-collapse-header {
            flex-flow: row-reverse;
            padding: 9px 16px;
            .ant-collapse-header-text {
                font-family: 'InterMedium';
                font-size: 15px;
            }
        }
        .ant-collapse-content-box {
            padding: 0;
        }
        .steps-content {
            max-height: 240px;
            overflow: auto;
            padding: 16px;
            h3 {
                color: #727279;
                font-size: 14px;
            }
            p {
                font-family: 'InterMedium';
                font-size: 14px;
                color: #222124;
                margin: 0;
            }
            span {
                color: #727279;
                font-size: 12px;
            }
            label {
                color: rgba(101, 87, 255, 0.8);
                background: rgba(101, 87, 255, 0.2);
                border-radius: 4px;
                padding: 3px;
            }
            a {
                color: var(--purple);
            }
            a:hover {
                text-decoration: underline;
            }
            .img {
                width: 400px;
                display: flex;
                position: relative;
                cursor: pointer;
                svg {
                    position: absolute;
                    right: 10px;
                    bottom: 5px;
                    font-size: 25px;
                    color: #525556;
                    cursor: pointer;
                    display: none;
                }
            }
            .img:hover svg {
                display: inline;
            }
            .editor {
                display: flex;
                background: #f5f7f9;
                border: 1px solid #e6e6e6;
                box-shadow: 0px 3px 4px -5px rgba(24, 24, 28, 0.03), 0px 1px 2px rgba(24, 24, 28, 0.04);
                border-radius: 6px;
                align-items: flex-start;
                padding: 10px;
                justify-content: space-between;
                pre {
                    color: #727279;
                    font-family: 'InterMedium';
                    font-size: 12px;
                    white-space: break-spaces;
                    margin: 0;
                }
            }
        }
    }
    .ant-collapse::-webkit-scrollbar {
        display: none;
    }
}
