.schema-container {
    width: calc(100% - 70px);
    position: absolute;
    padding: 1vw;
    min-width: 700px;
    height: 100%;
    
    .action-section{
        display: flex;
        margin-top: 25px;
        gap: 10px;
        justify-content: flex-end;
    }

    .schema-list {
        height: calc(95vh - 115px);
        width: 100%;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        overflow-y: auto;
        margin-right: 1vw;
        margin-top: 20px;
        gap: 16px;
        padding: 3px;
        .no-schema-to-display {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            justify-content: center;
            color: #A9A9A9;
            width: 100%;
            img {
                margin-bottom: 30px;
            }
            p {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
            }
            .sub-title {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 60px;
            }
        }
    }
}

.loader-uploading {
    position: absolute;
    max-height: calc(74%);
}

