.station-overview-header {
    width: calc(100);
    align-items: center;
    justify-content: space-between;
    .title-wrapper {
        display: flex;
        justify-content: space-between;
        height: 35px;
        .station-details {
            .station-name {
                margin-bottom: 5px;
                margin-right: 5px;
                display: flex;
                gap: 5px;
                h1{
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 24px;
                    margin: 0;
                }
                .tags-list {
                    justify-content: space-between;
                    margin-bottom: 0px;
                    margin-left: 10px;
                    margin-top: 4px;
                }
            }
            .created-by {
                color: #979797;
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
    .details {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        height: 85px;
        align-items: center;
        .main-details {
            font-size: 12px;
            width: 20vw;
            min-width: 370px;
            padding-left: 15px;
            background: #ffffff;
            box-shadow: 0px 23px 44px rgb(176 183 195 / 14%);
            border-radius: 8px;
            height: 100%;
            display: flex;
            justify-content:space-between;
            .left-side{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                margin:5px 0px;
                min-width: 102px;
                b{
                    font-family: 'InterSemiBold';
                }
            }
            .schema-details{
                background: #F0EFFF;
                border-radius: 5px;
                width: 60%;
                margin: 5px;
                padding:10px;
                max-width: 200px;
                 .add-new {
                    .use-schema-button{
                        display: flex;
                        align-items: center;
                        svg{
                            width: 17px;
                        }
                        p{
                            font-family: 'InterSemiBold';
                        }
                    }
                 }
                 .title-and-badge{
                    display: flex;
                    align-items:center;
                    .title{
                        font-size: 12px;
                        line-height:12px;
                        font-family: 'InterSemiBold';
                        margin-right: 10px;
                    }
                    .version-badge p{
                        font-size: 10px;
                    }
                 }
                 .name-and-version{
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    svg{
                        width: 6px;
                        margin: 0px 5px;
                    }
                 }
                 .buttons{
                    display: flex;
                    justify-content:space-between;
                 }
            }
            .sd-flex{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .version-badge{
                    height: 18px;
                }
            }
            .sd-center{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            p {
                margin-bottom: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
        .icons-wrapper {
            display: flex;
            height: 100%;
            position: relative;
            background: #ffffff;
            box-shadow: 0px 23px 44px rgb(176 183 195 / 14%);
            border-radius: 8px;
            width: 37.5vw;
            min-width: 400px;
            .details-wrapper {
                display: flex;
                width: 50%;
                height: 100%;
                justify-content: center;
                align-items: center;
                .icon {
                    width: 50px;
                    height: 50px;
                    background: rgba(101, 87, 255, 0.1);
                    box-shadow: 0px 0px 4px 3px rgba(204, 204, 204, 0.19);
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .more-details {
                    margin-left: 10px;
                    color: #1d1d1d;
                    width: 8vw;
                    min-width: 110px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    p {
                        margin: 0;
                        color: #b5b5b5;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                    }
                    .number {
                        color: #1d1d1d;
                        font-size: 16px;
                        line-height: 19px;
                        font-weight: 700;
                    }
                    .title {
                        font-size: 12px;
                        line-height: 24px;
                    }
                    .ant-progress-inner {
                        background-color: #e9e9e9;
                    }
                    .ant-progress-status-success .ant-progress-bg {
                        background-color: var(--purple);
                    }
                    .ant-progress-status-exception .ant-progress-bg {
                        background-color: var(--red);
                    }
                }
            }
            .average {
                cursor: pointer;
                border-left: 1px solid #f3f3f3;
            }
        }
        .info-buttons {
            display: flex;
            width: 20vw;
            min-width: 370px;
            height: 100%;
            background: #ffffff;
            box-shadow: 0px 23px 44px rgb(176 183 195 / 14%);
            border-radius: 8px;
            p {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
            }
            span {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 24px;
                color: var(--purple);
                cursor: pointer;
            }
            .sdk,
            .audit {
                width: 50%;
                height: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 10%;
            }
            .audit {
                border-left: 1px solid #f3f3f3;
            }
        }
        .info-buttons span:hover {
            opacity: 0.8;
        }
    }
}
.modal-wrapper {
    .audit-header {
        display: flex;
        .title {
            font-weight: 700;
            font-size: 18px;
            margin: 0;
        }
        .msg {
            display: flex;
            align-items: center;
            margin-left: 16px;
            color: #737373;
            svg {
                width: 11px;
                margin-right: 5px;
                height: 100%;
            }
            p {
                margin: 0;
                font-size: 10px;
                font-weight: 500;
            }
        }
    }
}

.sc-gsnTZi {
    background: white !important;
    width: 100% !important;
    span {
        background: white !important;
    }
    button {
        cursor: pointer !important;
        border: none !important;
        background: white !important;
    }
}
