.station-overview-header {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    .title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 35px;
        .station-details {
            .station-name {
                margin-bottom: 5px;
                margin-right: 5px;
                display: flex;
                gap: 5px;
                svg {
                    cursor: pointer;
                }

                .tags-list {
                    justify-content: space-between;
                    margin-bottom: 0px;
                    margin-left: 10px;
                    margin-top: 4px;
                }
            }
            .station-name-overlow {
                font-size: 24px;
                font-family: 'InterSemiBold';
                line-height: 24px;
                margin: 0 10px;
            }
            .created-by {
                color: #979797;
                font-size: 12px;
                font-family: 'Inter';
            }
        }
        .station-buttons {
            display: flex;
            gap: 10px;
            .station-actions {
                display: flex;
                height: 100%;
                align-items: center;
                .action {
                    border: 1px solid #d7d7d7;
                    border-radius: 5px;
                    width: 30px;
                    height: 30px;
                    justify-content: center;
                    cursor: pointer;
                    display: flex;
                    img,
                    svg {
                        width: 15px;
                    }
                }
                .action:hover {
                    border-color: var(--purple);
                }
            }
        }
    }
    .details {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        height: 85px;
        align-items: center;
        width: 100%;
        display: grid;
        grid-template-columns: 20% 55% 20%;
        .main-details {
            font-size: 12px;
            padding: 0 15px;
            background: #ffffff;
            border-radius: 8px;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            .left-side {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                margin: 5px 0px;
                min-width: 102px;
                width: 100%;
                b {
                    font-family: 'InterSemiBold';
                }
                .storage-section {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    div {
                        display: flex;
                        align-items: center;
                    }
                    span {
                        position: relative;
                        top: 1px;
                    }
                }
                .flex-details-wrapper {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    svg {
                        width: 14px;
                        height: 14px;
                        cursor: pointer;
                        color: #737373;
                    }
                }
            }

            p {
                margin-bottom: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
        .icons-wrapper {
            display: flex;
            height: 100%;
            display: grid;
            grid-template-columns: 33% 33% 33%;
            position: relative;
            background: #ffffff;
            border-radius: 8px;
            .details-wrapper {
                padding: 10px 10px 10px 10px;
                display: flex;
                min-width: 200px;
                height: 100%;
                justify-content: space-between;
                align-items: center;
                flex: 1;
                .icon {
                    width: 50px;
                    height: 50px;
                    background: rgba(101, 87, 255, 0.1);
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .more-details {
                    position: relative;
                    color: #1d1d1d;
                    padding-left: 10px;
                    width: calc(100% - 50px);
                    min-width: 110px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    gap: 5px;
                    .topRow {
                        display: flex;
                        flex-direction: row;
                        flex-grow: 1;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 10px;

                        .redirect {
                            cursor: pointer;
                        }
                    }
                    .midRow {
                        display: flex;
                        flex-direction: row;
                        flex-grow: 1;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 3px;
                        max-width: 95%;
                        position: relative;
                        .flex-section{
                            display: flex;
                            max-width: 60%;
                            align-items: center;
                            gap: 3px;
                            .tag {
                                margin: 0px;
                                color: #1d1d1d;
                                font-family: 'InterMedium';
                                font-size: 12px;
                                max-width: 85%;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                    .bottomRow {
                        display: flex;
                        direction: row;
                        gap: 5px;
                        justify-content: flex-start;
                        align-items: center;
                        .use-dls-button {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 3px;
                            p {
                                margin: 0px;
                            }
                        }
                    }
                    .title {
                        font-family: 'InterSemiBold';
                        font-size: 14px;
                        margin-bottom: 0;
                    }
                    .average-title {
                        font-size: 12px;
                        margin: 0;
                        color: #b5b5b5;
                        font-family: 'Inter';
                        font-size: 12px;
                    }
                    .number {
                        color: #1d1d1d;
                        font-size: 16px;
                        font-family: 'InterBold';
                        margin-bottom: 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .pointer .number{
                        max-width: 40%;
                    }

                    .number2 {
                        color: #1d1d1d;
                        font-family: 'Inter';
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        margin-bottom: 0;
                    }

                    .ant-progress-inner {
                        background-color: #e9e9e9;
                    }
                    .ant-progress-status-success .ant-progress-bg {
                        background-color: var(--purple);
                    }
                    .ant-progress-status-exception .ant-progress-bg {
                        background-color: var(--red);
                    }
                    .add-new {
                        margin-top: 3px;
                        .use-schema-button {
                            display: flex;
                            align-items: center;
                            svg {
                                width: 17px;
                            }
                            p {
                                font-family: 'InterSemiBold';
                                color: #ffffff;
                                margin-bottom: 0;
                            }
                        }
                    }
                    .buttons {
                        display: flex;
                        justify-content: space-between;
                        width: 165px;
                    }
                }
                .schema-box {
                    min-width: 160px;
                }
                .schema-header {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    svg {
                        cursor: pointer;
                    }
                    .schema-version {
                        display: flex;
                        .schema-title {
                            color: #000000;
                            font-size: 14px;
                            font-family: 'InterSemiBold';
                            margin-right: 5px;
                            margin-bottom: 0px;
                        }
                    }
                }
                .name-and-version {
                    font-size: 12px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    p {
                        margin-bottom: 0;
                        max-width: 80%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    svg {
                        width: 6px;
                        margin: 0px 5px;
                    }
                }
            }
            .middle {
                border-left: 1px solid #f3f3f3;
                border-right: 1px solid #f3f3f3;

                .redirect {
                    cursor: pointer;
                }
            }
            .pointer .number {
                cursor: pointer;
                width: fit-content;
            }
        }
        .info-buttons {
            display: flex;
            height: 100%;
            background: #ffffff;
            border-radius: 8px;
            p {
                font-family: 'InterSemiBold';
                font-size: 14px;
                line-height: 17px;
            }
            span {
                font-family: 'InterMedium';
                font-size: 12px;
                line-height: 24px;
                color: var(--purple);
                cursor: pointer;
            }
            .sdk,
            .audit {
                width: 50%;
                height: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 10%;
            }
            .audit {
                border-left: 1px solid #f3f3f3;
            }
        }
        .info-buttons span:hover {
            opacity: 0.8;
        }
    }
}
.modal-wrapper {
    .ant-modal-body {
        padding-top: 0px !important;
    }
    .tabs-headers {
        .ant-tabs-tab {
            color: rgba(28, 46, 69, 0.6);
            font-size: 14px;
            font-family: 'interMedium';
        }
        .ant-tabs-nav-wrap {
            padding-left: 15px !important;
        }
        .ant-tabs-top > .ant-tabs-nav {
            margin: 0;
        }
    }
    .audit-header {
        display: flex;
        .title {
            font-family: 'InterBold';
            font-size: 18px;
            margin: 0;
        }
        .msg {
            display: flex;
            align-items: center;
            margin-left: 16px;
            color: #737373;
            svg {
                width: 11px;
                margin-right: 5px;
                height: 100%;
            }
            p {
                margin: 0;
                font-size: 10px;
                font-family: 'InterMedium';
            }
        }
    }
}

.sc-gsnTZi {
    background: white !important;
    width: 100% !important;
    span {
        background: white !important;
    }
    button {
        cursor: pointer !important;
        border: none !important;
        background: white !important;
    }
}

.delete-modal-wrapper .desc .dls-name{
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    max-width: 100px;
    display: inline-flex;
}