.code-example-details-container {
    display: grid;
    grid-template-columns: 49% 2% 49%;
    justify-content: space-between;
    height: 100%;
    // height: calc(100% - 50px);
    margin-top: 15px;
    .ant-divider-vertical {
        height: 100%;
        margin: 0;
    }
    // gap: 10px;
    // // display: flex;
    // // flex-direction: column;
    // height: calc(100% - 50px);
    // font-family: 'Inter';
    // margin-top: 15px;
    .header-wrapper {
        p {
            font-family: 'InterSemiBold';
            font-size: 16px;
            margin: 0;
        }
        span {
            font-family: 'Inter';
            font-size: 12px;
            color: #84818a;
        }
    }
    .modal-header {
        .header-img-container {
            background: rgba(101, 87, 255, 0.1);
            height: 45px;
            width: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-right: 20px;
            margin-bottom: 15px;
            .headerImage {
                height: 25px;
                width: 25px;
            }
        }
        p {
            margin-bottom: 0;
            font-family: 'InterSemiBold';
        }
        label {
            font-family: 'Inter';
            font-weight: 400;
            font-size: 14px;
            color: #475467;
        }
    }
    .tabs-container {
        width: 150px;
        margin-left: 10px;
    }
    .ant-tabs-top > .ant-tabs-nav {
        margin-bottom: 0;
    }
    .ant-tabs-tab {
        font-size: 12px;
    }
    .field-title {
        font-family: 'InterMedium';
        font-size: 14px;
        margin-bottom: 5px;
    }
    .select-lan {
        display: flex;
        gap: 40px;
    }
    .installation {
        .generate-wrapper {
            display: flex;
            justify-content: space-between;
            .generate-action {
                display: flex;
                color: var(--purple);
                font-family: 'InterMedium';
                font-size: 14px;
                cursor: pointer;
                align-items: center;
                img {
                    margin-right: 4px;
                }
                :hover {
                    text-decoration: underline;
                }
            }
        }
        .install-copy {
            border: 1px solid var(--gray);
            box-sizing: border-box;
            border-radius: 4px;
            height: 42px;
            width: 480px;
            display: flex;
            align-items: center;
            padding: 0px 10px;
            justify-content: space-between;
            p {
                font-size: 14px;
                margin: 0;
            }
        }
    }
    .code-example {
        .code-content {
            border: 1px solid var(--gray);
            box-sizing: border-box;
            border-radius: 4px;
            height: 350px;
            overflow: auto;
            align-items: flex-start;
            display: flex;
            justify-content: space-evenly;
            padding-top: 10px;
            p {
                margin: 0;
                white-space: pre-line;
            }
            img {
                padding-top: 5px;
            }
        }
    }
    .guidline {
        border: 1px solid var(--gray);
        box-sizing: border-box;
        border-radius: 4px;
        height: 150px;
        display: flex;
        gap: 20px;
        align-items: center;
        img {
            width: 100px;
            margin-left: 10px;
        }
        .content {
            display: flex;
            flex-direction: column;
            width: 420px;
            gap: 5px;
            p {
                margin: 0;
                font-family: 'InterSemiBold';
                font-size: 18px;
                color: rgba(74, 73, 92, 0.8);
            }
            span {
                font-size: 12px;
                color: #84818a;
            }
            a {
                color: var(--purple);
                font-family: 'InterMedium';
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
    .ce-protoco {
        .code-content {
            height: 225px !important;
        }
        .produce {
            height: 200px !important;
        }
    }
    .code-builder {
        background-color: #efefef;
        border-radius: 12px;
        padding: 20px;
        margin: 0 20px 20px 0;
        .username-section {
            display: flex;
            justify-content: space-between;
            gap: 10px;
        }
    }
}
.generate-modal .ant-modal-body {
    padding-top: 0 !important;
}
