.code-example-details-container {
    display: grid;
    grid-template-columns: 49% 2% 49%;
    justify-content: space-between;
    height: 100%;
    margin-top: 15px;
    .generate-action {
        display: flex;
        color: var(--purple);
        font-family: 'InterMedium';
        font-size: 14px;
        cursor: pointer;
        align-items: center;
        img {
            margin-right: 4px;
        }
        :hover {
            text-decoration: underline;
        }
    }
    .code-generator-container {
        height: 540px;
        overflow-y: auto;
        .code-builder {
            background-color: #efefef;
            border-radius: 12px;
            padding: 20px;
            margin: 0px 20px 20px 0;
            .ant-collapse-header {
                padding: 0;
                flex-direction: row-reverse;
            }
            .collapse-title {
                font-size: 18px;
                font-weight: 600;
                margin: 0;
            }
            .collapse-description {
                font-size: 14px;
                font-weight: 400;
                color: #84818a;
            }
            .username-section {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                gap: 10px;
                .remove-icon {
                    margin-bottom: 20px;
                    cursor: pointer;
                }
            }
            .ant-divider-horizontal {
                margin: 10px 0px 0px 0px;
            }
            .ant-form-item {
                margin-bottom: 10px;
            }
            .title-container {
                margin-top: 10px;
            }
        }
    }
    .ant-divider-vertical {
        height: 100%;
        margin: 0;
    }
    .header-wrapper {
        p {
            font-family: 'InterSemiBold';
            font-size: 16px;
            margin: 0;
        }
        span {
            font-family: 'Inter';
            font-size: 12px;
            color: #84818a;
        }
    }
    .segment-button-wrapper {
        margin: 10px 0px;
    }
    .modal-header {
        .header-img-container {
            background: rgba(101, 87, 255, 0.1);
            height: 45px;
            width: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-right: 20px;
            margin-bottom: 15px;
            .headerImage {
                height: 25px;
                width: 25px;
            }
        }
        p {
            margin-bottom: 0;
            font-family: 'InterSemiBold';
        }
        label {
            font-family: 'Inter';
            font-weight: 400;
            font-size: 14px;
            color: #475467;
        }
    }
    .tabs-container {
        width: 150px;
        margin-left: 10px;
    }
    .ant-tabs-top > .ant-tabs-nav {
        margin-bottom: 0;
    }
    .ant-tabs-tab {
        font-size: 12px;
    }
    .field-title {
        font-family: 'InterMedium';
        font-size: 14px;
        margin-bottom: 5px;
    }
    .select-lan {
        display: flex;
        gap: 10px;
        margin: 10px 0px;
    }
    .installation {
        margin: 10px 0px;
        .generate-wrapper {
            display: flex;
            justify-content: space-between;
        }
        .install-copy {
            border: 1px solid var(--gray);
            box-sizing: border-box;
            border-radius: 4px;
            height: 42px;
            width: 480px;
            display: flex;
            align-items: center;
            padding: 0px 10px;
            justify-content: space-between;
            p {
                font-size: 14px;
                margin: 0;
            }
        }
    }
    .code-example {
        height: 100%;
        position: relative;
        .code-content {
            border: 1px solid var(--gray);
            box-sizing: border-box;
            border-radius: 4px;
            // height: 350px;
            height: 540px;
            overflow: auto;
            align-items: flex-start;
            display: flex;
            justify-content: space-evenly;
            padding-top: 10px;
            p {
                margin: 0;
                white-space: pre-line;
            }
            img {
                padding-top: 5px;
            }
        }
    }
    .ant-collapse-content-box {
        padding: 0px !important;
    }
    .guidline {
        border: 1px solid var(--gray);
        box-sizing: border-box;
        border-radius: 4px;
        // height: 150px;
        height: calc(100% - 400px);
        display: flex;
        gap: 20px;
        align-items: center;
        padding-right: 10px;
        img {
            width: 100px;
            margin-left: 10px;
        }
        .content {
            display: flex;
            flex-direction: column;
            width: 420px;
            // gap: 5px;
            gap: 20px;
            p {
                margin: 0;
                font-family: 'InterSemiBold';
                font-size: 18px;
                color: rgba(74, 73, 92, 0.8);
            }
            span {
                font-size: 12px;
                color: #84818a;
            }
            a {
                color: var(--purple);
                font-family: 'InterMedium';
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
    .ce-protoco {
        .code-content {
            height: 225px !important;
        }
        .produce {
            height: 200px !important;
        }
    }

    .code-output-title {
        border-radius: 8px;
        background: rgba(101, 87, 255, 0.1);
        padding: 15px 20px;
        margin-top: 40px;
        margin-bottom: 20px;
        p {
            margin-bottom: 5px;
            color: #6557ff;
            font-family: 'InterSemiBold';
            font-size: 16px;
        }
    }
}
.generate-modal .ant-modal-body {
    padding-top: 0 !important;
}
