.function-container {
    width: calc(100% - 90px);
    position: absolute;
    padding: 1vw;
    min-width: 700px;
    height: 100%;
    .button-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }
    .header-flex-wrapper {
        display: flex;
        gap: 10px;
        .integrated-wrapper {
            display: flex;
            padding: 3px 10px;
            align-items: center;
            gap: 6px;
            font-size: 14px;
            font-family: 'InterMedium';
            svg {
                width: 15px;
                height: 15px;
            }
        }
    }
    .action-section {
        display: flex;
        gap: 10px;
        justify-content: flex-end;
    }

    .function-list {
        height: calc(95vh - 140px);
        width: 100%;
        position: relative;
        display: inline-flex;
        overflow-y: auto;
        margin-right: 1vw;
        margin-top: 20px;
        gap: 16px;
        padding: 3px;
        align-content: flex-start;
        flex-wrap: wrap;

        .cards-wrapper {
            width: 100%;
            // height: 100%;
            // // display: grid;
            // // grid-template-columns: repeat(auto-fill, 320px);
            // // grid-auto-rows: 210px;
            // // gap: 15px;
            // align-items: center;
            overflow-y: auto;
        }
        .no-function-to-display {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            justify-content: center;
            width: 100%;
            svg {
                margin-bottom: 30px;
            }
            .title {
                color: #1d1d1d;
                font-family: 'InterSemiBold';
                font-size: 24px;
                line-height: 22px;
            }
            .sub-title {
                font-family: 'Inter';
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 30px;
                color: #8f8f8f;
            }
        }
        .ant-checkbox-wrapper {
            position: absolute;
            padding-top: 22px;
            padding-left: 20px;
        }
    }
    .panel-header {
        font-family: 'InterSemiBold';
        font-size: 18px;
    }
    .ant-collapse {
        background-color: transparent;
        border: 0px;
    }
    .ant-collapse-item {
        border: 0px;
        background-color: transparent;
    }
    .ant-collapse-content {
        background-color: transparent;
        border: 0px;
    }
    .ant-collapse-content-box {
        padding: 0;
    }
    .ant-collapse-header {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}

.loader-uploading {
    position: absolute;
    max-height: calc(74%);
}

.ant-drawer-header {
    border-bottom-color: #ececec;
}
