.function-container {
    width: calc(100% - 90px);
    position: absolute;
    padding: 1vw;
    min-width: 700px;
    height: 100%;

    connectedRepos {
        display: flex;
        width: 240px;
        height: 34px;
        padding: 5px 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 32px;
        background: #ffff;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        svg {
            height: 15px;
            width: 15px;
        }
        .ant-divider-vertical {
            margin: 0;
        }
        label {
            font-family: InterSemiBold;
            cursor: pointer;
            font-size: 12px;
        }
    }
    .button-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }
    .header-flex-wrapper {
        display: flex;
        gap: 10px;
        .integrated-wrapper {
            display: flex;
            padding: 3px 10px;
            align-items: center;
            gap: 6px;
            font-size: 14px;
            font-family: 'InterMedium';
            svg {
                width: 15px;
                height: 15px;
            }
        }
    }
    .action-section {
        display: flex;
        gap: 10px;
        justify-content: flex-end;
    }
    .function-list-collapse {
        width: 100%;
    }
    .function-list {
        height: calc(95vh - 160px);
        width: 100%;
        position: relative;
        display: inline-flex;
        overflow-y: auto;
        margin-right: 1vw;
        margin-top: 20px;
        gap: 16px;
        padding: 3px;
        align-content: flex-start;
        flex-wrap: wrap;

        .cards-wrapper {
            width: 100%;
            overflow-y: auto;
        }
        .no-function-to-display {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            justify-content: center;
            width: 100%;
            svg {
                margin-bottom: 30px;
            }
            .title {
                color: #1d1d1d;
                font-family: 'InterSemiBold';
                font-size: 24px;
                line-height: 22px;
            }
            .sub-title {
                font-family: 'Inter';
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 30px;
                color: #8f8f8f;
            }
        }
        .ant-checkbox-wrapper {
            position: absolute;
            padding-top: 22px;
            padding-left: 20px;
        }
    }
    .panel-header {
        font-family: 'InterSemiBold';
        font-size: 18px;
    }
    .ant-collapse-content-box {
        padding: 0;
    }
    .ant-collapse-header {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}

.loader-uploading {
    position: absolute;
    max-height: calc(74%);
}

.ant-drawer-header {
    border-bottom-color: #ececec;
}
.repos-popover {
    width: 260px;
    margin-top: 10px;
    cursor: pointer;
}
.repo-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.git-refresh-title {
    margin: 5px 0px;
    cursor: pointer;
    label {
        cursor: pointer;
    }
}
.git-repo {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-family: 'InterSemiBold';
    size: 14px;
    cursor: pointer;
}
.git-repos-list {
    .filtered {
        border-radius: 50%;
        border: 1px solid #6557ff;
    }
    .git-repos-item {
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px 15px;
        .left-section {
            display: flex;
            align-items: center;
            gap: 10px;
            .repo-item-icon {
                height: 25px;
                width: 25px;
            }
            .last-modified {
                color: #818c99;
                font-size: 10px;
                font-style: normal;
                cursor: pointer;
            }
        }
    }
    .ant-divider-horizontal {
        margin: 0px;
    }

    .collapse-arrow {
        transform: rotate(180deg);
    }
    .open {
        transform: rotate(0deg);
    }
}
