.side-step-container {
    margin-left: 40px;
    margin-right: 20px;
    position: relative;
    width: 82%;
    .sidebar-image {
        height: 20px;
        width: 20px;
    }
    .side-step-header {
        display: flex;
        .step-name-completed {
            display: flex;
            align-items: center;
            .step-name {
                font-family: 'InterSemiBold';
                font-size: 15px;
                margin-bottom: 0px;
                padding-left: 10px;
            }
            .completed {
                margin-left: 5px;
                height: 15px;
                width: 15px;
            }
        }
    }
    .side-step-body {
        margin-left: 12px;
        margin-top: 10px;
        .step-description {
            padding-left: 20px;
            font-family: 'Inter';
            font-size: 14px;
            color: #667085;
            a {
                color: #6557ff;
                cursor: pointer;
            }
        }
    }
    .border {
        border-left: 1px solid rgba(74, 73, 92, 0.2);
        height: calc(100% - 50px);
    }
    .border-completed {
        border-left: 1px solid #6557ff;
        height: calc(100% - 50px);
    }
}
.cursor-allowed {
    cursor: pointer;
}
