.tags-list-wrapper {
    display: flex;
    align-items: center;
    margin-left: 5px;
    .edit-tags {
        // background-color: #f0f1f2;
        background-color: rgba(132, 129, 138, 0.1);
        padding-right: 5px;
        border-style: solid;
        border-color: transparent;
        border-width: thin;
        padding-left: 5px;
        border-radius: 4px;
        height: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        svg {
            width: 18px;
        }
        p {
            font-family: 'InterSemiBold';
            font-size: 12px;
            line-height: 12px;
            margin-top: 50%;
            margin-bottom: 50%;
        }
    }
    .tag-wrapper {
        border-radius: 4px;
        height: 20px;
        display: flex;
        align-items: center;
    }
    .plus-tag-wrapper {
        padding-right: 5px;
        padding-left: 5px;
        border-radius: 4px;
        height: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .space {
        padding-right: 2px;
    }
}
