.ant-popover {
    padding-top: 0;
}

.ant-popover-inner {
    width: 280px !important;
    border-radius: 8px;
}
.filter-counter {
    background: #6557ff;
    color: white;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    font-size: 10px;
    border-radius: 50%;
}
.filter-container {
    height: 40px;
    width: 115px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 32px;
    font-size: 14px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
    cursor: pointer;

    .filter-counter {
        background: #6557ff;
        color: white;
        height: 16px;
        width: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        font-size: 10px;
        border-radius: 50%;
    }
}

.custom-collapse-filter {
    .ant-divider-horizontal {
        margin-top: 10px;
        margin-bottom: 0;
    }
    .collapse-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 600;
        .header-name-counter {
            display: flex;
            align-items: center;
        }
        .clear {
            color: #6557ff;
            cursor: pointer;
            font-size: 13px;
        }
        .clear:hover {
            text-decoration: underline;
        }
    }
    .ant-collapse-header {
        padding: 0 !important;
    }
    .ant-collapse-content-box {
        max-height: 135px;
        overflow-y: scroll;
    }
    .filter-header {
        margin-bottom: 5px;
        margin-top: 5px;
        .title {
            font-family: 'InterSemiBold';
            font-size: 14px;
            color: #2e2c34;
            margin-bottom: 0;
            margin-right: 10px;
        }
        .collapse-arrow {
            transition: transform 0.4s;
        }
        .open {
            transform: rotate(180deg);
        }
    }
    .ant-collapse-content-box {
        padding: 0 !important;
        padding-top: 5px !important;
    }
    .label-container {
        margin-bottom: 10px;
        .ant-tag {
            padding: 0px 6px 0px 6px;
            margin-left: 8px;
            font-family: 'InterSemiBold';
            border-radius: 4px;
        }
    }
    .date-container {
        margin-bottom: 5px;
        label {
            font-size: 11px;
        }
    }
    .circle-container {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        font-size: 13px;

        .circle-letter {
            font-family: 'InterSemiBold';
            font-size: 13px;
            border-radius: 50%;
            width: 22px;
            align-items: center;
            margin-bottom: 0;
            text-align: center;
            margin-right: 5px;
            margin-left: 8px;
        }
    }
    .default-checkbox {
        margin-bottom: 8px;
        label {
            margin-left: 8px;
        }
    }
    .collapse-footer {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
    }
    .show-more {
        color: #6557ff;
        font-size: 12px;
        font-family: 'InterSemiBold';
        cursor: pointer;
    }
}
