.ant-popover {
    padding-top: 0;
}

.ant-popover-inner {
    border-radius: 8px;
}
.filter-counter {
    background: #6557ff;
    color: white;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    border-radius: 50%;
}
.filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .filter-title {
        cursor: pointer;
        margin-right: 5px;
    }
}

.custom-collapse-filter {
    width: 280px !important;
    padding: 20px 0px 20px 0px;
    .divider-container {
        margin-left: 20px;
        margin-right: 20px;
        .ant-divider-horizontal {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .collapse-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 16px;
        font-weight: 600;
        .header-name-counter {
            display: flex;
            align-items: center;
            label {
                margin-right: 5px;
            }
        }
        .clear {
            color: #6557ff;
            cursor: pointer;
            font-size: 12px;
            font-family: 'InterMedium';
        }
        .clear:hover {
            text-decoration: underline;
        }
    }
    .ant-collapse-header {
        padding: 0 !important;
    }
    .ant-collapse-content-box {
        max-height: 135px;
        overflow-y: scroll;
    }
    .filter-header {
        margin-bottom: 8px;
        margin-top: 8px;
        padding-left: 20px;
        padding-right: 20px;
        cursor: pointer;
        .title {
            font-family: 'InterMedium';
            font-size: 14px;
            color: #2e2c34;
            margin-bottom: 0;
            margin-right: 10px;
        }
        .collapse-arrow {
            transition: transform 0.4s;
        }
        .open {
            transform: rotate(180deg);
        }
    }
    .ant-collapse-content-box {
        padding: 0 !important;
        .tag-container {
            padding: 10px 20px 10px 20px;
        }
        .tag-container-gray {
            background: #fbfbfb;
        }
    }
    .label-container {
        display: flex;
        padding-bottom: 10px;
        .tag-wrapper {
            height: 22px;
            margin-left: 10px;
        }
        .ant-tag {
            padding: 0px 6px 0px 6px;
            margin-left: 8px;
            font-family: 'InterSemiBold';
            border-radius: 4px;
        }
    }
    .date-container {
        margin-bottom: 5px;
        label {
            font-size: 11px;
        }
    }
    .circle-container {
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        font-size: 13px;

        .circle-letter {
            font-family: 'InterSemiBold';
            font-size: 13px;
            border-radius: 50%;
            width: 22px;
            align-items: center;
            margin-bottom: 0;
            text-align: center;
            margin-right: 5px;
            margin-left: 8px;
        }
    }
    .default-checkbox {
        margin-bottom: 8px;
        label {
            margin-left: 8px;
        }
    }
    .collapse-footer {
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
    }
    .show-more {
        color: #6557ff;
        font-size: 12px;
        font-family: 'InterSemiBold';
        cursor: pointer;
        margin-bottom: 0;
    }
}
.ant-checkbox-wrapper {
    margin: 0 !important;
}
