.get-started-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;

    .get-started-bg-img {
        height: 400px;
        position: absolute;
        right: 0;
        top: 40px;
    }
    .get-started-bg-img-bottom {
        height: 200px;
        position: absolute;
        left: 20px;
        bottom: 20px;
    }
    .get-started-top {
        height: calc(100% - 120px);
        width: 75%;
        position: relative;
        // padding: 60px 0px 0px 60px;
        padding-left: 60px;
        .get-started-top-header {
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .header-image {
                height: 45px;
                width: 50px;
            }
            .header-title {
                font-weight: 600;
                font-size: 24px;
                margin-top: 10px;
                margin-bottom: 0px;
            }
            .header-description {
                font-weight: 400;
                font-size: 12px;
                color: #b4b4b4;
            }
        }
        .finish {
            margin-top: 40%;
        }
        .get-started-header {
            padding-left: 3px;
            height: 60px;
        }
        .get-started-body {
            height: calc(100% - 150px);
            padding-top: 30px;
            padding-left: 3px;
            overflow-y: auto;
            position: relative;
        }
        .finish {
            height: 8vw;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .get-started-footer {
        height: 100px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #e9e9e9;
        margin-left: 60px;
        margin-right: 60px;
    }
}
