.sys-components-container {
    height: 47.5%;
    padding: 15px;
    min-width: 280px;
    min-height: 250px;
    p {
        margin-bottom: 0px;
        padding-right: 5px;
    }
    .sys-components-header {
        margin-top: 15px;
        color: #979797;
        display: grid;
        grid-template-columns: 35% 20% 25% 20%;
        padding-bottom: 10px;
        height: 30px;
    }
    .component-list {
        overflow-y: scroll;
        height: calc(100% - 90px);
        .sys-components {
            display: grid;
            grid-template-columns: 35% 20% 25% 20%;
            padding-top: 7px;
            padding-bottom: 7px;
            align-items: center;
        }
    }
    .pods-container {
        display: flex;
        align-items: center;
    }
    .overview-components-header {
        align-items: center;
        font-size: 16px;
        font-family: 'InterSemiBold';
        height: 25px;
        margin-bottom: 0;
    }
    .plus-ports {
        background-color: rgba(132, 129, 138, 0.1);
        width: 40px;
        border-radius: 4px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        p {
            font-family: 'InterSemiBold';
            font-size: 12px;
            color: #2e2c34;
        }
        .add {
            height: 14px;
            width: 14px;
            cursor: pointer;
            display: flex;
            color: #2e2c34;
        }
    }
}
.port-popover {
    margin: 3px 0px 3px 0px;
}
