.poison-message {
    position: relative;
    width: 100%;
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 23px 44px rgba(176, 183, 195, 0.14);
    border-radius: 8px;
    padding: 14px;
    header {
        p {
            font-size: 14px;
            font-family: 'InterSemiBold';
            margin-bottom: 10px;
        }
        .btn-row {
            display: flex;
            width: 175px;
            justify-content: space-between;
        }
    }
    .content-wrapper {
        margin-top: 20px;
        .ant-space {
            width: 100%;
            .ant-collapse-content-box {
                max-height: 290px;
                overflow: auto;
                overflow-wrap: break-word;
            }
        }
    }
}
