.functions-container {
    display: flex;
    min-height: 450px;
    height: 55vh;

    .function-list-section {
        width: 70%;
        border: 1px #e9e9e9;
        border-style: solid none solid none;
        // overflow-y: scroll;
    }
    .function-details-section {
        width: 30%;
        border: 1px #e9e9e9;
        border-style: solid none solid solid;
        overflow-y: scroll;
    }
}

.chosen-func-container {
    background: #f8f9fd;
    margin: 30px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
}

.functions-modal-header {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-right: 30px;
    .factory-name {
        font-weight: 600;
        font-size: 24px;
        margin-left: 30px;
    }
    .visit-hub {
        color: #5a4fe5;
        font-weight: 600;
        cursor: pointer;
    }
    img.seperator {
        margin-right: 10px;
        margin-left: 10px;
    }
    .sign-in-hub {
        margin-right: 30px;
        color: #5a4fe5;
        font-weight: 600;
        cursor: pointer;
    }
    .connected {
        margin-left: 10px;
    }

    .pointer {
        cursor: pointer;
    }
}

.func-btn-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 190px;
    margin-right: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
