.schema-item-container{
    padding: 15px;
    border-bottom: 1px solid #EFEFEF;
    p{
        margin: 0;
    }
    .name-wrapper{
        display: flex;
        .name{
            font-family: 'InterSemiBold';
            font-size: 14px;
        }
        img{
            width: 18px;
            margin-right: 10px;
        }
    }
    .details{
        margin-left: 28px;
        display: flex;
        align-items: center;
        p{
            color: rgba(74,73,92,0.6);
            font-size: 12px;
        }
        svg{
            width: 10px;
            margin: 0px 10px;
            color: rgba(74,73,92,0.8);
        }
    }
}