.tag-wrapper {
    height: 24px;
    display: flex;
    max-width: 100px;
    min-width: 45px;
    align-items: center;
    padding: 5px;
    justify-content: center;
    border: 2px solid;
    .tag-content {
        font-family: 'InterSemiBold';
        font-size: 12px;
        line-height: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .close {
        display: flex;
        height: 10px;
        width: 10px;
        cursor: pointer;
    }
}
