.tag-wrapper{
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 4px;
  height: 24px;
  display: flex;
  align-items: center;
  p{
    font-family: 'InterSemiBold';
    font-size: 12px;
    line-height: 12px;
  }
}