.create-station-form-getstarted {
    .field-title {
        display: flex;
        font-weight: 400;
        font-size: 12px;
        margin: 0;
    }
    .storage-replicas-container {
        display: flex;
        width: 100%;
    }

    .header-getstarted-form {
        width: 168px;
        height: 29px;
        margin-top: 26px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;

        color: #1d1d1d;
    }

    .get-started-icon {
        margin-top: 39px;
        margin-left: 49px;
    }

    .field-description {
        font-weight: 400;
        font-size: 12px;
        color: #b4b4b4;
        margin-top: 5px;
    }

    .ant-form-item {
        .ant-form-item-control {
            .ant-form-item-control-input {
                .ant-form-item-control-input-content {
                    .radio-button {
                        .ant-radio-group {
                            .ant-radio-button-wrapper {
                                border-radius: 32px;
                                text-align: center;
                                margin-right: 5px;
                                color: #808191;
                                content: normal;
                                border-left-width: 1px;
                            }

                            .ant-radio-button-wrapper:first-child {
                                text-align: center;
                            }

                            .ant-radio-button-wrapper > .ant-radio-button {
                                border-radius: 32px;
                                color: #808191;
                            }

                            .ant-radio-button-wrapper-checked {
                                color: white;
                                background-color: #6557ff;
                                border-color: #6557ff;
                            }
                            .ant-radio-button-wrapper:not(:first-child)::before {
                                content: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .time-value {
        display: flex;
        margin-top: 15px;
        .days-section,
        .hours-section,
        .minutes-section,
        .seconds-section {
            text-align: center;

            p {
                font-size: 11px;
                font-weight: 400;
                line-height: 23px;
            }
        }
        .separator {
            margin: 3px 5px 0px 5px;
            font-size: 14px;
            font-weight: bold;
            line-height: 23px;
            color: var(--gray);
        }
    }

    //input-number
    .ant-input-number {
        width: 60px;
        height: 38px;
        border-radius: 4px;
        border: 1px solid var(--gray);
    }
    .ant-input-number-input {
        height: 38px;
    }
    .ant-input-number-focused {
        box-shadow: unset;
    }
    .ant-input-number-handler {
        border-left: none;
    }
    .ant-input-number-handler-wrap {
        opacity: 1;
    }
    .ant-form-item {
        margin-bottom: 10px;
    }

    .retention-type {
        display: flex;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 34px;
        p {
            margin-left: 5px;
            margin-bottom: 10px;
        }
    }
}
