.schema-container {
    width: calc(100% - 90px);
    position: absolute;
    padding: 1vw;
    min-width: 700px;
    height: 100%;

    .action-section {
        display: flex;
        gap: 10px;
        justify-content: flex-end;
    }

    .schema-list {
        height: calc(95vh - 80px);
        width: 100%;
        position: relative;
        display: inline-flex;
        overflow-y: auto;
        margin-right: 1vw;
        margin-top: 20px;
        gap: 16px;
        padding: 3px;
        align-content: flex-start;
        flex-wrap: wrap;
        .no-schema-to-display {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            justify-content: center;
            width: 100%;
            svg {
                margin-bottom: 30px;
            }
            .title {
                color: #1d1d1d;
                font-family: 'InterSemiBold';
                font-size: 24px;
                line-height: 22px;
            }
            .sub-title {
                font-family: 'Inter';
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 30px;
                color: #8f8f8f;
            }
        }
        .ant-checkbox-wrapper {
            position: absolute;
            padding-top: 22px;
            padding-left: 20px;
        }
    }
}

.loader-uploading {
    position: absolute;
    max-height: calc(74%);
}

.ant-drawer-header {
    border-bottom-color: #ececec;
}
