.alerts-integrations-container {
    .integration-list{
        height: calc(95vh - 150px);
        width: 100%;
        position: relative;
        display: inline-flex;
        overflow-y: auto;
        margin-right: 1vw;
        margin-top: 20px;
        gap: 20px;
        padding: 3px;
        align-content: flex-start;
        flex-wrap: wrap;
    }
}
