.ms-function-details-modal {
    .modal-header {
        label {
            color: #475467;
            font-family: 'Inter';
            font-size: 14px;
        }
    }
    .ant-modal-body {
        padding: 0 0 20px 0;
        display: flex;
        flex-direction: column;
    }
}

.messages-container {
    flex: 0 0 36%;
    height: 71vh;
    min-height: 580px;
    box-shadow: 0px 0px 4px 3px rgba(204, 204, 204, 0.19);
    border-radius: 8px;
    background: white;
    position: relative;
    .ant-divider-horizontal {
        margin: 5px 0;
    }
    .top {
        padding: 12px 22px;

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .left {
            display: flex;
            align-items: center;
        }

        &-desc {
            margin-top: 7px;
            color: #737373;
            font-family: 'Inter';
            font-size: 14px;
            width: 70%;
            max-height: 36px;
            overflow: hidden;
            line-height: 18px;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        &-title {
            color: var(--Black, #171717);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-right: 6px;
        }

        &-switcher {
            border-radius: 32px;
            background: var(--colors-black-alpha-05, rgba(18, 18, 18, 0.05));
            display: inline-flex;
            padding: 4px 2px;
            align-items: flex-start;
            flex-shrink: 0;
            label {
                cursor: pointer;
            }
            .badge {
                color: #f5f5f5;
                border-radius: 32px;
                padding: 2px 10px;
                margin-top: 2px;
                margin-left: 5px;
                font-size: 10px;
                font-family: 'InterSemiBold';
                background: var(--purple);
                cursor: pointer;
            }
            &-btn {
                padding: 4px 12px;
                color: var(--colors-grey-950, #09090b);
                text-align: center;
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px; /* 142.857% */
                cursor: pointer;
                transition: all 0.2s linear;

                &.ms-active {
                    border-radius: 32px;
                    background: var(--colors-white-white, #fff);
                    /* Segment/selected */
                    box-shadow: 0px 1px 3px 0px rgba(11, 19, 36, 0.1), 0px 1px 1px 0px rgba(11, 19, 36, 0.1);
                    font-weight: 600;
                }
                &.disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
        }
    }

    .tab {
        &-general {
            height: calc(100% - 72px);
        }

        &-functions {
            height: calc(100% - 72px);
            width: 100%;
            position: relative;

            .ant-tabs-tab:hover {
                color: var(--purple) !important;
            }
        }
    }

    .header {
        padding: 0 15px 0 15px;
        display: flex;
        line-height: 40px;
        justify-content: space-between;
        gap: 5px;
        align-items: center;

        .left-side {
            display: flex;
            flex-direction: column;
            gap: 5px;
            max-width: 410px;

            .title {
                font-family: 'InterSemiBold';
                font-size: 14px;
                line-height: 14px;
                margin: 0;
            }

            .messages-amount {
                display: flex;
                line-height: 10px;
                color: #737373;
                align-items: center;

                svg {
                    width: 11px;
                    margin-right: 5px;
                    height: 100%;
                }

                p {
                    margin: 0;
                    font-size: 10px;
                    font-family: 'InterMedium';
                    max-width: 220px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    display: inline-block;
                }
            }
        }

        .right-side {
            position: relative;
            display: flex;
            gap: 5px;
        }

        .add-functions-button {
            cursor: pointer;
            color: var(--purple);
            font-family: 'InterSemiBold';
            font-size: 12px;
        }
    }

    .tabs {
        .ant-tabs-tab {
            color: rgba(28, 46, 69, 0.6);
            font-size: 12px;
            font-family: 'InterMedium';
        }

        .ant-tabs-nav-wrap {
            padding-left: 15px !important;
        }

        .ant-tabs-top > .ant-tabs-nav {
            margin: 0;
        }
    }

    .msg-list {
        // height: calc(100% - 105px);
        height: calc(100% - 85px);
    }

    .dls-list {
        height: calc(100% - 145px);
    }

    .list-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        .loading {
            display: flex;
            justify-content: center;
            padding-top: 50px;
        }

        .coulmns-table {
            border-bottom: 1px solid #e9e9e9;
            color: #737373;
            font-size: 12px;
            font-family: 'InterMedium';
            line-height: 40px;
            display: grid;
            grid-template-columns: 20% 40% 40%;
            padding-left: 40px;
            span {
                display: flex;
            }
            p {
                margin: 0;
            }
            svg {
                color: #737373;
                width: 11px;
                margin-left: 5px;
                height: 100%;
                cursor: pointer;
            }
        }
        .rows-wrapper {
            position: relative;
            width: 100%;
            overflow: auto;
            border-right: 1px solid #e9e9e9;

            .row-message {
                height: 35px;
                color: #1d1d1d;
                align-items: center;
                font-family: 'Inter';
                font-size: 12px;
                padding-left: 8px;
                display: flex;
                width: 98%;
                margin-left: 1%;
                margin-top: 2px;
                padding-left: 35px;
                padding-right: 4px;
                border-radius: 5px;
                cursor: pointer;
                position: relative;

                .ant-checkbox-wrapper {
                    margin-right: 10px !important;
                    margin-left: 3px !important;
                }

                .preview-message {
                    min-width: 114px;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    cursor: pointer !important;
                    display: grid;
                    grid-template-columns: 20% 40% 40%;
                    .label {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }

            .selected {
                background: #efeefd !important;
            }

            .empty-messages {
                display: flex;
                width: 95%;
                height: 100%;
                position: relative;
                align-items: center;
                justify-content: center;

                p {
                    margin: 0;
                    color: var(--gray);
                    font-family: 'InterSemiBold';
                    font-size: 16px;
                }
            }
        }

        .rows-wrapper::-webkit-scrollbar {
            display: none;
        }

        .even .row-message {
            background-color: #f8f8f8;
            border-radius: 5px;
        }

        .hr-selected {
            background: #6557ff;
            border-radius: 0px 8px 8px 0px;
            position: absolute;
            height: 100%;
            width: 5px;
            top: 0;
            left: -12px;
        }

        .check-box-message {
            position: absolute;
            z-index: 2;
            padding-top: 6px;
            padding-left: 15px;
        }
    }

    .empty-messages {
        display: flex;
        width: 95%;
        height: calc(100% - 100px);
        position: relative;
        align-items: center;
        justify-content: center;

        p {
            margin: 0;
            color: var(--gray);
            font-family: 'InterSemiBold';
            font-size: 16px;
        }
    }

    .details {
        padding: 4% 6% 4% 4%;
        margin-left: 2.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100% - 60px);
        overflow: scroll;
    }
    .use-dls-button {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 3px;

        p {
            margin: 0px;
        }
    }
}
