.messages-container {
    min-width: 470px;
    width: 40vw;
    height: 73vh;
    min-height: 550px;
    box-shadow: 0px 0px 4px 3px rgba(204, 204, 204, 0.19);
    border-radius: 8px;
    background: white;
    position: relative;
    .header {
        padding: 15px 15px 0px 15px;
        display: flex;
        line-height: 40px;
        justify-content: space-between;
        gap: 5px;
        align-items: center;
        .left-side {
            display: flex;
            max-width: 410px;
            align-items: center;
            .title {
                font-family: 'InterSemiBold';
                font-size: 14px;
                margin: 0;
            }
            .messages-amount {
                display: flex;
                margin-left: 5px;
                color: #737373;
                align-items: center;
                svg {
                    width: 11px;
                    margin-right: 5px;
                    height: 100%;
                }
                p {
                    margin: 0;
                    font-size: 10px;
                    font-family: 'InterMedium';
                    max-width: 220px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    display: inline-block;
                }
            }
        }
        .right-side {
            position: relative;
            display: flex;
            gap: 5px;
        }
        .add-functions-button {
            cursor: pointer;
            color: var(--purple);
            font-family: 'InterSemiBold';
            font-size: 12px;
        }
    }
    .tabs {
        .ant-tabs-tab {
            color: rgba(28, 46, 69, 0.6);
            font-size: 12px;
            font-family: 'InterMedium';
        }
        .ant-tabs-nav-wrap {
            padding-left: 15px !important;
        }
        .ant-tabs-top > .ant-tabs-nav {
            margin: 0;
        }
    }
    .msg-list {
        height: calc(100% - 105px);
    }

    .dls-list {
        height: calc(100% - 145px);
    }

    .list-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        .coulmns-table {
            border-bottom: 1px solid #e9e9e9;
            display: flex;
            color: #737373;
            font-size: 12px;
            font-family: 'InterMedium';
            line-height: 40px;
            justify-content: flex-end;
            p {
                margin: 0;
            }
            .left-coulmn-wrapper {
                width: 40%;
                display: flex;
                justify-content: center;
                svg {
                    color: #737373;
                    width: 11px;
                    margin-left: 5px;
                    height: 100%;
                    cursor: pointer;
                }
            }
            .right-coulmn {
                width: 60%;
                display: flex;
                justify-content: center;
            }
        }
        .list {
            position: relative;
            height: calc(100% - 40px);
            min-width: 225px;
            display: flex;

            .rows-wrapper {
                position: relative;
                height: calc(100%);
                width: 40%;
                overflow: auto;
                border-right: 1px solid #e9e9e9;
                .row-message {
                    width: 100%;
                    height: 35px;
                    display: flex;
                    color: #1d1d1d;
                    align-items: center;
                    font-family: 'Inter';
                    font-size: 12px;
                    padding-left: 8px;
                    display: flex;
                    width: 96%;
                    margin-left: 2%;
                    margin-top: 1%;
                    padding-left: 35px;
                    border-radius: 5px;
                    cursor: pointer;
                    position: relative;
                    .ant-checkbox-wrapper {
                        margin-right: 10px !important;
                        margin-left: 3px !important;
                    }
                    .preview-message {
                        min-width: 114px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        cursor: pointer !important;
                    }
                }
                .selected {
                    background: #efeefd !important;
                }
                .empty-messages {
                    display: flex;
                    width: 95%;
                    height: 100%;
                    position: relative;
                    align-items: center;
                    justify-content: center;
                    p {
                        margin: 0;
                        color: var(--gray);
                        font-family: 'InterSemiBold';
                        font-size: 16px;
                    }
                }
            }
            .rows-wrapper::-webkit-scrollbar {
                display: none;
            }

            .even .row-message {
                background-color: #f8f8f8;
                border-radius: 5px;
            }
            .hr-selected {
                background: #6557ff;
                border-radius: 0px 8px 8px 0px;
                position: absolute;
                height: 100%;
                width: 10px;
                top: 0;
                left: -12px;
            }
        }
        .message-wrapper {
            width: 60%;
            display: grid;

            height: calc(100% - 5px);
            position: relative;
            min-width: 310px;
            align-items: center;
            .row-data {
                overflow-wrap: anywhere;
                overflow: auto;
                height: 100%;
                padding-top: 10px;
                position: relative;
                .ant-space {
                    width: 100%;
                    .ant-collapse-content-box {
                        max-height: 325px;
                        overflow: auto;
                        overflow-wrap: break-word;
                    }
                }
            }
            .button-container {
                padding-top: 5px !important;
                margin-left: 3%;
                .botton-title {
                    display: flex;
                    svg {
                        margin-right: 5px;
                    }
                    p {
                        margin: 0;
                    }
                }
                .noHover {
                    display: block !important;
                }
            }
            .memphis-gif {
                display: flex;
                justify-content: center;
                div {
                    width: 10vw;
                }
            }
            .placeholder {
                align-items: center;
                display: flex;
                flex-direction: column;
                gap: 20px;
                position: absolute;
                justify-self: center;
                p {
                    font-family: 'InterSemiBold';
                    font-size: 16px;
                    color: rgba(74, 73, 92, 0.8);
                }
            }
        }
        .message-wrapper-dls {
            grid-template-rows: 90% 10%;
        }
        .check-box-message {
            position: absolute;
            z-index: 2;
            padding-top: 6px;
            padding-left: 15px;
        }
    }
    .empty-messages {
        display: flex;
        width: 95%;
        height: calc(100% - 100px);
        position: relative;
        align-items: center;
        justify-content: center;
        p {
            margin: 0;
            color: var(--gray);
            font-family: 'InterSemiBold';
            font-size: 16px;
        }
    }
    .details {
        padding: 4% 6% 4% 4%;
        margin-left: 2.5%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: calc(100% - 100px);
        overflow: scroll;
    }
}
