.logs-wrapper {
    display: flex;
    width: 100%;
    position: relative;
    gap: 30px;
    height: calc(100% - 90px);
    overflow-wrap: anywhere;
    margin-top: 25px;
    logs {
        background: white;
        box-shadow: 0px 6px 18px rgb(0 0 0 / 6%);
        border-radius: 8px;
        height: 100%;
        width: 450px;
        min-width: 300px;
        min-height: 400px;
        list-header {
            .header-title {
                font-family: 'InterSemiBold';
                font-size: 18px;
                color: #1d1d1d;
                padding: 25px;
                line-height: 18px;
            }
            .search-input-container {
                margin-right: 0;
                display: flex;
                justify-content: center;
            }
        }
        .logsl {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            align-items: center;
            margin-top: 10px;
            height: calc(100% - 90px) !important;
            text-align: -webkit-center;
            text-align: -moz-center;
            .even .log-payload {
                background-color: #f9f9fa;
                border-radius: 4px;
            }
        }
    }
}
